Repository BirthdayResearch/jellyfishsdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera, @kodemon, @eli-lim, @joeldavidw, @nichellekoh, @cwkang1998

don't perform app release on forks
  .github/workflows/release-apps.yml
Owners: @fuxingloh

feat(workflow): Ignore publish docker image on forked branches/repositories (#1607)
  .github/workflows/release-apps.yml
Owners: @fuxingloh

add txn_builder_acc_future_swap dfi-to-dusd futureswap test
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_future_swap.test.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

add txn_builder_acc_future_swap dfi-to-dusd withdrawfutureswap test
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_future_swap.test.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

test future withdraw swap hex
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_account/FutureSwap.test.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

move dex fee on best path prop
  apps/whale-api/src/module.api/poolpair.controller.e2e.ts
  apps/whale-api/src/module.api/poolpair.fees.controller.e2e.ts
  apps/whale-api/src/module.api/poolpair.fees.service.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
  packages/whale-api-client/src/api/poolpairs.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

remove comments
  apps/whale-api/src/module.api/poolpair.fees.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

pluralize dex fees interface
  apps/whale-api/src/module.api/poolpair.controller.e2e.ts
  apps/whale-api/src/module.api/poolpair.fees.controller.e2e.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
  packages/whale-api-client/src/api/poolpairs.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

fix lint issue on defid cache def fees
  apps/whale-api/src/module.api/cache/defid.cache.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

remove bidirectional test
  apps/whale-api/src/module.api/poolpair.controller.e2e.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

refactor variable naming and order, extra eol
  apps/whale-api/src/module.api/poolpair.fees.service.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

add defid cache on dex fees
  apps/libs/caches/src/GlobalCache.ts
  apps/whale-api/src/module.api/cache/defid.cache.ts
  apps/whale-api/src/module.api/poolpair.fees.controller.e2e.ts
  apps/whale-api/src/module.api/poolpair.fees.service.ts
Owners: @fuxingloh, @eli-lim, @kodemon, @canonbrother, @ivan-zynesis, @jingyi2811

fix computation on loop
  apps/whale-api/src/module.api/poolpair.controller.e2e.ts
  apps/whale-api/src/module.api/poolpair.fees.controller.e2e.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

rename test description
  apps/whale-api/src/module.api/poolpair.fees.controller.e2e.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

compute dex fees based on path
  apps/whale-api/src/module.api/poolpair.fees.controller.e2e.ts
  apps/whale-api/src/module.api/poolpair.fees.service.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
  packages/whale-api-client/src/api/poolpairs.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

add dex fees on get best path
  apps/whale-api/src/module.api/_module.ts
  apps/whale-api/src/module.api/poolpair.controller.e2e.ts
  apps/whale-api/src/module.api/poolpair.fees.controller.e2e.ts
  apps/whale-api/src/module.api/poolpair.fees.service.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
  packages/whale-api-client/src/api/poolpairs.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

rename misleading interface
  apps/whale-api/src/module.api/poolpair.fees.service.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
  packages/whale-api-client/src/api/poolpairs.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

remove extra space
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

rename controller e2e to service
  apps/whale-api/src/module.api/poolpair.fees.service.e2e.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

feat(jellyfish-api-core): Asymmetric pool swap fee (#1577)
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/getPoolPair.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/poolswap.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

test fs while dfip2206f not active
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_future_swap.test.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

feat(whale-api): whitelist sendrawtransaction for RPC
  .idea/dictionaries/fuxing.xml
  apps/whale-api/src/module.api/rpc.controller.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

feat(whale-api): whitelist sendrawtransaction for RPC (#1608)
  .idea/dictionaries/fuxing.xml
  apps/whale-api/src/module.api/rpc.controller.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

feat(whale-api): whitelist getpendingdusdswaps for RpcController
  apps/whale-api/src/module.api/rpc.controller.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

Update docker-compose.yml
  apps/whale-api/docker-compose.yml
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

feat(jellyfish-api-core): add rpc `listPendingDusdSwaps` and `getPendingDusdSwaps` with `dfip2206f` test (#1587)
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/getPendingDusdSwaps.test.ts
  packages/jellyfish-api-core/__tests__/category/account/listPendingDusdSwaps.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_future_swap.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_account/FutureSwap.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

chore(jellyfish-api-core): add more tests for poolSwap maxPrice and dex fees
  packages/jellyfish-api-core/__tests__/category/poolpair/poolswap.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

chore(whale-api): remove `-disablewallet=1` on `apps/whale-api/docker-compose.yml` (#1611)
  apps/whale-api/docker-compose.yml
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

add composite tests via txn_builder
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_dex_compositeswap_maxprice.test.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

add higher max price, so it won't fail due to change of precision
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_dex_compositeswap_maxprice.test.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

remove defid cache and use poolpair info on dex
  apps/whale-api/src/module.api/cache/defid.cache.ts
  apps/whale-api/src/module.api/poolpair.controller.e2e.ts
  apps/whale-api/src/module.api/poolpair.fees.service.e2e.ts
  apps/whale-api/src/module.api/poolpair.fees.service.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
  packages/whale-api-client/src/api/poolpairs.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

remove defid cache enum
  apps/libs/caches/src/GlobalCache.ts
Owners: @fuxingloh, @eli-lim, @kodemon

revert compute refactor changes
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

remove spacing
  apps/libs/caches/src/GlobalCache.ts
Owners: @fuxingloh, @eli-lim, @kodemon

docs(README.md): update readme to reflect post whale-api consolidation changes
  README.md
Owners: @fuxingloh

docs(README.md): update readme to reflect post whale-api consolidation changes (#1619)
  README.md
Owners: @fuxingloh

Apply suggestions from code review
  packages/jellyfish-api-core/__tests__/category/poolpair/poolswap.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_dex_compositeswap_maxprice.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

rm semicolon
  packages/jellyfish-api-core/__tests__/category/poolpair/poolswap.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_dex_compositeswap_maxprice.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

fix StatsCtrl by adding dfip2206f prop
  apps/legacy-api/__tests__/controllers/StatsController.test.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim

chore(jellyfish-api-core): add more tests for poolSwap maxPrice and dex fees (#1612)
  apps/legacy-api/__tests__/controllers/StatsController.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/poolswap.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_dex_compositeswap_maxprice.test.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

.github/CODEOWNERS:

# Define individuals that are responsible for code in this repository.
# More details are here: https://help.github.com/articles/about-codeowners/

# SIG: Blockchain
/docs/node/                                     @fuxingloh @surangap @canonbrother @ivan-zynesis @jingyi2811 @chee-chyuan @chanakasameera

/packages/jellyfish-api-core/                   @fuxingloh @surangap @canonbrother @ivan-zynesis @jingyi2811 @chee-chyuan @chanakasameera
/packages/jellyfish-api-jsonrpc/                @fuxingloh @surangap
/packages/jellyfish-json/                       @fuxingloh @canonbrother
/packages/jellyfish-network/                    @fuxingloh @surangap @ivan-zynesis @canonbrother
/packages/jellyfish-block/                      @fuxingloh @surangap @ivan-zynesis @canonbrother
/packages/jellyfish-buffer/                     @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811
/packages/jellyfish-transaction/                @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811 @chee-chyuan
/packages/jellyfish-transaction-builder/        @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811 @chee-chyuan

# SIG: Ecosystem
/website/                                       @fuxingloh @kodemon
/docs/ecosystem/                                @fuxingloh @canonbrother @ivan-zynesis
/docs/testing/                                  @fuxingloh @canonbrother @ivan-zynesis

/apps/libs                                      @fuxingloh @eli-lim @kodemon

/docs/legacy/                                   @fuxingloh @eli-lim
/apps/legacy-api/                               @fuxingloh @joeldavidw @eli-lim

/apps/status-api/                               @fuxingloh @joeldavidw @nichellekoh

/docs/ocean/                                    @fuxingloh @canonbrother @ivan-zynesis
/apps/ocean-api/                                @fuxingloh @canonbrother @kodemon
/packages/ocean-api-client/                     @fuxingloh @canonbrother @kodemon

/apps/playground-api/                           @fuxingloh @canonbrother @surangap
/packages/playground-api-client/                @fuxingloh @canonbrother @surangap

/apps/whale-api/                                @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim
/packages/whale-api-client/                     @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim
/packages/whale-api-wallet/                     @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim

/packages/jellyfish-testing/                    @fuxingloh @canonbrother @jingyi2811 @surangap
/packages/playground/                           @fuxingloh @canonbrother
/packages/testcontainers/                       @fuxingloh @canonbrother @surangap
/packages/testing/                              @fuxingloh @canonbrother @surangap

# SIG: Wallet
/packages/jellyfish-address/                    @fuxingloh @ivan-zynesis
/packages/jellyfish-crypto/                     @fuxingloh @ivan-zynesis @surangap
/packages/jellyfish-transaction-signature/      @fuxingloh @ivan-zynesis @surangap

/packages/jellyfish-wallet/                     @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-classic/             @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-encrypted/           @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-mnemonic/            @fuxingloh @ivan-zynesis

/apps/rich-list-api/                            @ivan-zynesis @cwkang1998
/packages/rich-list-api-client/                 @ivan-zynesis @cwkang1998

# Chore
/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh
Dockerfile                                      @fuxingloh @kodemon
.dockerignore                                   @fuxingloh
lerna.json                                      @fuxingloh @canonbrother @ivan-zynesis
tsconfig.json                                   @fuxingloh @canonbrother @ivan-zynesis
tsconfig.base.json                              @fuxingloh @canonbrother @ivan-zynesis
tsconfig.build.json                             @fuxingloh @canonbrother @ivan-zynesis
jest.config.js                                  @fuxingloh @canonbrother @ivan-zynesis
package.json                                    @fuxingloh
package-lock.json                               @fuxingloh
.codeclimate.yml                                @fuxingloh
.eslintrc                                       @fuxingloh
netlify.toml                                    @fuxingloh
CONTRIBUTING.md                                 @fuxingloh
README.md                                       @fuxingloh
LICENSE                                         @fuxingloh
