Repository BirthdayResearch/jellyfishsdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @jingyi2811, @thedoublejay, @canonbrother, @ivan-zynesis, @siradji, @aikchun, @surangap, @monstrobishi

feeRate as BigNumber
  packages/jellyfish-api-core/src/category/spv.ts
Owners: @fuxingloh, @canonbrother, @jingyi2811, @thedoublejay, @ivan-zynesis, @siradji, @aikchun

claimHtlc API documentation
  website/docs/jellyfish/api/spv.md
Owners: none

Change APPLE to APPL, TESLA to TSLA and oracleid to oracleId
  packages/jellyfish-api-core/__tests__/category/oracle/appointOracle.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/getOracleData.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/getPrice.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/listLatestRawPrices.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/listOracles.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/listPrices.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/removeOracle.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/setOracleData.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/updateOracle.test.ts
  packages/jellyfish-api-core/src/category/oracle.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_oracles/AppointOracle.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_oracles/SetOracleData.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_oracles/UpdateOracle.test.ts
  website/docs/jellyfish/api/oracle.md
Owners: @fuxingloh, @canonbrother, @jingyi2811, @thedoublejay, @ivan-zynesis, @siradji, @aikchun

Added restart functionality to MasterNodeRegTestContainer. Fixed generatetoaddress rpc.
  packages/testcontainers/__tests__/containerRestart.test.ts
  packages/testcontainers/src/chains/defid_container.ts
  packages/testcontainers/src/chains/docker_container.ts
  packages/testcontainers/src/chains/reg_test_container/masternode.ts
Owners: @fuxingloh, @canonbrother

Add listLoanSchemes rpc
  packages/jellyfish-api-core/__tests__/category/loan/createLoanScheme.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/listLoanSchemes.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
Owners: @fuxingloh, @canonbrother, @jingyi2811, @thedoublejay, @ivan-zynesis, @siradji, @aikchun

Fix wrong commit
  packages/jellyfish-api-core/src/category/spv.ts
  website/docs/jellyfish/api/spv.md
  website/sidebars.js
Owners: @fuxingloh, @canonbrother, @jingyi2811, @thedoublejay, @ivan-zynesis, @siradji, @aikchun

Fix wrong commit
  packages/jellyfish-api-core/__tests__/category/spv/sendToAddress.test.ts
Owners: @fuxingloh, @canonbrother, @jingyi2811, @thedoublejay, @ivan-zynesis, @siradji, @aikchun

Keep oracleId variable return from C++ side oracleid (All lowercase)
  packages/jellyfish-api-core/__tests__/category/oracle/appointOracle.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/getOracleData.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/listLatestRawPrices.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/setOracleData.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/updateOracle.test.ts
  packages/jellyfish-api-core/src/category/oracle.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_oracles/AppointOracle.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_oracles/SetOracleData.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_oracles/UpdateOracle.test.ts
Owners: @fuxingloh, @canonbrother, @jingyi2811, @thedoublejay, @ivan-zynesis, @siradji, @aikchun

fix api documentation
  website/docs/jellyfish/api/spv.md
Owners: none

type options as SendToAddressoptions
  packages/jellyfish-api-core/src/category/spv.ts
Owners: @fuxingloh, @canonbrother, @jingyi2811, @thedoublejay, @ivan-zynesis, @siradji, @aikchun

Add destroyLoanScheme rpc
  packages/jellyfish-api-core/__tests__/category/loan/createLoanScheme.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/destroyLoanScheme.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
Owners: @fuxingloh, @canonbrother, @jingyi2811, @thedoublejay, @ivan-zynesis, @siradji, @aikchun

Improve test
  packages/jellyfish-api-core/__tests__/category/loan/destroyLoanScheme.test.ts
Owners: @fuxingloh, @canonbrother, @jingyi2811, @thedoublejay, @ivan-zynesis, @siradji, @aikchun

Improve text
  packages/jellyfish-api-core/__tests__/category/loan/destroyLoanScheme.test.ts
Owners: @fuxingloh, @canonbrother, @jingyi2811, @thedoublejay, @ivan-zynesis, @siradji, @aikchun

Returned oracle id variable from ain should be lowercase [oracleid]
  website/docs/jellyfish/api/oracle.md
Owners: none

Fix wrong comment
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_oracles/AppointOracle.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_oracles/SetOracleData.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_oracles/UpdateOracle.test.ts
Owners: @fuxingloh, @ivan-zynesis, @canonbrother

Refactored code.
  packages/testcontainers/__tests__/containerRestart.test.ts
  packages/testcontainers/src/chains/defid_container.ts
  packages/testcontainers/src/chains/reg_test_container/masternode.ts
Owners: @fuxingloh, @canonbrother

Add setDefaultLoanScheme rpc
  packages/jellyfish-api-core/__tests__/category/loan/createLoanScheme.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/setDefaultLoanScheme.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
Owners: @fuxingloh, @canonbrother, @jingyi2811, @thedoublejay, @ivan-zynesis, @siradji, @aikchun

Added SPV getHtlcSeed RPC
  packages/jellyfish-api-core/__tests__/category/spv/getHtlcSeed.test.ts
  packages/jellyfish-api-core/src/category/spv.ts
  website/docs/jellyfish/api/spv.md
Owners: @fuxingloh, @canonbrother, @jingyi2811, @thedoublejay, @ivan-zynesis, @siradji, @aikchun

Revert "Add setDefaultLoanScheme rpc"
  packages/jellyfish-api-core/__tests__/category/loan/createLoanScheme.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/setDefaultLoanScheme.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
Owners: @fuxingloh, @canonbrother, @jingyi2811, @thedoublejay, @ivan-zynesis, @siradji, @aikchun

Add setDefaultLoanScheme rpc
  packages/jellyfish-api-core/__tests__/category/loan/createLoanScheme.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/setDefaultLoanScheme.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
Owners: @fuxingloh, @canonbrother, @jingyi2811, @thedoublejay, @ivan-zynesis, @siradji, @aikchun

Added SPV sendToAddress RPC (#506)
  packages/jellyfish-api-core/__tests__/category/spv/sendToAddress.test.ts
  packages/jellyfish-api-core/src/category/spv.ts
  website/docs/jellyfish/api/spv.md
Owners: @fuxingloh, @canonbrother, @jingyi2811, @thedoublejay, @ivan-zynesis, @siradji, @aikchun

Fixed failing listHTLCs test due to jest timeout.
  packages/jellyfish-api-core/__tests__/category/icxorderbook/listHTLCs.test.ts
Owners: @fuxingloh, @surangap, @monstrobishi, @canonbrother

.github/CODEOWNERS:

# Define individuals that are responsible for code in this repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh
/.idea/                                         @fuxingloh @jingyi2811 @thedoublejay

/packages/jellyfish/                            @fuxingloh @canonbrother
/packages/jellyfish-address/                    @fuxingloh @ivan-zynesis

/packages/jellyfish-api-core/                                   @fuxingloh @canonbrother @jingyi2811 @thedoublejay @ivan-zynesis @siradji @aikchun

/packages/jellyfish-api-core/src/category/icxorderbook.ts       @fuxingloh @surangap @monstrobishi @canonbrother
/packages/jellyfish-api-core/__tests__/category/icxorderbook    @fuxingloh @surangap @monstrobishi @canonbrother

/packages/jellyfish-api-jsonrpc/                @fuxingloh @thedoublejay
/packages/jellyfish-crypto/                     @fuxingloh @ivan-zynesis
/packages/jellyfish-json/                       @fuxingloh @canonbrother
/packages/jellyfish-network/                    @fuxingloh @ivan-zynesis

/packages/jellyfish-transaction/                            @fuxingloh @ivan-zynesis @canonbrother
/packages/jellyfish-transaction/src/script/                 @fuxingloh @canonbrother @ivan-zynesis @jingyi2811
/packages/jellyfish-transaction/src/script/dftx/            @fuxingloh @canonbrother @ivan-zynesis @monstrobishi

/packages/jellyfish-transaction-builder/        @fuxingloh @ivan-zynesis @monstrobishi
/packages/jellyfish-transaction-signature/      @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet/                     @fuxingloh @ivan-zynesis @monstrobishi
/packages/jellyfish-wallet-classic/             @fuxingloh @ivan-zynesis @monstrobishi
/packages/jellyfish-wallet-encrypted/           @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-mnemonic/            @fuxingloh @ivan-zynesis

/packages/testcontainers/                       @fuxingloh @canonbrother
/packages/testing/                              @fuxingloh @canonbrother

lerna.json                                      @fuxingloh @canonbrother
tsconfig.json                                   @fuxingloh @canonbrother @ivan-zynesis
tsconfig.base.json                              @fuxingloh @canonbrother @ivan-zynesis
tsconfig.build.json                             @fuxingloh @canonbrother @ivan-zynesis
jest.config.js                                  @fuxingloh @canonbrother @ivan-zynesis
package.json                                    @fuxingloh
package-lock.json                               @fuxingloh

CONTRIBUTING.md                                 @fuxingloh @canonbrother @jingyi2811
README.md                                       @fuxingloh
LICENSE                                         @fuxingloh
