Repository BirthdayResearch/jellyfishsdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera, @kodemon, @eli-lim, @joeldavidw, @nichellekoh, @cwkang1998

.github/CODEOWNERS:

# Define individuals that are responsible for code in this repository.
# More details are here: https://help.github.com/articles/about-codeowners/

# SIG: Blockchain
/docs/node/                                     @fuxingloh @surangap @canonbrother @ivan-zynesis @jingyi2811 @chee-chyuan @chanakasameera

/packages/jellyfish-api-core/                   @fuxingloh @surangap @canonbrother @ivan-zynesis @jingyi2811 @chee-chyuan @chanakasameera
/packages/jellyfish-api-jsonrpc/                @fuxingloh @surangap
/packages/jellyfish-json/                       @fuxingloh @canonbrother
/packages/jellyfish-network/                    @fuxingloh @surangap @ivan-zynesis @canonbrother
/packages/jellyfish-block/                      @fuxingloh @surangap @ivan-zynesis @canonbrother
/packages/jellyfish-buffer/                     @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811
/packages/jellyfish-transaction/                @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811 @chee-chyuan
/packages/jellyfish-transaction-builder/        @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811 @chee-chyuan

# SIG: Ecosystem
/website/                                       @fuxingloh @kodemon
/docs/ecosystem/                                @fuxingloh @canonbrother @ivan-zynesis
/docs/testing/                                  @fuxingloh @canonbrother @ivan-zynesis

/apps/libs                                      @fuxingloh @eli-lim @kodemon

/docs/legacy/                                   @fuxingloh @eli-lim
/apps/legacy-api/                               @fuxingloh @joeldavidw @eli-lim

/apps/status-api/                               @fuxingloh @joeldavidw @nichellekoh

/docs/ocean/                                    @fuxingloh @canonbrother @ivan-zynesis
/apps/ocean-api/                                @fuxingloh @canonbrother @kodemon
/packages/ocean-api-client/                     @fuxingloh @canonbrother @kodemon

/apps/playground-api/                           @fuxingloh @canonbrother @surangap
/packages/playground-api-client/                @fuxingloh @canonbrother @surangap

/apps/whale-api/                                @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim
/packages/whale-api-client/                     @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim
/packages/whale-api-wallet/                     @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim

/packages/jellyfish-testing/                    @fuxingloh @canonbrother @jingyi2811 @surangap
/packages/playground/                           @fuxingloh @canonbrother
/packages/testcontainers/                       @fuxingloh @canonbrother @surangap
/packages/testing/                              @fuxingloh @canonbrother @surangap

# SIG: Wallet
/packages/jellyfish-address/                    @fuxingloh @ivan-zynesis
/packages/jellyfish-crypto/                     @fuxingloh @ivan-zynesis @surangap
/packages/jellyfish-transaction-signature/      @fuxingloh @ivan-zynesis @surangap

/packages/jellyfish-wallet/                     @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-classic/             @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-encrypted/           @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-mnemonic/            @fuxingloh @ivan-zynesis

/apps/rich-list-api/                            @ivan-zynesis @cwkang1998
/packages/rich-list-api-client/                 @ivan-zynesis @cwkang1998

# Chore
/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh
Dockerfile                                      @fuxingloh @kodemon
.dockerignore                                   @fuxingloh
lerna.json                                      @fuxingloh @canonbrother @ivan-zynesis
tsconfig.json                                   @fuxingloh @canonbrother @ivan-zynesis
tsconfig.base.json                              @fuxingloh @canonbrother @ivan-zynesis
tsconfig.build.json                             @fuxingloh @canonbrother @ivan-zynesis
jest.config.js                                  @fuxingloh @canonbrother @ivan-zynesis
package.json                                    @fuxingloh
package-lock.json                               @fuxingloh
.codeclimate.yml                                @fuxingloh
.eslintrc                                       @fuxingloh
netlify.toml                                    @fuxingloh
CONTRIBUTING.md                                 @fuxingloh
README.md                                       @fuxingloh
LICENSE                                         @fuxingloh

add e2e test for both direction
  apps/whale-api/src/module.api/poolpair.fees.service.e2e.ts
  apps/whale-api/src/module.api/poolpair.fees.service.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

include dex fees in estimated return
  apps/whale-api/src/module.api/poolpair.fees.service.e2e.ts
  apps/whale-api/src/module.api/poolpair.fees.service.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
  packages/whale-api-client/src/api/poolpairs.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

add paybackburntokens
  apps/legacy-api/src/controllers/stats/LegacyStatsProvider.ts
  apps/whale-api/src/module.api/stats.controller.ts
  packages/whale-api-client/__tests__/api/stats.test.ts
  packages/whale-api-client/src/api/stats.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon

add todo
  apps/legacy-api/__tests__/controllers/StatsController.test.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim

typo
  apps/legacy-api/__tests__/controllers/StatsController.test.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim

separate estimated return with dex fees for denom prices
  apps/whale-api/src/module.api/poolpair.controller.e2e.ts
  apps/whale-api/src/module.api/poolpair.fees.service.e2e.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
  packages/whale-api-client/src/api/poolpairs.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

test dct token on acctoacc
  packages/jellyfish-transaction-builder/__tests__/txn/varint_gt_128.test.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan
