Repository BirthdayResearch/jellyfishsdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera, @kodemon, @eli-lim, @joeldavidw, @nichellekoh, @cwkang1998

change to use simple cache
  apps/whale-api/src/module.api/_module.ts
  apps/whale-api/src/module.api/legacy.controller.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

skip prod-dependent getsubgraphswaps tests
  apps/legacy-api/__tests__/controllers/PoolPairController.test.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim

restore caching and change SupportedNetwork to NetworkName instead
  apps/whale-api/src/module.api/legacy.subgraph.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

remove trailing forward slash in url
  apps/legacy-api/src/modules/RootModule.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim

refactor(poolpairs): refactor poolpairs and token services to use cached defid (#1561)
  apps/whale-api/src/module.api/_module.ts
  apps/whale-api/src/module.api/address.controller.spec.ts
  apps/whale-api/src/module.api/cache/defid.cache.spec.ts
  apps/whale-api/src/module.api/cache/defid.cache.ts
  apps/whale-api/src/module.api/poolpair.controller.ts
  apps/whale-api/src/module.api/poolpair.prices.service.ts
  apps/whale-api/src/module.api/poolpair.service.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

change listpoolpairs to getpoolpairs
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

feat(migrate-getsubgraphswaps): Migrated getsubgraphswaps logic (#1514)
  apps/legacy-api/__tests__/controllers/PoolPairController.test.ts
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/legacy-api/src/modules/ControllerModule.ts
  apps/legacy-api/src/modules/RootModule.ts
  apps/legacy-api/src/pipes/NetworkValidationPipe.ts
  apps/legacy-api/testing/LegacyStubServer.ts
  apps/libs/caches/src/LegacyCache.ts
  apps/libs/caches/src/index.ts
  apps/package.json
  apps/whale-api/src/module.api/_module.ts
  apps/whale-api/src/module.api/legacy.controller.e2e.ts
  apps/whale-api/src/module.api/legacy.controller.ts
  apps/whale-api/src/module.api/legacy.subgraph.service.ts
  apps/whale-api/src/module.api/stats.controller.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim, @kodemon, @canonbrother, @ivan-zynesis, @jingyi2811

fix ids
  apps/whale-api/src/module.indexer/model/dftx/create.pool.pair.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

fix(indexer): regression missing object for create.pool.pair and create.token
  apps/whale-api/src/module.indexer/model/dftx/create.pool.pair.ts
  apps/whale-api/src/module.indexer/model/dftx/create.token.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

add logging
  apps/whale-api/src/module.indexer/model/dftx/create.pool.pair.ts
  apps/whale-api/src/module.indexer/model/dftx/create.token.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

correct the poolId
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

fix pool.pair.e2e.ts invalidation test
  apps/whale-api/src/module.indexer/model/dftx/pool.pair.e2e.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

missing DeFiDCache
  apps/whale-api/src/module.api/_module.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

fix wrong merge
  apps/whale-api/src/module.api/_module.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

fix whaleapiclient poolpair.test.ts
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

Updated the listAccountHistory api with new pagination key amountFormat + test
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/listAccountHistory.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

Apply suggestions from code review
  apps/whale-api/src/e2e.module.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

Add PoolPairPathMapping to do resolution instead of relying on DeFiDCache entirely
  apps/whale-api/src/module.api/cache/defid.cache.ts
  apps/whale-api/src/module.indexer/model/dftx/composite.swap.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

fix invalidate error
  apps/whale-api/src/module.api/cache/defid.cache.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

fix barrel roll issues
  apps/whale-api/src/module.indexer/model/dftx/composite.swap.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.pair.path.mapping.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

add missing module
  apps/whale-api/src/module.indexer/model/dftx/_module.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

fixed injection error
  apps/whale-api/src/module.indexer/model/dftx/_module.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.pair.path.mapping.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

don't create bucket for PoolPair if block.height is greater
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

rollback line diff changes
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

update logic to gt instead of GTE
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

Fix PoolPair not found or wrong PoolPair (post split) issue on indexer by using id only (#1567)
  apps/whale-api/src/module.api/cache/defid.cache.ts
  apps/whale-api/src/module.indexer/model/dftx/_module.ts
  apps/whale-api/src/module.indexer/model/dftx/composite.swap.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.pair.path.mapping.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

fix PoolSwapAggregatedIndexer to only index aggregate if it's present at the current block height
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

Added a test to check default symbol format
  packages/jellyfish-api-core/__tests__/category/account/listAccountHistory.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

fix(apps/whale-api): rm tokenmapper poolpairmapper indexers use cached rpc (#1547)
  apps/whale-api/src/module.api/_module.ts
  apps/whale-api/src/module.api/cache/defid.cache.ts
  apps/whale-api/src/module.api/poolpair.controller.e2e.ts
  apps/whale-api/src/module.indexer/model/dftx.indexer.ts
  apps/whale-api/src/module.indexer/model/dftx/_module.ts
  apps/whale-api/src/module.indexer/model/dftx/composite.swap.spec.ts
  apps/whale-api/src/module.indexer/model/dftx/composite.swap.ts
  apps/whale-api/src/module.indexer/model/dftx/create.pool.pair.spec.ts
  apps/whale-api/src/module.indexer/model/dftx/create.pool.pair.ts
  apps/whale-api/src/module.indexer/model/dftx/create.token.spec.ts
  apps/whale-api/src/module.indexer/model/dftx/create.token.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.pair.e2e.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.pair.path.mapping.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.ts
  apps/whale-api/src/module.indexer/model/dftx/set.loan.token.spec.ts
  apps/whale-api/src/module.indexer/model/dftx/set.loan.token.ts
  apps/whale-api/src/module.indexer/model/dftx/update.pool.pair.spec.ts
  apps/whale-api/src/module.indexer/model/dftx/update.pool.pair.ts
  apps/whale-api/src/module.indexer/rpc.block.provider.ts
  apps/whale-api/src/module.model/_module.ts
  apps/whale-api/src/module.model/pool.pair.history.ts
  apps/whale-api/src/module.model/pool.pair.token.ts
  apps/whale-api/src/module.model/token.ts
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

Test ain image of #1338
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @canonbrother, @surangap

fix(whale-indexer): PoolSwapAggregatedIndexer not to index pool pair before its creation height
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

fix(whale-indexer): PoolSwapAggregatedIndexer not to index pool pair before its creation height
  apps/whale-api/src/e2e.module.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.pair.e2e.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.ts
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/__tests__/stub.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

revert unrelated changes
  apps/whale-api/src/e2e.module.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
  packages/whale-api-client/__tests__/stub.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

add a note to why pool.swap.aggregated.ts need to be sorted
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

Update apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

Update apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

Apply suggestions from code review
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

Update apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

fix(whale-indexer): PoolSwapAggregatedIndexer not to index pool pair before its creation height (#1570)
  apps/whale-api/src/module.indexer/model/dftx/pool.pair.e2e.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.ts
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

Update jellyfish tests with respect to index to pagination fix in listauctionhistory
  packages/jellyfish-api-core/__tests__/category/vault/listAuctionHistory.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

.github/CODEOWNERS:

# Define individuals that are responsible for code in this repository.
# More details are here: https://help.github.com/articles/about-codeowners/

# SIG: Blockchain
/docs/node/                                     @fuxingloh @surangap @canonbrother @ivan-zynesis @jingyi2811 @chee-chyuan @chanakasameera

/packages/jellyfish-api-core/                   @fuxingloh @surangap @canonbrother @ivan-zynesis @jingyi2811 @chee-chyuan @chanakasameera
/packages/jellyfish-api-jsonrpc/                @fuxingloh @surangap
/packages/jellyfish-json/                       @fuxingloh @canonbrother
/packages/jellyfish-network/                    @fuxingloh @surangap @ivan-zynesis @canonbrother
/packages/jellyfish-block/                      @fuxingloh @surangap @ivan-zynesis @canonbrother
/packages/jellyfish-buffer/                     @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811
/packages/jellyfish-transaction/                @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811 @chee-chyuan
/packages/jellyfish-transaction-builder/        @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811 @chee-chyuan

# SIG: Ecosystem
/website/                                       @fuxingloh @kodemon
/docs/ecosystem/                                @fuxingloh @canonbrother @ivan-zynesis
/docs/testing/                                  @fuxingloh @canonbrother @ivan-zynesis

/apps/libs                                      @fuxingloh @eli-lim @kodemon

/docs/legacy/                                   @fuxingloh @eli-lim
/apps/legacy-api/                               @fuxingloh @joeldavidw @eli-lim

/apps/status-api/                               @fuxingloh @joeldavidw @nichellekoh

/docs/ocean/                                    @fuxingloh @canonbrother @ivan-zynesis
/apps/ocean-api/                                @fuxingloh @canonbrother @kodemon
/packages/ocean-api-client/                     @fuxingloh @canonbrother @kodemon

/apps/playground-api/                           @fuxingloh @canonbrother @surangap
/packages/playground-api-client/                @fuxingloh @canonbrother @surangap

/apps/whale-api/                                @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim
/packages/whale-api-client/                     @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim
/packages/whale-api-wallet/                     @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim

/packages/jellyfish-testing/                    @fuxingloh @canonbrother @jingyi2811 @surangap
/packages/playground/                           @fuxingloh @canonbrother
/packages/testcontainers/                       @fuxingloh @canonbrother @surangap
/packages/testing/                              @fuxingloh @canonbrother @surangap

# SIG: Wallet
/packages/jellyfish-address/                    @fuxingloh @ivan-zynesis
/packages/jellyfish-crypto/                     @fuxingloh @ivan-zynesis @surangap
/packages/jellyfish-transaction-signature/      @fuxingloh @ivan-zynesis @surangap

/packages/jellyfish-wallet/                     @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-classic/             @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-encrypted/           @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-mnemonic/            @fuxingloh @ivan-zynesis

/apps/rich-list-api/                            @ivan-zynesis @cwkang1998
/packages/rich-list-api-client/                 @ivan-zynesis @cwkang1998

# Chore
/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh
Dockerfile                                      @fuxingloh @kodemon
.dockerignore                                   @fuxingloh
lerna.json                                      @fuxingloh @canonbrother @ivan-zynesis
tsconfig.json                                   @fuxingloh @canonbrother @ivan-zynesis
tsconfig.base.json                              @fuxingloh @canonbrother @ivan-zynesis
tsconfig.build.json                             @fuxingloh @canonbrother @ivan-zynesis
jest.config.js                                  @fuxingloh @canonbrother @ivan-zynesis
package.json                                    @fuxingloh
package-lock.json                               @fuxingloh
.codeclimate.yml                                @fuxingloh
.eslintrc                                       @fuxingloh
netlify.toml                                    @fuxingloh
CONTRIBUTING.md                                 @fuxingloh
README.md                                       @fuxingloh
LICENSE                                         @fuxingloh
