Repository BirthdayResearch/jellyfishsdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @eli-lim, @joeldavidw, @nichellekoh, @canonbrother, @thedoublejay, @kyleleow, @pierregee, @ivan-zynesis

feat(poolpair): add updatepoolpair function (#1958)
  docs/node/CATEGORIES/06-poolpair.md
  packages/jellyfish-api-core/__tests__/category/poolpair/updatePoolPair.test.ts
  packages/jellyfish-api-core/src/category/poolpair.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis

chore: Use proper container for decodeRawTransaction test
  packages/jellyfish-api-core/__tests__/category/rawtx/decodeRawTransaction.test.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis

chore: remove useless waitForWalletMaturity in decodeRawTransaction test
  packages/jellyfish-api-core/__tests__/category/rawtx/decodeRawTransaction.test.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis

feat(apps/whale-api): refactor getMemberMintStats function
  apps/whale-api/src/module.api/consortium.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @eli-lim, @thedoublejay, @kyleleow, @pierregee

chore: fix test name for decoderawtransaction
  packages/jellyfish-api-core/__tests__/category/rawtx/decodeRawTransaction.test.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis

chore: remove useless objectContaining for decoderawtransaction test
  packages/jellyfish-api-core/__tests__/category/rawtx/decodeRawTransaction.test.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis

feat(rawtx): add decodeRawTransaction function (#1963)
  docs/node/CATEGORIES/04-rawtx.md
  packages/jellyfish-api-core/__tests__/category/rawtx/decodeRawTransaction.test.ts
  packages/jellyfish-api-core/src/category/rawtx.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis

feat(jellyfish-transaction-builder): Add updatemasternode transaction builder (#1894)
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_masternode_update.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_masternode.ts
Owners: @fuxingloh, @ivan-zynesis, @canonbrother

.github/CODEOWNERS:

# Define individuals that are responsible for code in this repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/apps/libs                                      @fuxingloh @eli-lim

# Legacy API
/docs/legacy/                                   @fuxingloh @joeldavidw @eli-lim
/apps/legacy-api/                               @fuxingloh @joeldavidw @eli-lim

# Status API
/apps/status-api/                               @fuxingloh @joeldavidw @nichellekoh

# Playground API
/apps/playground-api/                           @fuxingloh @canonbrother @thedoublejay @kyleleow @pierregee
/packages/playground/                           @fuxingloh @canonbrother @thedoublejay @kyleleow @pierregee
/packages/playground-api-client/                @fuxingloh @canonbrother @thedoublejay @kyleleow @pierregee

# Whale API
/apps/whale-api/                                @fuxingloh @canonbrother @ivan-zynesis @eli-lim @thedoublejay @kyleleow @pierregee
/packages/whale-api-client/                     @fuxingloh @canonbrother @ivan-zynesis @eli-lim @thedoublejay @kyleleow @pierregee
/packages/whale-api-wallet/                     @fuxingloh @canonbrother @ivan-zynesis @eli-lim @thedoublejay @kyleleow @pierregee

# jellyfish api
/docs/node/                                     @fuxingloh @canonbrother @ivan-zynesis
/packages/jellyfish-api-core/                   @fuxingloh @canonbrother @ivan-zynesis 
/packages/jellyfish-api-jsonrpc/                @fuxingloh @canonbrother @ivan-zynesis

# jellyfish core
/packages/jellyfish-json/                       @fuxingloh @canonbrother
/packages/jellyfish-network/                    @fuxingloh @ivan-zynesis @canonbrother
/packages/jellyfish-block/                      @fuxingloh @ivan-zynesis @canonbrother
/packages/jellyfish-buffer/                     @fuxingloh @ivan-zynesis @canonbrother
/packages/jellyfish-transaction/                @fuxingloh @ivan-zynesis @canonbrother
/packages/jellyfish-transaction-builder/        @fuxingloh @ivan-zynesis @canonbrother
/packages/jellyfish-transaction-signature/      @fuxingloh @ivan-zynesis @canonbrother

# jellyfish testing
/packages/jellyfish-testing/                    @fuxingloh @canonbrother
/packages/playground/                           @fuxingloh @canonbrother
/packages/testcontainers/                       @fuxingloh @canonbrother
/packages/testing/                              @fuxingloh @canonbrother

# jellyfish wallet
/packages/jellyfish-address/                    @fuxingloh @ivan-zynesis
/packages/jellyfish-crypto/                     @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet/                     @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-classic/             @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-encrypted/           @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-mnemonic/            @fuxingloh @ivan-zynesis

# others
/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh
Dockerfile                                      @fuxingloh
.dockerignore                                   @fuxingloh
lerna.json                                      @fuxingloh
tsconfig.json                                   @fuxingloh
tsconfig.base.json                              @fuxingloh
tsconfig.build.json                             @fuxingloh
jest.config.js                                  @fuxingloh
package.json                                    @fuxingloh
package-lock.json                               @fuxingloh
.codeclimate.yml                                @fuxingloh
.eslintrc                                       @fuxingloh
netlify.toml                                    @fuxingloh
CONTRIBUTING.md                                 @fuxingloh
README.md                                       @fuxingloh
LICENSE                                         @fuxingloh
