Repository BirthdayResearch/jellyfishsdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera, @kodemon, @eli-lim, @joeldavidw, @nichellekoh, @cwkang1998

merge incoming change - use 2.9.0
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @canonbrother, @surangap

fix withdrawfutureswap error msg
  packages/jellyfish-api-core/__tests__/category/account/withdrawFutureSwap.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

merge incoming change - add dfip220f prop
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/getBurnInfo.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/whale-api-client/__tests__/api/stats.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera, @kodemon, @eli-lim

reword dfip2206f desc
  packages/jellyfish-api-core/src/category/account.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

fix err msg
  packages/jellyfish-api-core/__tests__/category/account/futureSwap.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_future_swap.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

fix err msg
  packages/jellyfish-api-core/__tests__/category/account/futureSwap.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_future_swap.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

fix duplicated @Get('/burn')
  apps/whale-api/src/module.api/stats.controller.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

chore(whale-api): /stats/burn data interface remapped on whale-api de to upstream standards drift
  .idea/dictionaries/fuxing.xml
  apps/legacy-api/src/controllers/stats/LegacyStatsProvider.ts
  apps/whale-api/src/module.api/stats.controller.ts
  packages/whale-api-client/src/api/stats.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon

add fcc and fcs on dc
  apps/rich-list-api/docker-compose.yml
  apps/whale-api/docker-compose.yml
Owners: @ivan-zynesis, @cwkang1998, @fuxingloh, @canonbrother, @jingyi2811, @kodemon, @eli-lim

feat(VarInt): add VarInt support using bn.js for bitwise operations (#1586)
  package-lock.json
  packages/jellyfish-buffer/__tests__/CompactSize.test.ts
  packages/jellyfish-buffer/__tests__/Composer.test.ts
  packages/jellyfish-buffer/__tests__/VarInt.test.ts
  packages/jellyfish-buffer/package.json
  packages/jellyfish-buffer/src/Composer.ts
  packages/jellyfish-buffer/src/VarInt.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811

fixed dftx_loans.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

fixed dftx_balance.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_balance/TokenBalance.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_balance.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

refactor dftx_token.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_token.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

fixed dftx_pool.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_pool.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

add 68c7902823139c4f5e4e81993e366e3499c8c9a90b4e41dd1fc1290d3735b30d test
  packages/jellyfish-transaction/__tests__/index.test.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

fixed dftx_account.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_account.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

add test for when varint is greater than 128 in varint_gt_128.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/varint_gt_128.test.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

fixed CVoutV4
  packages/jellyfish-transaction/src/tx.ts
  packages/jellyfish-transaction/src/tx_composer.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

fixed dftx_icxorderbook.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_icxorderbook.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

Alias TokenBalance as TokenBalanceUInt32 to prevent breaking change
  packages/jellyfish-transaction/src/script/dftx/dftx_balance.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

add sample ref for txid test
  packages/jellyfish-transaction/__tests__/index.test.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

chore(whale-api): /stats/burn BurnInfo remapped to BurnData due to upstream standards drift (#1590)
  .idea/dictionaries/fuxing.xml
  apps/legacy-api/src/controllers/stats/LegacyStatsProvider.ts
  apps/whale-api/src/module.api/stats.controller.ts
  packages/whale-api-client/src/api/stats.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon

legacyapi burninfo fix
  apps/legacy-api/__tests__/controllers/StatsController.test.ts
  apps/legacy-api/src/controllers/stats/LegacyStatsProvider.ts
  apps/whale-api/src/module.api/stats.controller.ts
  packages/whale-api-client/src/api/stats.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon

fix(jellyfish-transaction): wrong encoding standard used on DCT_ID, AccountToUtxo.mintingOutputsStart and Vout.nTokenId (#1588)
  packages/jellyfish-transaction-builder/__tests__/txn/varint_gt_128.test.ts
  packages/jellyfish-transaction/__tests__/index.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_balance/TokenBalance.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_account.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_balance.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_icxorderbook.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_pool.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_token.ts
  packages/jellyfish-transaction/src/tx.ts
  packages/jellyfish-transaction/src/tx_composer.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

Updated tests to match actual swapped values.
  packages/jellyfish-api-core/__tests__/category/loan/paybackLoan.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

Added pool swap tests for asymmetric fee directions
  packages/jellyfish-api-core/__tests__/category/poolpair/poolswap.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

sum up paybackburn[] to number
  apps/legacy-api/__tests__/controllers/StatsController.test.ts
  apps/legacy-api/src/controllers/stats/LegacyStatsProvider.ts
  apps/whale-api/src/module.api/stats.controller.ts
  packages/whale-api-client/__tests__/api/stats.test.ts
  packages/whale-api-client/src/api/stats.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon

payback will only return DFI value to make it backward compatible with downstream
  apps/whale-api/src/module.api/stats.controller.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

fix(package): Direct DUSD Burn at `2.9.0` (#1580)
  apps/legacy-api/__tests__/controllers/StatsController.test.ts
  apps/legacy-api/src/controllers/stats/LegacyStatsProvider.ts
  apps/rich-list-api/docker-compose.yml
  apps/whale-api/docker-compose.yml
  apps/whale-api/src/module.api/stats.controller.ts
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/futureSwap.test.ts
  packages/jellyfish-api-core/__tests__/category/account/getBurnInfo.test.ts
  packages/jellyfish-api-core/__tests__/category/account/withdrawFutureSwap.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/paybackLoan.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_future_swap.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_payback_loan.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
  packages/whale-api-client/__tests__/api/stats.test.ts
  packages/whale-api-client/src/api/stats.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim, @ivan-zynesis, @cwkang1998, @canonbrother, @jingyi2811, @kodemon, @surangap, @chee-chyuan, @chanakasameera

Updated with fort canning spring height, descriptions and typos
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/poolswap.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

Updated getVault tests to not depend on each other.
  packages/jellyfish-api-core/__tests__/category/loan/getVault.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/getVault.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

feat(jellyfish-api-core): add amount format option for listAccountHistory RPC (#1569)
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/listAccountHistory.test.ts
  packages/jellyfish-api-core/src/category/account.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

Added tests for dusd burn attribute keys.
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

feat(jellyfish-api-core): expose verbose info from getVault RPC (#1575)
  docs/node/CATEGORIES/17-vault.md
  packages/jellyfish-api-core/__tests__/category/loan/getVault.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/getVault.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/jellyfish-api-core/src/category/vault.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

Added a common function to pool swap
  packages/jellyfish-api-core/__tests__/category/poolpair/poolswap.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

Remove code duplications
  packages/jellyfish-api-core/__tests__/category/poolpair/poolswap.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

rm setGov.dfip2206f.test.ts, update setGov.test.ts & listPendingDusdSwaps.test.ts
  packages/jellyfish-api-core/__tests__/category/account/listPendingDusdSwaps.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.dfip2206f.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

feat(jellyfish-api-core): Add tests for dusd burn attribute keys. (#1603)
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

pr requests
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/getPendingDusdSwaps.test.ts
  packages/jellyfish-api-core/__tests__/category/account/listPendingDusdSwaps.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

move test order
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

.github/CODEOWNERS:

# Define individuals that are responsible for code in this repository.
# More details are here: https://help.github.com/articles/about-codeowners/

# SIG: Blockchain
/docs/node/                                     @fuxingloh @surangap @canonbrother @ivan-zynesis @jingyi2811 @chee-chyuan @chanakasameera

/packages/jellyfish-api-core/                   @fuxingloh @surangap @canonbrother @ivan-zynesis @jingyi2811 @chee-chyuan @chanakasameera
/packages/jellyfish-api-jsonrpc/                @fuxingloh @surangap
/packages/jellyfish-json/                       @fuxingloh @canonbrother
/packages/jellyfish-network/                    @fuxingloh @surangap @ivan-zynesis @canonbrother
/packages/jellyfish-block/                      @fuxingloh @surangap @ivan-zynesis @canonbrother
/packages/jellyfish-buffer/                     @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811
/packages/jellyfish-transaction/                @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811 @chee-chyuan
/packages/jellyfish-transaction-builder/        @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811 @chee-chyuan

# SIG: Ecosystem
/website/                                       @fuxingloh @kodemon
/docs/ecosystem/                                @fuxingloh @canonbrother @ivan-zynesis
/docs/testing/                                  @fuxingloh @canonbrother @ivan-zynesis

/apps/libs                                      @fuxingloh @eli-lim @kodemon

/docs/legacy/                                   @fuxingloh @eli-lim
/apps/legacy-api/                               @fuxingloh @joeldavidw @eli-lim

/apps/status-api/                               @fuxingloh @joeldavidw @nichellekoh

/docs/ocean/                                    @fuxingloh @canonbrother @ivan-zynesis
/apps/ocean-api/                                @fuxingloh @canonbrother @kodemon
/packages/ocean-api-client/                     @fuxingloh @canonbrother @kodemon

/apps/playground-api/                           @fuxingloh @canonbrother @surangap
/packages/playground-api-client/                @fuxingloh @canonbrother @surangap

/apps/whale-api/                                @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim
/packages/whale-api-client/                     @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim
/packages/whale-api-wallet/                     @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim

/packages/jellyfish-testing/                    @fuxingloh @canonbrother @jingyi2811 @surangap
/packages/playground/                           @fuxingloh @canonbrother
/packages/testcontainers/                       @fuxingloh @canonbrother @surangap
/packages/testing/                              @fuxingloh @canonbrother @surangap

# SIG: Wallet
/packages/jellyfish-address/                    @fuxingloh @ivan-zynesis
/packages/jellyfish-crypto/                     @fuxingloh @ivan-zynesis @surangap
/packages/jellyfish-transaction-signature/      @fuxingloh @ivan-zynesis @surangap

/packages/jellyfish-wallet/                     @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-classic/             @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-encrypted/           @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-mnemonic/            @fuxingloh @ivan-zynesis

/apps/rich-list-api/                            @ivan-zynesis @cwkang1998
/packages/rich-list-api-client/                 @ivan-zynesis @cwkang1998

# Chore
/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh
Dockerfile                                      @fuxingloh @kodemon
.dockerignore                                   @fuxingloh
lerna.json                                      @fuxingloh @canonbrother @ivan-zynesis
tsconfig.json                                   @fuxingloh @canonbrother @ivan-zynesis
tsconfig.base.json                              @fuxingloh @canonbrother @ivan-zynesis
tsconfig.build.json                             @fuxingloh @canonbrother @ivan-zynesis
jest.config.js                                  @fuxingloh @canonbrother @ivan-zynesis
package.json                                    @fuxingloh
package-lock.json                               @fuxingloh
.codeclimate.yml                                @fuxingloh
.eslintrc                                       @fuxingloh
netlify.toml                                    @fuxingloh
CONTRIBUTING.md                                 @fuxingloh
README.md                                       @fuxingloh
LICENSE                                         @fuxingloh
