Repository BirthdayResearch/jellyfishsdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera, @kodemon, @eli-lim, @joeldavidw, @nichellekoh, @cwkang1998

strictly NetworkName type on network option
  apps/status-api/src/modules/ControllerModule.ts
  apps/status-api/src/modules/WhaleApiModule.ts
  packages/jellyfish-network/src/Network.ts
  packages/whale-api-client/src/whale.api.client.ts
Owners: @fuxingloh, @joeldavidw, @nichellekoh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @kodemon, @eli-lim

joi env validation schema on network
  apps/whale-api/src/app.module.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

feat(jellyfish-api-core): add blockchain getMempoolEntry RPC (#1281)
  docs/node/CATEGORIES/01-blockchain.md
  packages/jellyfish-api-core/__tests__/category/blockchain/getMempoolEntry.test.ts
  packages/jellyfish-api-core/src/category/blockchain.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

rm precache on composite.swap.spec.ts
  apps/whale-api/src/module.indexer/model/dftx/composite.swap.spec.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

id as string in getTOkenUSDValue param
  apps/whale-api/src/module.api/poolpair.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

defensive checked on synTokenGraph defidcache.listpoolpairs
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

add devnet on MasternodeConsensusParams
  apps/whale-api/src/module.api/masternode.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

better err msg
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

add devnet fortcanningheight on consensusparams
  apps/whale-api/src/module.indexer/model/dftx/create.pool.pair.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

fix whaleapiclient.test.ts
  packages/whale-api-client/__tests__/WhaleApiClient.test.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

Updated the docker image to latest ain #1334
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @canonbrother, @surangap

feat(apps): whale-api network restriction (#1552)
  apps/status-api/src/modules/ControllerModule.ts
  apps/status-api/src/modules/WhaleApiModule.ts
  apps/whale-api/src/app.module.ts
  apps/whale-api/src/module.api/masternode.service.ts
  apps/whale-api/src/module.indexer/model/dftx/create.pool.pair.ts
  packages/jellyfish-network/src/Network.ts
  packages/whale-api-client/__tests__/WhaleApiClient.test.ts
  packages/whale-api-client/src/whale.api.client.ts
Owners: @fuxingloh, @joeldavidw, @nichellekoh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim, @surangap

chore(workflows): add consolidated dependencies bumping workflow
  .github/workflows/dependencies.yml
Owners: @fuxingloh

refactor(poolpairs): refactor to use defid only
  apps/whale-api/src/e2e.module.ts
  apps/whale-api/src/module.api/_module.ts
  apps/whale-api/src/module.api/address.controller.spec.ts
  apps/whale-api/src/module.api/cache/defid.cache.spec.ts
  apps/whale-api/src/module.api/poolpair.controller.ts
  apps/whale-api/src/module.api/poolpair.prices.service.ts
  apps/whale-api/src/module.api/poolpair.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

remove the use of mapper in PoolSwapPathFindingService
  apps/whale-api/src/module.api/cache/defid.cache.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

chore(workflows): add consolidated dependencies bumping workflow (#1559)
  .github/workflows/dependencies.yml
Owners: @fuxingloh

bump all other nestjs and related dependencies
  apps/package.json
  package-lock.json
Owners: @fuxingloh

fix(whale-api): make values optional due to unit tests failing
  apps/whale-api/src/app.configuration.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

fix(whale-api): network value being overwritten by joi
  apps/whale-api/src/app.configuration.ts
  apps/whale-api/src/app.module.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

make optional
  apps/whale-api/src/app.configuration.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

fix(whale-api): network value being overwritten by joi (#1560)
  apps/whale-api/src/app.configuration.ts
  apps/whale-api/src/app.module.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

Apply suggestions from code review
  apps/whale-api/src/e2e.module.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

Apply suggestions from code review
  apps/whale-api/src/module.api/cache/defid.cache.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

Updated the docker image to ain #1331
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @canonbrother, @surangap

Updated the docker image to ain #1344
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @canonbrother, @surangap

Updated the docker image to ain #1330
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @canonbrother, @surangap

chore(whale-api/legacy): code cleanup
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/whale-api/src/module.api/_module.ts
  apps/whale-api/src/module.api/legacy.controller.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon

add default value for pagination.limit and default to empty array for undefined history.amounts
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/whale-api/src/module.api/legacy.controller.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon

feat(migrate-getsubgraphswaps): Migrated getsubgraphswaps logic from legacy-api to whale-api
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/legacy-api/src/modules/ControllerModule.ts
  apps/legacy-api/src/modules/RootModule.ts
  apps/legacy-api/src/pipes/NetworkValidationPipe.ts
  apps/legacy-api/testing/LegacyStubServer.ts
  apps/package.json
  apps/whale-api/src/module.api/_module.ts
  apps/whale-api/src/module.api/legacy.controller.spec.ts
  apps/whale-api/src/module.api/legacy.controller.ts
  apps/whale-api/src/module.api/stats.controller.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon

chore(whale-api/legacy): add tests
  apps/whale-api/src/module.api/legacy.controller.e2e.ts
  apps/whale-api/src/module.api/legacy.controller.spec.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

set default to 20
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/whale-api/src/module.api/legacy.controller.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon

rename to LegacyCache and change it to use an indepedent underlying cache
  apps/libs/caches/src/LegacyCache.ts
  apps/libs/caches/src/index.ts
  apps/whale-api/src/module.api/_module.ts
  apps/whale-api/src/module.api/legacy.subgraph.service.ts
Owners: @fuxingloh, @eli-lim, @kodemon, @canonbrother, @ivan-zynesis, @jingyi2811

add network query param to request
  apps/legacy-api/src/controllers/PoolPairController.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim

move logic into LegacySubgraphService
  apps/whale-api/src/module.api/legacy.controller.ts
  apps/whale-api/src/module.api/legacy.subgraph.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

limit to 20 and disable cache
  apps/whale-api/src/module.api/legacy.controller.e2e.ts
  apps/whale-api/src/module.api/legacy.controller.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

bypass response interceptor
  apps/whale-api/src/module.api/legacy.controller.e2e.ts
  apps/whale-api/src/module.api/legacy.controller.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

remove console.log
  apps/whale-api/src/module.api/legacy.controller.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

remove unused cache from legacy-api
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/legacy-api/src/modules/ControllerModule.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim

make injectable and reorg code
  apps/whale-api/src/module.api/_module.ts
  apps/whale-api/src/module.api/legacy.subgraph.service.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

remove unused imports
  apps/legacy-api/src/controllers/PoolPairController.ts
Owners: @fuxingloh, @joeldavidw, @eli-lim

.github/CODEOWNERS:

# Define individuals that are responsible for code in this repository.
# More details are here: https://help.github.com/articles/about-codeowners/

# SIG: Blockchain
/docs/node/                                     @fuxingloh @surangap @canonbrother @ivan-zynesis @jingyi2811 @chee-chyuan @chanakasameera

/packages/jellyfish-api-core/                   @fuxingloh @surangap @canonbrother @ivan-zynesis @jingyi2811 @chee-chyuan @chanakasameera
/packages/jellyfish-api-jsonrpc/                @fuxingloh @surangap
/packages/jellyfish-json/                       @fuxingloh @canonbrother
/packages/jellyfish-network/                    @fuxingloh @surangap @ivan-zynesis @canonbrother
/packages/jellyfish-block/                      @fuxingloh @surangap @ivan-zynesis @canonbrother
/packages/jellyfish-buffer/                     @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811
/packages/jellyfish-transaction/                @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811 @chee-chyuan
/packages/jellyfish-transaction-builder/        @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811 @chee-chyuan

# SIG: Ecosystem
/website/                                       @fuxingloh @kodemon
/docs/ecosystem/                                @fuxingloh @canonbrother @ivan-zynesis
/docs/testing/                                  @fuxingloh @canonbrother @ivan-zynesis

/apps/libs                                      @fuxingloh @eli-lim @kodemon

/docs/legacy/                                   @fuxingloh @eli-lim
/apps/legacy-api/                               @fuxingloh @joeldavidw @eli-lim

/apps/status-api/                               @fuxingloh @joeldavidw @nichellekoh

/docs/ocean/                                    @fuxingloh @canonbrother @ivan-zynesis
/apps/ocean-api/                                @fuxingloh @canonbrother @kodemon
/packages/ocean-api-client/                     @fuxingloh @canonbrother @kodemon

/apps/playground-api/                           @fuxingloh @canonbrother @surangap
/packages/playground-api-client/                @fuxingloh @canonbrother @surangap

/apps/whale-api/                                @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim
/packages/whale-api-client/                     @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim
/packages/whale-api-wallet/                     @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim

/packages/jellyfish-testing/                    @fuxingloh @canonbrother @jingyi2811 @surangap
/packages/playground/                           @fuxingloh @canonbrother
/packages/testcontainers/                       @fuxingloh @canonbrother @surangap
/packages/testing/                              @fuxingloh @canonbrother @surangap

# SIG: Wallet
/packages/jellyfish-address/                    @fuxingloh @ivan-zynesis
/packages/jellyfish-crypto/                     @fuxingloh @ivan-zynesis @surangap
/packages/jellyfish-transaction-signature/      @fuxingloh @ivan-zynesis @surangap

/packages/jellyfish-wallet/                     @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-classic/             @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-encrypted/           @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-mnemonic/            @fuxingloh @ivan-zynesis

/apps/rich-list-api/                            @ivan-zynesis @cwkang1998
/packages/rich-list-api-client/                 @ivan-zynesis @cwkang1998

# Chore
/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh
Dockerfile                                      @fuxingloh @kodemon
.dockerignore                                   @fuxingloh
lerna.json                                      @fuxingloh @canonbrother @ivan-zynesis
tsconfig.json                                   @fuxingloh @canonbrother @ivan-zynesis
tsconfig.base.json                              @fuxingloh @canonbrother @ivan-zynesis
tsconfig.build.json                             @fuxingloh @canonbrother @ivan-zynesis
jest.config.js                                  @fuxingloh @canonbrother @ivan-zynesis
package.json                                    @fuxingloh
package-lock.json                               @fuxingloh
.codeclimate.yml                                @fuxingloh
.eslintrc                                       @fuxingloh
netlify.toml                                    @fuxingloh
CONTRIBUTING.md                                 @fuxingloh
README.md                                       @fuxingloh
LICENSE                                         @fuxingloh
