Repository BirthdayResearch/jellyfishsdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera, @kodemon, @eli-lim, @joeldavidw, @nichellekoh, @cwkang1998

.github/CODEOWNERS:

# Define individuals that are responsible for code in this repository.
# More details are here: https://help.github.com/articles/about-codeowners/

# SIG: Blockchain
/docs/node/                                     @fuxingloh @surangap @canonbrother @ivan-zynesis @jingyi2811 @chee-chyuan @chanakasameera

/packages/jellyfish-api-core/                   @fuxingloh @surangap @canonbrother @ivan-zynesis @jingyi2811 @chee-chyuan @chanakasameera
/packages/jellyfish-api-jsonrpc/                @fuxingloh @surangap
/packages/jellyfish-json/                       @fuxingloh @canonbrother
/packages/jellyfish-network/                    @fuxingloh @surangap @ivan-zynesis @canonbrother
/packages/jellyfish-block/                      @fuxingloh @surangap @ivan-zynesis @canonbrother
/packages/jellyfish-buffer/                     @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811
/packages/jellyfish-transaction/                @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811 @chee-chyuan
/packages/jellyfish-transaction-builder/        @fuxingloh @surangap @ivan-zynesis @canonbrother @jingyi2811 @chee-chyuan

# SIG: Ecosystem
/website/                                       @fuxingloh @kodemon
/docs/ecosystem/                                @fuxingloh @canonbrother @ivan-zynesis
/docs/testing/                                  @fuxingloh @canonbrother @ivan-zynesis

/apps/libs                                      @fuxingloh @eli-lim @kodemon

/docs/legacy/                                   @fuxingloh @eli-lim
/apps/legacy-api/                               @fuxingloh @joeldavidw @eli-lim

/apps/status-api/                               @fuxingloh @joeldavidw @nichellekoh

/docs/ocean/                                    @fuxingloh @canonbrother @ivan-zynesis
/apps/ocean-api/                                @fuxingloh @canonbrother @kodemon
/packages/ocean-api-client/                     @fuxingloh @canonbrother @kodemon

/apps/playground-api/                           @fuxingloh @canonbrother @surangap
/packages/playground-api-client/                @fuxingloh @canonbrother @surangap

/apps/whale-api/                                @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim
/packages/whale-api-client/                     @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim
/packages/whale-api-wallet/                     @fuxingloh @canonbrother @ivan-zynesis @jingyi2811 @kodemon @eli-lim

/packages/jellyfish-testing/                    @fuxingloh @canonbrother @jingyi2811 @surangap
/packages/playground/                           @fuxingloh @canonbrother
/packages/testcontainers/                       @fuxingloh @canonbrother @surangap
/packages/testing/                              @fuxingloh @canonbrother @surangap

# SIG: Wallet
/packages/jellyfish-address/                    @fuxingloh @ivan-zynesis
/packages/jellyfish-crypto/                     @fuxingloh @ivan-zynesis @surangap
/packages/jellyfish-transaction-signature/      @fuxingloh @ivan-zynesis @surangap

/packages/jellyfish-wallet/                     @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-classic/             @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-encrypted/           @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-mnemonic/            @fuxingloh @ivan-zynesis

/apps/rich-list-api/                            @ivan-zynesis @cwkang1998
/packages/rich-list-api-client/                 @ivan-zynesis @cwkang1998

# Chore
/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh
Dockerfile                                      @fuxingloh @kodemon
.dockerignore                                   @fuxingloh
lerna.json                                      @fuxingloh @canonbrother @ivan-zynesis
tsconfig.json                                   @fuxingloh @canonbrother @ivan-zynesis
tsconfig.base.json                              @fuxingloh @canonbrother @ivan-zynesis
tsconfig.build.json                             @fuxingloh @canonbrother @ivan-zynesis
jest.config.js                                  @fuxingloh @canonbrother @ivan-zynesis
package.json                                    @fuxingloh
package-lock.json                               @fuxingloh
.codeclimate.yml                                @fuxingloh
.eslintrc                                       @fuxingloh
netlify.toml                                    @fuxingloh
CONTRIBUTING.md                                 @fuxingloh
README.md                                       @fuxingloh
LICENSE                                         @fuxingloh

Update docker images
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @canonbrother, @surangap

Update jellyfish tests with respect to index to pagination fix
  packages/jellyfish-api-core/__tests__/category/loan/listAuctionHistory.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

Test ain#1348
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @canonbrother, @surangap

Updated api and tests according to review
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/listAccountHistory.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

Expose verbose info from getVault RPC
  docs/node/CATEGORIES/17-vault.md
  packages/jellyfish-api-core/__tests__/category/loan/getVault.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/getVault.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/jellyfish-api-core/src/category/vault.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

Updated getVault rpc doc
  docs/node/CATEGORIES/17-vault.md
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

Ain image update
  packages/jellyfish-api-core/__tests__/category/account/listAccountHistory.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

Update the ain image
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @canonbrother, @surangap

Updated image to HEAD-042ae63b2
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @canonbrother, @surangap

Fixed failing tests.
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/getBurnInfo.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/paybackLoan.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_payback_loan.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

Added fortcanninggardensheight flag.
  packages/testcontainers/src/containers/RegTestContainer/index.ts
Owners: @fuxingloh, @canonbrother, @surangap

apps/whale-api: fix payback type from num to string[]
  apps/whale-api/src/module.api/stats.controller.ts
  packages/whale-api-client/src/api/stats.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

whale-api-client: fix payback type from num to string[]
  apps/whale-api/src/module.api/stats.controller.ts
  packages/whale-api-client/__tests__/api/stats.test.ts
  packages/whale-api-client/src/api/stats.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

getburned payback should be string[]
  apps/whale-api/src/module.api/stats.controller.ts
  packages/whale-api-client/src/api/stats.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

feat(workflow): Workflow to sync this repo with JellyfishSDK/jellyfish
  .github/workflows/github-sync.yml
Owners: @fuxingloh

update to sync tags
  .github/workflows/github-sync.yml
Owners: @fuxingloh

Update to master ain image
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @canonbrother, @surangap

Added tests for fee direction set attribute
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.test.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

Added new tests for direct dusd burn.
  packages/jellyfish-api-core/__tests__/category/loan/paybackLoan.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

Added latest master ain image
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @canonbrother, @surangap

chore(whale-api): allow Index Swap to fail silently if PoolPair cannot be found
  apps/whale-api/src/module.indexer/model/dftx/composite.swap.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.ts
Owners: @fuxingloh, @canonbrother, @ivan-zynesis, @jingyi2811, @kodemon, @eli-lim

chore(compact-size): rename all existing VarUInt to CompactSize.ts
  packages/jellyfish-block/__tests__/composer/block.test.ts
  packages/jellyfish-block/__tests__/composer/blockHeader.test.ts
  packages/jellyfish-block/__tests__/composer/block_1155173_mainnet.test.ts
  packages/jellyfish-block/__tests__/composer/block_1155561_mainnet.test.ts
  packages/jellyfish-block/__tests__/composer/block_1167209_mainnet.test.ts
  packages/jellyfish-block/__tests__/rpc/blockHeader.test.ts
  packages/jellyfish-block/src/Block.ts
  packages/jellyfish-block/src/BlockHeader.ts
  packages/jellyfish-block/src/index.ts
  packages/jellyfish-buffer/__tests__/composer.test.ts
  packages/jellyfish-buffer/__tests__/varuint.test.ts
  packages/jellyfish-buffer/src/BigNumber.ts
  packages/jellyfish-buffer/src/BitMask.ts
  packages/jellyfish-buffer/src/CompactSize.ts
  packages/jellyfish-buffer/src/Composer.ts
  packages/jellyfish-buffer/src/index.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_account.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_balance.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_governance.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_icxorderbook.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_oracles.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_pool.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_price.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_token.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_vault.ts
  packages/jellyfish-transaction/src/script/mapping.ts
  packages/jellyfish-transaction/src/tx_composer.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

refactor(compact-size): rename all existing VarUInt to CompactSize.ts (#1585)
  packages/jellyfish-block/__tests__/composer/block.test.ts
  packages/jellyfish-block/__tests__/composer/blockHeader.test.ts
  packages/jellyfish-block/__tests__/composer/block_1155173_mainnet.test.ts
  packages/jellyfish-block/__tests__/composer/block_1155561_mainnet.test.ts
  packages/jellyfish-block/__tests__/composer/block_1167209_mainnet.test.ts
  packages/jellyfish-block/__tests__/rpc/blockHeader.test.ts
  packages/jellyfish-block/src/Block.ts
  packages/jellyfish-block/src/BlockHeader.ts
  packages/jellyfish-block/src/index.ts
  packages/jellyfish-buffer/__tests__/composer.test.ts
  packages/jellyfish-buffer/__tests__/varuint.test.ts
  packages/jellyfish-buffer/src/BigNumber.ts
  packages/jellyfish-buffer/src/BitMask.ts
  packages/jellyfish-buffer/src/CompactSize.ts
  packages/jellyfish-buffer/src/Composer.ts
  packages/jellyfish-buffer/src/index.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_account.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_balance.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_governance.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_icxorderbook.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_oracles.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_pool.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_price.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_token.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_vault.ts
  packages/jellyfish-transaction/src/script/mapping.ts
  packages/jellyfish-transaction/src/tx_composer.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811, @chee-chyuan

rename jellyfish-buffer/__tests__/* to PascalCase
  packages/jellyfish-buffer/__tests__/CompactSize.test.ts
  packages/jellyfish-buffer/__tests__/Composer.test.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811

rename jellyfish-buffer/__tests__/* to PascalCase
  package-lock.json
  packages/jellyfish-buffer/package.json
Owners: @fuxingloh

Refactor amountFormat to format
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/listAccountHistory.test.ts
  packages/jellyfish-api-core/src/category/account.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

add VarInt using bn.js for bitwise operations
  packages/jellyfish-buffer/__tests__/VarInt.test.ts
  packages/jellyfish-buffer/src/VarInt.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811

add Composer integration
  packages/jellyfish-buffer/__tests__/Composer.test.ts
  packages/jellyfish-buffer/__tests__/VarInt.test.ts
  packages/jellyfish-buffer/src/Composer.ts
Owners: @fuxingloh, @surangap, @ivan-zynesis, @canonbrother, @jingyi2811

Update verbose info details
  packages/jellyfish-api-core/src/category/vault.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

Update with latest ain image
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @canonbrother, @surangap

add listpendingdusdswaps rpc with test
  packages/jellyfish-api-core/__tests__/category/account/listPendingDusdSwaps.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

add getpendingdusdswaps with test
  packages/jellyfish-api-core/__tests__/category/account/getPendingDusdSwaps.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

typo
  packages/jellyfish-api-core/src/category/account.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

update doc
  docs/node/CATEGORIES/08-account.md
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

simple test for dfip2206f
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.dfip2206f.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

master-1a616920f
  packages/testcontainers/src/containers/DeFiDContainer.ts
Owners: @fuxingloh, @canonbrother, @surangap

Test getPoolPair with fee direction
  packages/jellyfish-api-core/__tests__/category/poolpair/getPoolPair.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

use 2.9.0, corrected fork fortcanningspringheight
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
Owners: @fuxingloh, @canonbrother, @surangap

fix withdrawfutureswap error msg
  packages/jellyfish-api-core/__tests__/category/account/withdrawFutureSwap.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera

add dfip2206f prop
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/getBurnInfo.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/whale-api-client/__tests__/api/stats.test.ts
Owners: @fuxingloh, @surangap, @canonbrother, @ivan-zynesis, @jingyi2811, @chee-chyuan, @chanakasameera, @kodemon, @eli-lim
