Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2021-07, with the labels that each got.

#433 implements WalletHdNode on WalletAccount
  packages/jellyfish-wallet-mnemonic/package.json
  packages/jellyfish-wallet/__tests__/wallet_account.test.ts
  packages/jellyfish-wallet/package.json
  packages/jellyfish-wallet/src/wallet_account.ts
Labels: area/jellyfish-wallet-mnemonic, kind/feature

#435 setup-node now support cache, removed old workflow cache
  .github/workflows/ci.yml
Labels: area/workflow, kind/dependencies

#436 improved `jellyfish-transaction` buffer interoperability and ease of use
  packages/jellyfish-transaction/__tests__/buffer/buffer_composer.test.ts
  packages/jellyfish-transaction/__tests__/tx_composer/CTransaction.test.ts
  packages/jellyfish-transaction/__tests__/tx_composer/CTransactionSegWit.test.ts
  packages/jellyfish-transaction/__tests__/tx_composer/index.ts
  packages/jellyfish-transaction/package.json
  packages/jellyfish-transaction/src/buffer/buffer_composer.ts
  packages/jellyfish-transaction/src/tx_composer.ts
Labels: area/jellyfish-transaction, kind/feature

#415 Added addpoolliquidity, removepoolliquidity and poolswap account history test
  packages/jellyfish-api-core/__tests__/category/account/listAccountHistory.test.ts
Labels: area/jellyfish-api-core, kind/chore

#437 Fixed bad test in oracle RPC and cleaned up docs for consistency
  packages/jellyfish-api-core/__tests__/category/oracle/removeOracle.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/setOracleData.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/updateOracle.test.ts
  website/docs/jellyfish/api/oracle.md
Labels: area/jellyfish-api-core, area/website, kind/fix

#402 Interface `icx_listorders` RPC
  packages/jellyfish-api-core/__tests__/category/icxorderbook/closeOffer.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/icx_setup.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/listOrders.test.ts
  packages/jellyfish-api-core/src/category/icxorderbook.ts
  website/docs/jellyfish/api/icxorderbook.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#429 added maxPrice tests for `txn_builder_dex_poolswap`
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_dex_poolswap.test.ts
Labels: area/jellyfish-transaction-builder, kind/feature

#440 Added expansion and invalid OP_CODES
  packages/jellyfish-transaction/__tests__/script/index.test.ts
  packages/jellyfish-transaction/__tests__/script/mapping.test.ts
  packages/jellyfish-transaction/src/script/expansion.ts
  packages/jellyfish-transaction/src/script/index.ts
  packages/jellyfish-transaction/src/script/invalid.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: area/jellyfish-transaction, kind/feature

#404 Interface `icx_submitdfchtlc` RPC
  packages/jellyfish-api-core/__tests__/category/icxorderbook/closeOffer.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/createOrder.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/getOrder.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/icx_setup.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/listOrders.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/makeOffer.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/submitDFCHTLC.test.ts
  packages/jellyfish-api-core/src/category/icxorderbook.ts
  website/docs/jellyfish/api/icxorderbook.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#420 Add `removePoolLiquidity` RPC
  packages/jellyfish-api-core/__tests__/category/account/removePoolLiquidity.test.ts
  packages/jellyfish-api-core/src/category/poolpair.ts
  website/docs/jellyfish/api/poolpair.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#405 Interface `icx_submitexthtlc` RPC
  packages/jellyfish-api-core/__tests__/category/icxorderbook/icx_setup.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/submitExtHTLC.test.ts
  packages/jellyfish-api-core/src/category/icxorderbook.ts
  website/docs/jellyfish/api/icxorderbook.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#406 Interface`icx_claimdfchtlc` RPC
  packages/jellyfish-api-core/__tests__/category/icxorderbook/claimDFCHTLC.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/icx_setup.ts
  packages/jellyfish-api-core/src/category/icxorderbook.ts
  website/docs/jellyfish/api/icxorderbook.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#445 Remove typecheck for OP_PUSHDATA
  packages/jellyfish-transaction-signature/src/tx_signature.ts
Labels: area/jellyfish-transaction-signature, kind/fix

#453 `jellyfish-wallet` should provide non-hd `WalletNode` by default
  .github/CODEOWNERS
  .idea/jellyfish.iml
  packages/jellyfish-wallet/__tests__/account.mock.ts
  packages/jellyfish-wallet/__tests__/node.mock.ts
  packages/jellyfish-wallet/src/index.ts
  packages/jellyfish-wallet/src/wallet_account.ts
  packages/jellyfish-wallet/src/wallet_elliptic_pair.ts
  packages/jellyfish-wallet/src/wallet_hd_node.ts
Labels: area/workflow, kind/refactor

#454 `jellyfish-wallet-classic`
  .github/CODEOWNERS
  jest.config.js
  packages/jellyfish-wallet-classic/README.md
  packages/jellyfish-wallet-classic/__tests__/wallet_classic.test.ts
  packages/jellyfish-wallet-classic/jest.config.js
  packages/jellyfish-wallet-classic/package.json
  packages/jellyfish-wallet-classic/src/classic.ts
  packages/jellyfish-wallet-classic/src/index.ts
  packages/jellyfish-wallet-classic/tsconfig.build.json
  tsconfig.build.json
  tsconfig.json
  website/docs/introduction.md
Labels: area/website, area/workflow, kind/feature

#407 Interface `icx_listhtlcs` RPC
  packages/jellyfish-api-core/__tests__/category/icxorderbook/listHTLCs.test.ts
  packages/jellyfish-api-core/src/category/icxorderbook.ts
  website/docs/jellyfish/api/icxorderbook.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#456 Add `getGov` and `setGov` RPC
  packages/jellyfish-api-core/__tests__/category/masternode/getGov.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.test.ts
  packages/jellyfish-api-core/src/category/masternode.ts
  packages/jellyfish-api-core/src/category/poolpair.ts
  website/docs/jellyfish/api/masternode.md
  website/docs/jellyfish/api/poolpair.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#408 Interface`icx_closeorder` RPC
  packages/jellyfish-api-core/__tests__/category/icxorderbook/closeOrder.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/listHTLCs.test.ts
  packages/jellyfish-api-core/src/category/icxorderbook.ts
  website/docs/jellyfish/api/icxorderbook.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#464 updated mono-repo deps, workflow & github health files
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-project-issue.yml
  .github/workflows/sync-labels.yml
  .husky/.gitignore
  CONTRIBUTING.md
  README.md
  jest.config.js
  package-lock.json
  package.json
  packages/jellyfish-api-jsonrpc/package.json
  packages/jellyfish-api-jsonrpc/src/index.ts
  packages/jellyfish-json/package.json
  packages/jellyfish-wallet-mnemonic/package.json
  packages/testcontainers/package.json
  tsconfig.build.json
  tsconfig.json
  website/docs/introduction.md
  website/package-lock.json
  website/package.json
Labels: area/jellyfish-api-jsonrpc, area/jellyfish-json, area/jellyfish-wallet-mnemonic, area/testcontainers, area/website, area/workflow, kind/chore

#409 Add complex tests for ICX
  packages/jellyfish-api-core/__tests__/category/icxorderbook/complexTests.test.ts
Labels: area/jellyfish-api-core, kind/feature

#465 Enable all ICX tests on 1.8.x
  packages/jellyfish-api-core/__tests__/category/icxorderbook/claimDFCHTLC.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/closeOffer.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/closeOrder.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/complexTests.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/getOrder.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/listHTLCs.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/listOrders.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/makeOffer.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/submitDFCHTLC.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/submitExtHTLC.test.ts
  packages/testcontainers/src/chains/defid_container.ts
Labels: area/jellyfish-api-core, area/testcontainers, kind/refactor

#448 Assert with expect.arrayContaining and expect.objectContaining to check for correctness in tests.
  packages/jellyfish-api-core/__tests__/category/account/listAccountHistory.test.ts
Labels: area/jellyfish-api-core, kind/fix

#467 CODEOWNERS rename proposal to governance
  .github/CODEOWNERS
  .idea/jellyfish.iml
Labels: area/workflow, kind/chore

#469 Automatic Conversion of Integer/Fraction for MaxPrice in dftx_pool.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/poolSwapMaxPrice.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_dex_poolswap.test.ts
  packages/jellyfish-transaction/__tests__/buffer/buffer_composer.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_pool/PoolSwap.test.ts
  packages/jellyfish-transaction/src/buffer/buffer_composer.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_pool.ts
Labels: area/jellyfish-api-core, area/jellyfish-transaction, area/jellyfish-transaction-builder, kind/fix

#413 Added `PoolSwap` RPC
  packages/jellyfish-api-core/__tests__/category/poolpair/poolswap.test.ts
  packages/jellyfish-api-core/src/category/poolpair.ts
  packages/testing/src/poolpair.ts
  website/docs/jellyfish/api/poolpair.md
Labels: area/jellyfish-api-core, area/testing, area/website, kind/feature

#371 passphrase derivation + encryption + storage lib
  .github/CODEOWNERS
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  README.md
  jest.config.js
  package-lock.json
  packages/jellyfish-wallet-encrypted/README.md
  packages/jellyfish-wallet-encrypted/__tests__/scrypt-storage.test.ts
  packages/jellyfish-wallet-encrypted/__tests__/scryptsy.test.ts
  packages/jellyfish-wallet-encrypted/jest.config.js
  packages/jellyfish-wallet-encrypted/package.json
  packages/jellyfish-wallet-encrypted/src/index.ts
  packages/jellyfish-wallet-encrypted/src/scrypt_storage.ts
  packages/jellyfish-wallet-encrypted/src/scryptsy.ts
  packages/jellyfish-wallet-encrypted/tsconfig.build.json
  tsconfig.build.json
  tsconfig.json
  website/docs/introduction.md
Labels: area/website, area/workflow, kind/feature

#471 Allow access to network from WalletAccount
  packages/jellyfish-wallet/__tests__/wallet_account.test.ts
  packages/jellyfish-wallet/src/wallet_account.ts
Labels: kind/fix

#475 Replace `npx run codecov` with GH Actions `codecov/codecov-action`
  .github/workflows/ci.yml
Labels: area/workflow, kind/chore

#474 SignInputOption should not require EllipticPair
  packages/jellyfish-transaction-builder/__tests__/raw_crafting.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_error.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_p2wpkh.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder.ts
  packages/jellyfish-transaction-signature/__tests__/tx/p2wpkh_1_to_1.test.ts
  packages/jellyfish-transaction-signature/__tests__/tx/p2wpkh_1_to_2.test.ts
  packages/jellyfish-transaction-signature/__tests__/tx_signature/sign_input.test.ts
  packages/jellyfish-transaction-signature/__tests__/tx_signature/sign_transaction.test.ts
  packages/jellyfish-transaction-signature/src/tx_signature.ts
  packages/jellyfish-wallet-classic/src/classic.ts
  packages/jellyfish-wallet-mnemonic/src/mnemonic.ts
  packages/jellyfish-wallet/__tests__/node.mock.ts
Labels: area/jellyfish-transaction-builder, area/jellyfish-transaction-signature, area/jellyfish-wallet-classic, area/jellyfish-wallet-mnemonic, kind/fix

#477 refactor `jellyfish-wallet-encrypted` encryption layer
  packages/jellyfish-crypto/src/aes256.ts
  packages/jellyfish-wallet-encrypted/__tests__/provider/scrypt_simple.test.ts
  packages/jellyfish-wallet-encrypted/__tests__/scrypt-storage.test.ts
  packages/jellyfish-wallet-encrypted/__tests__/scrypt.test.ts
  packages/jellyfish-wallet-encrypted/src/index.ts
  packages/jellyfish-wallet-encrypted/src/provider/scrypt_provider.ts
  packages/jellyfish-wallet-encrypted/src/provider/scrypt_simple.ts
  packages/jellyfish-wallet-encrypted/src/scrypt.ts
  packages/jellyfish-wallet-encrypted/src/scrypt_storage.ts
Labels: area/jellyfish-crypto, area/jellyfish-wallet-encrypted, kind/refactor

#476 `MasterNodeRegTestContainer` block gen feature should be controlled by testcontainers
  .idea/dictionaries/fuxing.xml
  jest.config.js
  packages/jellyfish-api-core/__tests__/category/account/listCommunityBalances.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/getBlock.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/getBlockCount.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/getBlockHash.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/getBlockHeader.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/getBlockStats.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/getBlockchainInfo.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/getChainTips.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/getTxOut.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/claimDFCHTLC.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/getOrder.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/listOrders.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/submitExtHTLC.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/createMasternode.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/getMasternode.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/listMasternodes.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/resignMasternode.test.ts
  packages/jellyfish-api-core/__tests__/category/mining/getMiningInfo.test.ts
  packages/jellyfish-api-core/__tests__/category/mining/getMintingInfo.test.ts
  packages/jellyfish-api-core/__tests__/category/mining/getNetworkHashPerSecond.test.ts
  packages/jellyfish-api-core/__tests__/category/wallet/listAddressGroupings.test.ts
  packages/jellyfish-api-core/__tests__/category/wallet/wallet.test.ts
  packages/jellyfish-api-core/__tests__/index.test.ts
  packages/jellyfish-api-core/src/category/masternode.ts
  packages/jellyfish-api-core/src/category/mining.ts
  packages/jellyfish-api-jsonrpc/__tests__/index.test.ts
  packages/jellyfish/__tests__/jellyfish.test.ts
  packages/testcontainers/__tests__/chains/reg_test_container/masternode.test.ts
  packages/testcontainers/__tests__/chains/reg_test_container/persistent.test.ts
  packages/testcontainers/__tests__/index.test.ts
  packages/testcontainers/src/chains/defid_container.ts
  packages/testcontainers/src/chains/docker_container.ts
  packages/testcontainers/src/chains/reg_test_container/masternode.ts
  website/docs/jellyfish/api/mining.md
Labels: area/jellyfish, area/jellyfish-api-core, area/jellyfish-api-jsonrpc, area/testcontainers, area/website, kind/feature

#479 Refactor `jellyfish-wallet-mnemonic`
  packages/jellyfish-wallet-mnemonic/__tests__/bip32.test.ts
  packages/jellyfish-wallet-mnemonic/__tests__/bip39.test.ts
  packages/jellyfish-wallet-mnemonic/src/hd_node.ts
  packages/jellyfish-wallet-mnemonic/src/index.ts
  packages/jellyfish-wallet-mnemonic/src/mnemonic.ts
Labels: area/jellyfish-wallet-mnemonic, kind/refactor

#482 removed npm@next badge
  README.md
  packages/jellyfish-address/README.md
  packages/jellyfish-api-core/README.md
  packages/jellyfish-api-jsonrpc/README.md
  packages/jellyfish-crypto/README.md
  packages/jellyfish-json/README.md
  packages/jellyfish-network/README.md
  packages/jellyfish-transaction-builder/README.md
  packages/jellyfish-transaction-signature/README.md
  packages/jellyfish-transaction/README.md
  packages/jellyfish-wallet-classic/README.md
  packages/jellyfish-wallet-encrypted/README.md
  packages/jellyfish-wallet-mnemonic/README.md
  packages/jellyfish-wallet/README.md
  packages/jellyfish/README.md
  packages/testcontainers/README.md
  packages/testing/README.md
  website/docs/introduction.md
Labels: area/jellyfish, area/jellyfish-address, area/jellyfish-api-core, area/jellyfish-api-jsonrpc, area/jellyfish-crypto, area/jellyfish-json, area/jellyfish-network, area/jellyfish-transaction, area/jellyfish-transaction-builder, area/jellyfish-transaction-signature, area/jellyfish-wallet-classic, area/jellyfish-wallet-encrypted, area/jellyfish-wallet-mnemonic, area/testcontainers, area/testing, area/website, kind/docs

#485 Minor improvement to ease integration
  packages/jellyfish-wallet-encrypted/__tests__/bip32.test.ts
  packages/jellyfish-wallet-encrypted/__tests__/provider/scrypt_simple.test.ts
  packages/jellyfish-wallet-encrypted/__tests__/scrypt.test.ts
  packages/jellyfish-wallet-encrypted/src/hd_node.ts
  packages/jellyfish-wallet-encrypted/src/provider/scrypt_provider.ts
  packages/jellyfish-wallet-encrypted/src/provider/scrypt_simple.ts
  packages/jellyfish-wallet-encrypted/src/scrypt.ts
Labels: area/jellyfish-wallet-encrypted, kind/fix

#444 Added listBurnHistory RPC
  packages/jellyfish-api-core/__tests__/category/account/listBurnHistory.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  website/docs/jellyfish/api/account.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#466 Added createCfp RPC
  packages/jellyfish-api-core/__tests__/category/governance/createCfp.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/governance_container.ts
  packages/jellyfish-api-core/src/category/governance.ts
  packages/jellyfish-api-core/src/index.ts
  website/docs/jellyfish/api/governance.md
  website/sidebars.js
Labels: area/jellyfish-api-core, area/website, kind/feature

#334 `update-oracle` `set-oracle-data` added tests for new owner
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_set_oracle_data.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_update_oracle.test.ts
Labels: area/jellyfish-transaction-builder, kind/chore

#483 Added getProposal RPC
  packages/jellyfish-api-core/__tests__/category/governance/getProposal.test.ts
  packages/jellyfish-api-core/src/category/governance.ts
  website/docs/jellyfish/api/governance.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#492 Added RegTestContainer SPV testing functionnalities
  packages/testcontainers/__tests__/chains/reg_test_container/spv.test.ts
  packages/testcontainers/src/chains/reg_test_container/index.ts
  packages/testcontainers/src/chains/reg_test_container/spv.ts
Labels: area/testcontainers, kind/feature

#502 reduced api-core codeowners complexity
  .github/CODEOWNERS
Labels: area/workflow, kind/chore

#497 PoolSwap `maxPrice` default value handling
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_pool/PoolSwap.test.ts
  packages/jellyfish-transaction/src/buffer/buffer_bignumber.ts
  packages/jellyfish-transaction/src/buffer/buffer_composer.ts
Labels: area/jellyfish-transaction, kind/fix

#484 Added createVoc RPC
  packages/jellyfish-api-core/__tests__/category/governance/createVoc.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/governance_container.ts
  packages/jellyfish-api-core/src/category/governance.ts
  website/docs/jellyfish/api/governance.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#495 Added SPV getNewAddress RPC
  packages/jellyfish-api-core/__tests__/category/spv/getNewAddress.test.ts
  packages/jellyfish-api-core/src/category/spv.ts
  packages/jellyfish-api-core/src/index.ts
  website/docs/jellyfish/api/spv.md
  website/sidebars.js
Labels: area/jellyfish-api-core, area/website, kind/feature

#508 Updated failing oracle tests to support ain/513
  packages/jellyfish-api-core/__tests__/category/account/listBurnHistory.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/getPrice.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/listLatestRawPrices.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/listPrices.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/setOracleData.test.ts
  packages/jellyfish-api-core/src/category/oracle.ts
Labels: area/jellyfish-api-core, kind/chore

#496 Added SPV getAddressPubKey RPC
  packages/jellyfish-api-core/__tests__/category/spv/getAddressPubKey.test.ts
  packages/jellyfish-api-core/src/category/spv.ts
  website/docs/jellyfish/api/spv.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#486 Added listProposals RPC
  packages/jellyfish-api-core/__tests__/category/governance/governance_container.ts
  packages/jellyfish-api-core/__tests__/category/governance/listProposals.test.ts
  packages/jellyfish-api-core/src/category/governance.ts
  website/docs/jellyfish/api/governance.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#512 Add arithmetic opcodes
  packages/jellyfish-transaction/__tests__/script/index.test.ts
  packages/jellyfish-transaction/__tests__/script/mapping.test.ts
  packages/jellyfish-transaction/src/script/arithmetic.ts
  packages/jellyfish-transaction/src/script/index.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: area/jellyfish-transaction, kind/feature

#516 refactor `scryptsy` into jellyfish-wallet-encrypted/test
  package-lock.json
  packages/jellyfish-wallet-encrypted/__tests__/SimpleScryptsy.ts
  packages/jellyfish-wallet-encrypted/__tests__/bip32.test.ts
  packages/jellyfish-wallet-encrypted/__tests__/provider/scrypt_simple.test.ts
  packages/jellyfish-wallet-encrypted/__tests__/scrypt.test.ts
  packages/jellyfish-wallet-encrypted/package.json
  packages/jellyfish-wallet-encrypted/src/index.ts
Labels: area/jellyfish-wallet-encrypted, kind/refactor

#510 Add splice opcodes
  packages/jellyfish-transaction/__tests__/script/index.test.ts
  packages/jellyfish-transaction/__tests__/script/mapping.test.ts
  packages/jellyfish-transaction/src/script/index.ts
  packages/jellyfish-transaction/src/script/mapping.ts
  packages/jellyfish-transaction/src/script/splice.ts
Labels: area/jellyfish-transaction, kind/feature

#498 Added SPV listReceivedByAddress RPC
  packages/jellyfish-api-core/__tests__/category/spv/listReceivedByAddress.test.ts
  packages/jellyfish-api-core/src/category/spv.ts
  website/docs/jellyfish/api/spv.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#478 Bump DeFiCh/ain to `v1.8.0`
  .idea/dictionaries/fuxing.xml
  packages/jellyfish-api-core/__tests__/category/account/listBurnHistory.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/claimDFCHTLC.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/closeOffer.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/closeOrder.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/complexTests.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/getOrder.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/listHTLCs.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/listOrders.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/makeOffer.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/submitDFCHTLC.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/submitExtHTLC.test.ts
  packages/jellyfish-api-core/__tests__/category/mining/getMiningInfo.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/appointOracle.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/getPrice.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/listLatestRawPrices.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/listPrices.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/setOracleData.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/updateOracle.test.ts
  packages/jellyfish-api-core/src/category/mining.ts
  packages/jellyfish-api-core/src/category/oracle.ts
  packages/testcontainers/src/chains/defid_container.ts
  packages/testcontainers/src/chains/reg_test_container/index.ts
Labels: area/jellyfish-api-core, area/testcontainers, kind/dependencies

#519 Fix ReceivedByAddressInfo amount as BigNumber
  packages/jellyfish-api-core/__tests__/category/spv/listReceivedByAddress.test.ts
  packages/jellyfish-api-core/src/category/spv.ts
  website/docs/jellyfish/api/spv.md
Labels: area/jellyfish-api-core, area/website, kind/fix

#487 Added vote RPC
  packages/jellyfish-api-core/__tests__/category/governance/vote.test.ts
  packages/jellyfish-api-core/src/category/governance.ts
  website/docs/jellyfish/api/governance.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#506 Added SPV sendToAddress RPC
  packages/jellyfish-api-core/__tests__/category/spv/sendToAddress.test.ts
  packages/jellyfish-api-core/src/category/spv.ts
  website/docs/jellyfish/api/spv.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#523 Added `restart` to MNRegContainer to fix `generatetoaddress`
  packages/jellyfish-api-core/__tests__/category/icxorderbook/listHTLCs.test.ts
  packages/jellyfish-api-core/__tests__/category/mining/getMiningInfo.test.ts
  packages/testcontainers/__tests__/chains/container.test.ts
  packages/testcontainers/__tests__/chains/container_restart.test.ts
  packages/testcontainers/src/chains/defid_container.ts
  packages/testcontainers/src/chains/docker_container.ts
  packages/testcontainers/src/chains/reg_test_container/masternode.ts
Labels: area/jellyfish-api-core, area/testcontainers, kind/fix

#522 Refactor variables and text in oracle rpcs and dftxs
  packages/jellyfish-api-core/__tests__/category/oracle/appointOracle.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/getOracleData.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/getPrice.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/listLatestRawPrices.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/listOracles.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/listPrices.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/removeOracle.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/setOracleData.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/updateOracle.test.ts
  packages/jellyfish-api-core/src/category/oracle.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_oracles/AppointOracle.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_oracles/SetOracleData.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_oracles/UpdateOracle.test.ts
  website/docs/jellyfish/api/oracle.md
Labels: area/jellyfish-api-core, area/jellyfish-transaction, area/website, kind/refactor
