Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2021-06, with the labels that each got.

#310 `txn-builder`: set-oracle-data
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_set_oracle_data.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_oracles.ts
Labels: area/jellyfish-transaction-builder, kind/feature

#314 Add `DfTx` PoolUpdatePair
  .gitignore
  packages/jellyfish-transaction/__tests__/buffer/buffer_composer.test.ts
  packages/jellyfish-transaction/__tests__/script/defi/dftx_pool/PoolUpdatePair.test.ts
  packages/jellyfish-transaction/src/buffer/buffer_composer.ts
  packages/jellyfish-transaction/src/script/defi/dftx.ts
  packages/jellyfish-transaction/src/script/defi/dftx_pool.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: area/jellyfish-transaction, kind/feature

#328 Fix failed test in listTokens RPC
  packages/jellyfish-api-core/__tests__/category/token/listTokens.test.ts
Labels: area/jellyfish-api-core, kind/fix

#301 Refactor `account` RPCs tests
  packages/jellyfish-api-core/__tests__/category/account.test.ts
  packages/jellyfish-api-core/__tests__/category/account/accountHistoryCount.test.ts
  packages/jellyfish-api-core/__tests__/category/account/accountToAccount.test.ts
  packages/jellyfish-api-core/__tests__/category/account/getAccount.test.ts
  packages/jellyfish-api-core/__tests__/category/account/getTokenBalances.test.ts
  packages/jellyfish-api-core/__tests__/category/account/listAccountHistory.test.ts
  packages/jellyfish-api-core/__tests__/category/account/listAccounts.test.ts
  packages/jellyfish-api-core/__tests__/category/account/utxosToAccount.test.ts
Labels: area/jellyfish-api-core, kind/refactor

#233 Add `DfTx` PoolCreatePair
  packages/jellyfish-transaction/__tests__/buffer/buffer_composer.test.ts
  packages/jellyfish-transaction/__tests__/script/defi/dftx_pool/PoolCreatePair.test.ts
  packages/jellyfish-transaction/src/buffer/buffer_composer.ts
  packages/jellyfish-transaction/src/script/defi/dftx.ts
  packages/jellyfish-transaction/src/script/defi/dftx_pool.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: area/jellyfish-transaction, kind/feature

#327 Fix failed test in getChainTips RPC
  packages/jellyfish-api-core/__tests__/category/blockchain/getChainTips.test.ts
Labels: area/jellyfish-api-core, kind/fix

#329 Update `@defichain/testcontainers` with chainparams QOL changes
  package.json
  packages/jellyfish-api-core/__tests__/category/blockchain/getBlock.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/getBlockHash.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/getTxOut.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_appoint_oracle.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_liq_pool_remove_liquidity.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_remove_oracle.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_set_oracle_data.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_update_oracle.test.ts
  packages/testcontainers/src/chains/defid_container.ts
  packages/testing/__tests__/account.test.ts
Labels: area/jellyfish-api-core, area/jellyfish-transaction-builder, area/testcontainers, area/testing, kind/dependencies, priority/urgent-now

#290 Add mintTokens rpc
  packages/jellyfish-api-core/__tests__/category/token/mintTokens.test.ts
  packages/jellyfish-api-core/src/category/token.ts
  website/docs/jellyfish/api/token.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#289 Add accountToUtxos rpc
  packages/jellyfish-api-core/__tests__/category/account/accountToUtxos.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  website/docs/jellyfish/api/account.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#337 updated CODEOWNERS to reflect recent contributing activity
  .github/CODEOWNERS
  .idea/dictionaries/fuxing.xml
Labels: area/workflow, kind/chore

#330 added getRpcInfo rpc
  packages/jellyfish-api-core/__tests__/category/server/getRpcInfo.test.ts
  packages/jellyfish-api-core/src/category/server.ts
  packages/jellyfish-api-core/src/index.ts
  website/docs/jellyfish/api/server.md
  website/sidebars.js
Labels: area/jellyfish-api-core, area/website, kind/feature

#336 Add appointOracle RPC
  packages/jellyfish-api-core/__tests__/category/oracle/appointOracle.test.ts
  packages/jellyfish-api-core/src/category/oracle.ts
  packages/jellyfish-api-core/src/index.ts
  website/docs/jellyfish/api/oracle.md
  website/sidebars.js
Labels: area/jellyfish-api-core, area/website, kind/feature

#340 Add uptime RPC
  packages/jellyfish-api-core/__tests__/category/server/uptime.test.ts
  packages/jellyfish-api-core/src/category/server.ts
  website/docs/jellyfish/api/server.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#339 Add removeOracle rpc
  packages/jellyfish-api-core/__tests__/category/oracle/appointOracle.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/removeOracle.test.ts
  packages/jellyfish-api-core/src/category/oracle.ts
  website/docs/jellyfish/api/oracle.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#343 Add Filter by DfTxType in AccountRPCs
  packages/jellyfish-api-core/__tests__/category/account/accountHistoryCount.test.ts
  packages/jellyfish-api-core/__tests__/category/account/listAccountHistory.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  website/docs/jellyfish/api/account.md
Labels: area/jellyfish-api-core, area/website, kind/fix

#348 Able to specify image tag via ENV in `defid_container.ts`
  packages/testcontainers/src/chains/defid_container.ts
  packages/testcontainers/src/chains/reg_test_container/index.ts
Labels: area/testcontainers, kind/chore

#341 Add updateOracle rpc
  packages/jellyfish-api-core/__tests__/category/oracle/updateOracle.test.ts
  packages/jellyfish-api-core/src/category/oracle.ts
  website/docs/jellyfish/api/oracle.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#346 Add setOracleData rpc
  packages/jellyfish-api-core/__tests__/category/oracle/appointOracle.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/setOracleData.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/updateOracle.test.ts
  packages/jellyfish-api-core/src/category/oracle.ts
  website/docs/jellyfish/api/oracle.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#333 Control.ts OP_CODES (0x61-0x69)
  packages/jellyfish-transaction/__tests__/script/index.test.ts
  packages/jellyfish-transaction/__tests__/script/mapping.test.ts
  packages/jellyfish-transaction/src/script/control.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: area/jellyfish-transaction, kind/feature

#342 Added getTransaction RPC
  packages/jellyfish-api-core/__tests__/category/wallet/getTransaction.test.ts
  packages/jellyfish-api-core/src/category/wallet.ts
  website/docs/jellyfish/api/wallet.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#347 Add getOracleData rpc
  packages/jellyfish-api-core/__tests__/category/oracle/getOracleData.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/setOracleData.test.ts
  packages/jellyfish-api-core/src/category/oracle.ts
  website/docs/jellyfish/api/oracle.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#351 removed duplicated account in sidebar
  website/sidebars.js
Labels: area/website, kind/docs

#358 fix mono repo ts config
  jest.config.js
  package.json
  packages/jellyfish-wallet-mnemonic/__tests__/mnemonic/bip32.test.ts
  packages/jellyfish-wallet/src/wallet_account.ts
  packages/testing/src/poolpair.ts
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
Labels: area/jellyfish-address, area/jellyfish-api-core, area/jellyfish-api-jsonrpc, area/jellyfish-crypto, area/jellyfish-json, area/jellyfish-network, area/jellyfish-transaction, area/jellyfish-transaction-builder, area/jellyfish-wallet-mnemonic, area/testcontainers, area/testing, kind/fix

#320 monorepo tsconfig mapping
  .gitignore
  jest.config.js
  package.json
  packages/jellyfish-address/package.json
  packages/jellyfish-address/tsconfig.build.json
  packages/jellyfish-api-core/package.json
  packages/jellyfish-api-core/tsconfig.build.json
  packages/jellyfish-api-jsonrpc/package.json
  packages/jellyfish-api-jsonrpc/tsconfig.build.json
  packages/jellyfish-api-jsonrpc/tsconfig.json
  packages/jellyfish-crypto/package.json
  packages/jellyfish-crypto/tsconfig.build.json
  packages/jellyfish-crypto/tsconfig.json
  packages/jellyfish-json/package.json
  packages/jellyfish-json/tsconfig.build.json
  packages/jellyfish-json/tsconfig.json
  packages/jellyfish-network/package.json
  packages/jellyfish-network/tsconfig.build.json
  packages/jellyfish-network/tsconfig.json
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_account_to_account.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_account_to_utxos.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_utxos_to_account.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_liq_pool_add_liquidity.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_liq_pool_remove_liquidity.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_p2wpkh.test.ts
  packages/jellyfish-transaction-builder/package.json
  packages/jellyfish-transaction-builder/src/txn/txn_builder.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_account.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_dex.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_liq_pool.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_oracles.ts
  packages/jellyfish-transaction-builder/tsconfig.build.json
  packages/jellyfish-transaction-builder/tsconfig.json
  packages/jellyfish-transaction/package.json
  packages/jellyfish-transaction/src/script/defi/index.ts
  packages/jellyfish-transaction/src/script/index.ts
  packages/jellyfish-transaction/tsconfig.build.json
  packages/jellyfish-transaction/tsconfig.json
  packages/jellyfish-wallet-mnemonic/__tests__/mnemonic/bip32.test.ts
  packages/jellyfish-wallet-mnemonic/package.json
  packages/jellyfish-wallet-mnemonic/tsconfig.build.json
  packages/jellyfish-wallet-mnemonic/tsconfig.json
  packages/jellyfish-wallet/package.json
  packages/jellyfish-wallet/src/wallet_account.ts
  packages/jellyfish-wallet/tsconfig.build.json
  packages/jellyfish-wallet/tsconfig.json
  packages/testcontainers/package.json
  packages/testcontainers/tsconfig.build.json
  packages/testing/package.json
  packages/testing/src/poolpair.ts
  packages/testing/tsconfig.build.json
  packages/testing/tsconfig.json
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
Labels: area/jellyfish-address, area/jellyfish-api-core, area/jellyfish-api-jsonrpc, area/jellyfish-crypto, area/jellyfish-json, area/jellyfish-network, area/jellyfish-transaction, area/jellyfish-transaction-builder, area/jellyfish-wallet-mnemonic, area/testcontainers, area/testing, kind/feature

#361 fixed `go-to-definition` and added project ref `doc`
  README.md
  package.json
  packages/jellyfish/__tests__/cjs.test.ts
  packages/jellyfish/__tests__/export_const.test.ts
  packages/jellyfish/__tests__/export_default.test.ts
  packages/jellyfish/__tests__/jellyfish.test.ts
  packages/jellyfish/package.json
  packages/jellyfish/src/index.ts
  packages/jellyfish/tsconfig.json
  tsconfig.json
Labels: area/jellyfish, kind/fix

#365 fix oss-governance-project-pr to only run on pr target
  .github/workflows/oss-governance-project-pr.yml
Labels: area/workflow, kind/chore

#366 update project ref readme
  README.md
Labels: kind/docs

#345 Add listOracles rpc
  packages/jellyfish-api-core/__tests__/category/oracle/listOracles.test.ts
  packages/jellyfish-api-core/src/category/oracle.ts
  website/docs/jellyfish/api/oracle.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#364 Added getMempoolInfo RPC
  packages/jellyfish-api-core/__tests__/category/blockchain/getMempoolInfo.test.ts
  packages/jellyfish-api-core/src/category/blockchain.ts
  website/docs/jellyfish/api/blockchain.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#367 added single word mnemonic validation
  packages/jellyfish-wallet-mnemonic/__tests__/mnemonic/bip39.test.ts
  packages/jellyfish-wallet-mnemonic/src/mnemonic.ts
Labels: area/jellyfish-wallet-mnemonic, kind/feature

#331 `jellyfish-crypto`: aes256
  package-lock.json
  packages/jellyfish-crypto/__tests__/aes256.test.ts
  packages/jellyfish-crypto/package.json
  packages/jellyfish-crypto/src/aes256.ts
  packages/jellyfish-crypto/src/browserify-aes.d.ts
  packages/jellyfish-crypto/src/index.ts
Labels: area/jellyfish-crypto, kind/feature

#373 CODEOWNERS updates @ivan-zynesis and @canonbrother
  .github/CODEOWNERS
Labels: area/workflow, kind/chore

#352 Add listLatestRawPrices rpc
  packages/jellyfish-api-core/__tests__/category/oracle/listLatestRawPrices.test.ts
  packages/jellyfish-api-core/src/category/oracle.ts
  website/docs/jellyfish/api/oracle.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#374 Fixed properties that don't require BigNumber precision.
  packages/jellyfish-api-core/__tests__/category/blockchain/getMempoolInfo.test.ts
  packages/jellyfish-api-core/src/category/blockchain.ts
  website/docs/jellyfish/api/blockchain.md
Labels: area/jellyfish-api-core, area/website, kind/fix

#377 Fixed doc files from getMintingInfo to getMiningInfo
  README.md
  packages/jellyfish-api-core/README.md
  website/docs/jellyfish/design.md
  website/docs/jellyfish/usage.md
Labels: area/jellyfish-api-core, area/website, kind/docs

#379 Add getMiningInfo to DeFiDContainer
  packages/testcontainers/README.md
  packages/testcontainers/__tests__/chains/reg_test_container/coinbase.test.ts
  packages/testcontainers/__tests__/chains/reg_test_container/index.test.ts
  packages/testcontainers/__tests__/chains/reg_test_container/masternode.test.ts
  packages/testcontainers/__tests__/chains/reg_test_container/persistent.test.ts
  packages/testcontainers/__tests__/index.test.ts
  packages/testcontainers/src/chains/defid_container.ts
  website/docs/testcontainers/usage.md
Labels: area/testcontainers, area/website, kind/feature

#383 fix package-lock.json to silent updates
  package-lock.json
  package.json
Labels: kind/chore

#353 `jellyfish-transaction-builder`: utxos-to-account support multiple destination addresses
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_utxos_to_account.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_account.ts
Labels: area/jellyfish-transaction-builder, kind/feature

#356 Add listPrices rpc
  packages/jellyfish-api-core/__tests__/category/oracle/listPrices.test.ts
  packages/jellyfish-api-core/src/category/oracle.ts
  website/docs/jellyfish/api/oracle.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#386 Add `poolSwap` and `listPoolPairs` in defi/testing
  packages/testing/__tests__/poolpair.test.ts
  packages/testing/src/poolpair.ts
Labels: area/testing, kind/feature

#385 Add getRawTransaction rpc
  .idea/dictionaries/fuxing.xml
  packages/jellyfish-api-core/__tests__/category/rawtx/getRawTransaction.test.ts
  packages/jellyfish-api-core/src/category/blockchain.ts
  packages/jellyfish-api-core/src/category/rawtx.ts
  website/docs/jellyfish/api/blockchain.md
  website/docs/jellyfish/api/rawtx.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#355 Add getPrice rpc
  packages/jellyfish-api-core/__tests__/category/oracle/getPrice.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/listLatestRawPrices.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/listOracles.test.ts
  packages/jellyfish-api-core/src/category/oracle.ts
  website/docs/jellyfish/api/oracle.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#388 Fixed flaky test in accounthistory
  packages/jellyfish-api-core/__tests__/category/account/accountHistoryCount.test.ts
Labels: area/jellyfish-api-core, kind/fix

#390 removed noUnusedLocals from tsconfig.base.json too strict during dev
  tsconfig.base.json
Labels: kind/chore

#391 updated icx and oracle codeowners responsibility
  .github/CODEOWNERS
Labels: area/workflow, kind/chore

#394 should sign hash Buffer with signature buffer [0] as 0x80 for coverage
  packages/jellyfish-crypto/__tests__/elliptic.test.ts
Labels: area/jellyfish-crypto, kind/chore

#354 Added `wallet.getUnconfirmedBalance` RPC
  packages/jellyfish-api-core/__tests__/category/wallet/getUnconfirmedBalance.test.ts
  packages/jellyfish-api-core/src/category/wallet.ts
  website/docs/jellyfish/api/wallet.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#397 poolpair.customRewards is nullable
  packages/jellyfish-api-core/src/category/poolpair.ts
  website/docs/jellyfish/api/poolpair.md
Labels: area/jellyfish-api-core, area/website, kind/fix

#395 use bignumber precision on gettoken and listtokens
  packages/jellyfish-api-core/__tests__/category/blockchain/getBlock.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/getMempoolInfo.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/getRawMempool.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/getTxOut.test.ts
  packages/jellyfish-api-core/__tests__/category/token/createToken.test.ts
  packages/jellyfish-api-core/__tests__/category/token/getToken.test.ts
  packages/jellyfish-api-core/__tests__/category/token/listTokens.test.ts
  packages/jellyfish-api-core/__tests__/category/wallet/getBalance.test.ts
  packages/jellyfish-api-core/__tests__/category/wallet/getWalletInfo.test.ts
  packages/jellyfish-api-core/__tests__/category/wallet/listAddressGroupings.test.ts
  packages/jellyfish-api-core/__tests__/category/wallet/listUnspent.test.ts
  packages/jellyfish-api-core/__tests__/category/wallet/sendMany.test.ts
  packages/jellyfish-api-core/__tests__/category/wallet/wallet.test.ts
  packages/jellyfish-api-core/src/category/rawtx.ts
  packages/jellyfish-api-core/src/category/token.ts
  packages/jellyfish-api-core/src/category/wallet.ts
  packages/jellyfish-json/__tests__/index.test.ts
  packages/jellyfish-json/__tests__/precision.test.ts
  packages/jellyfish-json/__tests__/remap.test.ts
  packages/jellyfish-transaction-builder/__tests__/provider.mock.ts
  packages/jellyfish-transaction-builder/__tests__/test.utils.ts
  packages/jellyfish-transaction-builder/src/provider.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder.ts
  packages/jellyfish-transaction-builder/src/txn/txn_fee.ts
  packages/jellyfish-transaction/__tests__/buffer/buffer_composer.test.ts
  packages/jellyfish-transaction/__tests__/index.test.ts
  packages/jellyfish-transaction/__tests__/script/defi/dftx_governance/SetGovernance.test.ts
  website/docs/jellyfish/api/token.md
Labels: area/jellyfish-api-core, area/jellyfish-json, area/jellyfish-transaction, area/jellyfish-transaction-builder, area/website, kind/fix

#323 `sendTokensToAddress` RPC
  packages/jellyfish-api-core/__tests__/category/account/sendTokensToAddress.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  website/docs/jellyfish/api/account.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#389 OP_CODES for stack
  packages/jellyfish-transaction/__tests__/script/index.test.ts
  packages/jellyfish-transaction/__tests__/script/mapping.test.ts
  packages/jellyfish-transaction/src/script/mapping.ts
  packages/jellyfish-transaction/src/script/stack.ts
Labels: area/jellyfish-transaction, kind/feature

#412 Fixed wallet documentation typo
  website/docs/jellyfish/api/wallet.md
Labels: area/website, kind/docs

#368 Added listCommunityBalances RPC
  packages/jellyfish-api-core/__tests__/category/account/listCommunityBalances.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  website/docs/jellyfish/api/account.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#362 Added getBalances RPC
  packages/jellyfish-api-core/__tests__/category/wallet/getBalances.test.ts
  packages/jellyfish-api-core/src/category/wallet.ts
  website/docs/jellyfish/api/wallet.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#414 removed project references and internal dev deps
  README.md
  package-lock.json
  packages/jellyfish-address/tsconfig.build.json
  packages/jellyfish-api-core/package.json
  packages/jellyfish-api-core/tsconfig.build.json
  packages/jellyfish-api-jsonrpc/package.json
  packages/jellyfish-api-jsonrpc/tsconfig.build.json
  packages/jellyfish-json/package.json
  packages/jellyfish-transaction-builder/package.json
  packages/jellyfish-transaction-builder/tsconfig.build.json
  packages/jellyfish-transaction-signature/tsconfig.build.json
  packages/jellyfish-wallet-mnemonic/tsconfig.build.json
  packages/jellyfish-wallet/tsconfig.build.json
  packages/jellyfish/package.json
  packages/jellyfish/tsconfig.json
  packages/testing/tsconfig.build.json
Labels: area/jellyfish, area/jellyfish-address, area/jellyfish-api-core, area/jellyfish-api-jsonrpc, area/jellyfish-json, area/jellyfish-transaction-builder, area/jellyfish-transaction-signature, area/jellyfish-wallet-mnemonic, area/testing, kind/refactor

#410 Added test for listAccountHistory for accountToAccount, utxosToAccount, accountToUtxos set up.
  packages/jellyfish-api-core/__tests__/category/account/listAccountHistory.test.ts
Labels: area/jellyfish-api-core, kind/chore

#411 Add `testpoolswap` RPC
  packages/jellyfish-api-core/__tests__/category/poolpair/testpoolswap.test.ts
  packages/jellyfish-api-core/src/category/poolpair.ts
  packages/testing/src/token.ts
  website/docs/jellyfish/api/poolpair.md
Labels: area/jellyfish-api-core, area/testing, area/website, kind/feature

#372 Masternode RPC (createmasternode, listmasternodes, getmasternode)
  packages/jellyfish-api-core/__tests__/category/masternode/createMasternode.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/getMasternode.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/listMasternodes.test.ts
  packages/jellyfish-api-core/src/category/masternode.ts
  packages/jellyfish-api-core/src/index.ts
  website/docs/jellyfish/api/masternode.md
  website/sidebars.js
Labels: area/jellyfish-api-core, area/website, kind/feature

#398 Interface `icx_createorder` RPC
  packages/jellyfish-api-core/__tests__/category/icxorderbook/createOrder.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/icx_setup.ts
  packages/jellyfish-api-core/src/category/icxorderbook.ts
  packages/jellyfish-api-core/src/index.ts
  website/docs/jellyfish/api/icxorderbook.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#422 Add bitwise OP CODES.
  packages/jellyfish-transaction/__tests__/script/index.test.ts
  packages/jellyfish-transaction/__tests__/script/mapping.test.ts
  packages/jellyfish-transaction/src/script/bitwise.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: area/jellyfish-transaction, kind/feature

#419 Added `resignMasternode` RPC
  packages/jellyfish-api-core/__tests__/category/masternode/resignMasternode.test.ts
  packages/jellyfish-api-core/src/category/masternode.ts
  website/docs/jellyfish/api/masternode.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#421 testpoolswap markdown fixes
  packages/jellyfish-api-core/__tests__/category/poolpair/testpoolswap.test.ts
  packages/jellyfish-api-core/src/category/poolpair.ts
  website/docs/jellyfish/api/poolpair.md
Labels: area/jellyfish-api-core, area/website, kind/fix

#430 updated `*.MD` and packages/jellyfish to reflect current project direction
  README.md
  packages/jellyfish/__tests__/cjs.test.ts
  packages/jellyfish/__tests__/export_const.test.ts
  packages/jellyfish/__tests__/export_default.test.ts
  packages/jellyfish/src/index.ts
  packages/jellyfish/src/provider.ts
  website/docs/jellyfish/usage.md
  website/docusaurus.config.js
Labels: area/jellyfish, area/website, kind/docs

#399 Interface `icx_makeoffer` RPC
  packages/jellyfish-api-core/__tests__/category/icxorderbook/createOrder.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/makeOffer.test.ts
  packages/jellyfish-api-core/src/category/icxorderbook.ts
  website/docs/jellyfish/api/icxorderbook.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#432 added @ivan-zynesis @siradji @aikchun to `jellyfish-api-core` CODEOWNERS
  .github/CODEOWNERS
  .idea/dictionaries/fuxing.xml
Labels: area/workflow, kind/chore

#400 Interface `icx_closeoffer` RPC
  packages/jellyfish-api-core/__tests__/category/icxorderbook/closeOffer.test.ts
  packages/jellyfish-api-core/src/category/icxorderbook.ts
  website/docs/jellyfish/api/icxorderbook.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#401 Interface `icx_getorder` RPC
  packages/jellyfish-api-core/__tests__/category/icxorderbook/getOrder.test.ts
  packages/jellyfish-api-core/src/category/icxorderbook.ts
  website/docs/jellyfish/api/icxorderbook.md
Labels: area/jellyfish-api-core, area/website, kind/feature
