Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2021-11, with the labels that each got.

#791 Disable docker pruning
  packages/testcontainers/src/containers/RegTestContainer/ContainerGroup.ts
Labels: kind/fix, area/testcontainers

#795 Bump LoanContainer to 2.0.0
  .eslintrc
  .idea/codeStyles/Project.xml
  .idea/dictionaries/fuxing.xml
  docs/node/RPC Category/16-loan.md
  packages/jellyfish-api-core/__tests__/category/loan/depositToVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/getVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/listVaults.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/paybackLoan.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/setCollateralToken.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/setLoanToken.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/updateLoanToken.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_deposit_to_vault.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_payback_loan.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_collateral_token.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_loan_token.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_take_loan.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_update_loan_token.test.ts
  packages/testcontainers/src/containers/RegTestContainer/LoanContainer.ts
Labels: kind/refactor, area/testcontainers, area/jellyfish-api-core, area/jellyfish-transaction-builder

#805 fix wrong number Batch interface for Liquidated Vault
  docs/node/RPC Category/16-loan.md
  packages/jellyfish-api-core/src/category/loan.ts
Labels: kind/fix, area/jellyfish-api-core

#776 RPC: `compositeSwap`
  docs/node/RPC Category/06-poolpair.md
  packages/jellyfish-api-core/__tests__/category/poolpair/compositeSwap.test.ts
  packages/jellyfish-api-core/src/category/poolpair.ts
Labels: kind/feature, area/jellyfish-api-core

#698 Add updateVault rpc
  docs/node/RPC Category/16-loan.md
  packages/jellyfish-api-core/__tests__/category/loan/getVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/updateVault.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/testcontainers/src/containers/RegTestContainer/Masternode.ts
Labels: kind/feature, area/testcontainers, area/jellyfish-api-core

#806 Change letter e to P for createCfp
  packages/jellyfish-api-core/__tests__/category/governance/governance_container.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_governance/CreateCfp.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_governance.ts
Labels: kind/fix, area/jellyfish-transaction, area/jellyfish-api-core

#803 Extra `takeLoan` collateral % check test case
  packages/jellyfish-api-core/__tests__/category/loan/takeLoan.test.ts
Labels: kind/feature, area/jellyfish-api-core

#741 Loan RPC: `withdrawFromVault`
  docs/node/RPC Category/16-loan.md
  packages/jellyfish-api-core/__tests__/category/loan/withdrawFromVault.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/testcontainers/src/containers/RegTestContainer/ContainerGroup.ts
Labels: kind/feature, area/testcontainers, area/jellyfish-api-core

#808 turn off no-lone-blocks eslint check in testing
  .eslintrc
  packages/jellyfish-api-core/__tests__/category/loan/withdrawFromVault.test.ts
Labels: kind/chore, area/jellyfish-api-core

#807 Add waitForNewBlock and waitForBlockHeight RPC
  .idea/dictionaries/fuxing.xml
  docs/node/RPC Category/01-blockchain.md
  packages/jellyfish-api-core/__tests__/category/blockchain/waitForBlockHeight.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/waitForNewBlock.test.ts
  packages/jellyfish-api-core/src/category/blockchain.ts
Labels: kind/feature, area/jellyfish-api-core

#779 DfTx: `compositeSwap`
  packages/jellyfish-api-core/__tests__/category/poolpair/compositeSwap.test.ts
  packages/jellyfish-buffer/__tests__/composer.test.ts
  packages/jellyfish-buffer/src/composer.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_dex_compositeswap.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_dex.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_pool/CompositeSwap.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_pool/PoolSwap.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_pool.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-api-core, area/jellyfish-transaction-builder, area/jellyfish-buffer

#809 Minor updates to waitForNewBlock and waitForBlockHeight RPC tests
  packages/jellyfish-api-core/__tests__/category/blockchain/waitForBlockHeight.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/waitForNewBlock.test.ts
Labels: kind/chore, area/jellyfish-api-core

#810 refactor `CompositeSwap` DfTx to use `PoolId` to keep to existing design patterns
  packages/jellyfish-buffer/__tests__/composer.test.ts
  packages/jellyfish-buffer/src/composer.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_dex_compositeswap.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_pool/CompositeSwap.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_pool.ts
Labels: kind/refactor, area/jellyfish-transaction, area/jellyfish-transaction-builder, area/jellyfish-buffer

#812 allow peer dependency to use ^ for jellyfish
  .github/workflows/release-publish.yml
  package-lock.json
  packages/jellyfish-address/package.json
  packages/jellyfish-api-core/package.json
  packages/jellyfish-api-jsonrpc/package.json
  packages/jellyfish-block/package.json
  packages/jellyfish-buffer/package.json
  packages/jellyfish-crypto/package.json
  packages/jellyfish-json/package.json
  packages/jellyfish-network/package.json
  packages/jellyfish-testing/package.json
  packages/jellyfish-transaction-builder/package.json
  packages/jellyfish-transaction-signature/package.json
  packages/jellyfish-transaction/package.json
  packages/jellyfish-wallet-classic/package.json
  packages/jellyfish-wallet-encrypted/package.json
  packages/jellyfish-wallet-mnemonic/package.json
  packages/jellyfish-wallet/package.json
  packages/testcontainers/package.json
  packages/testing/package.json
Labels: kind/chore, area/jellyfish-api-jsonrpc, area/testcontainers, area/jellyfish-json, area/jellyfish-network, area/jellyfish-transaction, area/jellyfish-wallet-mnemonic, area/jellyfish-api-core, area/jellyfish-crypto, area/workflow, area/testing, area/jellyfish-address, area/jellyfish-transaction-builder, area/jellyfish-transaction-signature, area/jellyfish-wallet-classic, area/jellyfish-wallet-encrypted, area/jellyfish-testing, area/jellyfish-buffer, area/jellyfish-block

#753 `2.0.0` - FortCanning Upgrade
  packages/jellyfish-api-core/__tests__/category/governance/governance_container.ts
  packages/jellyfish-api-core/__tests__/category/oracle/getPrice.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/listLatestRawPrices.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/listPrices.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/setOracleData.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/listPoolPairs.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/claimHtlc.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/createAnchor.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/refundHtlc.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/sendToAddress.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_dex_poolswap.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_set_oracle_data.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/LoanContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/Masternode.ts
  packages/testcontainers/src/containers/RegTestContainer/SPV.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
Labels: kind/feature, area/testcontainers, area/jellyfish-api-core, area/jellyfish-transaction-builder

#815 add non optimal parallelization across 6 instances
  .github/workflows/ci.yml
  jest.config.js
  jest.sequencer.js
  package-lock.json
  package.json
Labels: kind/chore, area/workflow

#816 Fix flaky test and update timeout / type for waitfor functions
  packages/jellyfish-api-core/__tests__/category/loan/closeVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/updateVault.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_close_vault.test.ts
  packages/testcontainers/src/containers/RegTestContainer/Masternode.ts
Labels: kind/fix, area/testcontainers, area/jellyfish-api-core, area/jellyfish-transaction-builder

#701 Add updatevault dftx
  packages/jellyfish-api-core/__tests__/category/loan/updateVault.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_update_vault.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_loans.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/UpdateVault.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-api-core, area/jellyfish-transaction-builder

#817 Bump to latest defid 2.1.0 release
  packages/jellyfish-api-core/__tests__/category/loan/loan_container.ts
  packages/jellyfish-transaction-builder/__tests__/txn/loan_container.ts
  packages/testcontainers/__tests__/containers/Container.test.ts
  packages/testcontainers/__tests__/containers/RegTestContainer/Coinbase.test.ts
  packages/testcontainers/__tests__/containers/RegTestContainer/ContainerGroup.test.ts
  packages/testcontainers/__tests__/containers/RegTestContainer/Masternode.test.ts
  packages/testcontainers/__tests__/containers/RegTestContainer/Persistent.test.ts
  packages/testcontainers/__tests__/containers/RegTestContainer/SPV.test.ts
  packages/testcontainers/__tests__/containers/RegTestContainer/index.test.ts
  packages/testcontainers/__tests__/index.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/LoanContainer.ts
Labels: kind/dependencies, area/testcontainers, area/jellyfish-api-core, area/jellyfish-transaction-builder

#750 DfTx: `withdrawFromVault`
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_withdraw_from_vault.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_loans.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/WithdrawFromVault.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-transaction-builder

#760 Add `getFixedIntervalPrice` and `listFixedIntervalPrices` rpc
  docs/node/RPC Category/09-oracle.md
  packages/jellyfish-api-core/__tests__/category/oracle/getFixedIntervalPrice.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/listFixedIntervalPrices.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/loan_container.ts
  packages/jellyfish-api-core/src/category/oracle.ts
Labels: kind/feature, area/jellyfish-api-core

#677 Add `placeAuctionBid` rpc
  docs/node/RPC Category/16-loan.md
  packages/jellyfish-api-core/__tests__/category/loan/getInterest.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/placeAuctionBid.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/testcontainers/src/containers/RegTestContainer/Masternode.ts
Labels: kind/feature, area/testcontainers, area/jellyfish-api-core

#789 RPC: `setGovHeight` and `listGovs`
  docs/node/RPC Category/11-masternode.md
  packages/jellyfish-api-core/__tests__/category/masternode/listGovs.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/setGovHeight.test.ts
  packages/jellyfish-api-core/src/category/masternode.ts
Labels: kind/feature, area/jellyfish-api-core

#824 add missing required dependencies for jellyfish-wallet
  .idea/dictionaries/fuxing.xml
  package-lock.json
  packages/jellyfish-wallet/package.json
Labels: kind/dependencies

#804 Add vault.state testing on takeLoan + some refactors
  packages/jellyfish-api-core/__tests__/category/loan/takeLoan.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_take_loan.test.ts
Labels: kind/refactor, area/jellyfish-api-core, area/jellyfish-transaction-builder

#825 Bump defid from 2.1.0 to 2.2.0
  packages/testcontainers/src/containers/DeFiDContainer.ts
Labels: kind/dependencies, area/testcontainers

#695 Add listAuctions rpc
  docs/node/RPC Category/16-loan.md
  packages/jellyfish-api-core/__tests__/category/loan/listAuctons.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
Labels: kind/feature, area/jellyfish-api-core

#790 DfTx: `setGovHeight`
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_setgov.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_setgovheight.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_governance.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_governance/SetGovernanceHeight.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_governance.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-transaction-builder

#787 Add listAuctionHistory rpc
  docs/node/RPC Category/16-loan.md
  packages/jellyfish-api-core/__tests__/category/loan/listAuctionHistory.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
Labels: kind/feature, area/jellyfish-api-core

#828 fix poolpair wrong type for status
  docs/node/RPC Category/06-poolpair.md
  packages/jellyfish-api-core/src/category/poolpair.ts
Labels: kind/fix, area/jellyfish-api-core

#831 updated dependabot to ignore defichain dependency
  .github/dependabot.yml
Labels: kind/dependencies, area/workflow

#830 The return type of listAuctions RPC should be VaultLiquidation object
  docs/node/RPC Category/16-loan.md
  packages/jellyfish-api-core/__tests__/category/loan/listAuctons.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
Labels: kind/refactor, area/jellyfish-api-core

#827 Share DFTX functions for create and update loan scheme
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_create_loan_scheme.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_loan_scheme.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_loans.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/CreateLoanScheme.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/SetLoanScheme.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/refactor, area/jellyfish-transaction, area/jellyfish-transaction-builder

#654 RPC: `getLoanInfo`
  docs/node/RPC Category/16-loan.md
  packages/jellyfish-api-core/__tests__/category/loan/getLoanInfo.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
Labels: kind/feature, area/jellyfish-api-core

#839 add codecov.yml to allow diff threshold of 1%
  codecov.yml
Labels: kind/chore

#836 moved website package-lock to be part of single mono repo at root
  .github/dependabot.yml
  .idea/dictionaries/fuxing.xml
  netlify.toml
  package-lock.json
  package.json
  packages/jellyfish-api-jsonrpc/src/index.ts
  website/package-lock.json
  website/package.json
Labels: kind/dependencies, area/jellyfish-api-jsonrpc, area/website, area/workflow

#840 increased ci.yml tests parallelization from 6 to 8
  .github/workflows/ci.yml
Labels: kind/chore, area/workflow

#841 added overview docs for Ocean REST API
  docs/node/CATEGORIES/01-blockchain.md
  docs/node/CATEGORIES/02-mining.md
  docs/node/CATEGORIES/03-net.md
  docs/node/CATEGORIES/04-rawtx.md
  docs/node/CATEGORIES/05-wallet.md
  docs/node/CATEGORIES/06-poolpair.md
  docs/node/CATEGORIES/07-token.md
  docs/node/CATEGORIES/08-account.md
  docs/node/CATEGORIES/09-oracle.md
  docs/node/CATEGORIES/10-server.md
  docs/node/CATEGORIES/11-masternode.md
  docs/node/CATEGORIES/12-governance.md
  docs/node/CATEGORIES/13-misc.md
  docs/node/CATEGORIES/14-spv.md
  docs/node/CATEGORIES/15-icxorderbook.md
  docs/node/CATEGORIES/16-loan.md
  docs/ocean/01-overview.md
  docs/ocean/REFERENCES/address.mdx
  website/docusaurus.config.js
Labels: kind/docs, area/website

#842 fix createVault MainNet fee creation
  packages/jellyfish-transaction-builder/src/txn/txn_builder_loans.ts
Labels: kind/fix, area/jellyfish-transaction-builder

#819 Fix DUSD related fixture
  packages/jellyfish-api-core/__tests__/category/loan/closeVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/paybackLoan.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_dex_compositeswap.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_close_vault.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_payback_loan.test.ts
Labels: kind/fix, area/jellyfish-api-core, area/jellyfish-transaction-builder

#847 additional note on minor versioned endpoint for ocean
  docs/ocean/01-overview.md
Labels: kind/docs

#850 Add highestBid object to listVaults, getVault and listAuctions RPCs
  docs/node/CATEGORIES/16-loan.md
  packages/jellyfish-api-core/__tests__/category/loan/getVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/listAuctons.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/listVaults.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
Labels: kind/fix, area/jellyfish-api-core

#851 Bump DeFiDContainer to 2.2.1
  packages/testcontainers/src/containers/DeFiDContainer.ts
Labels: kind/dependencies, area/testcontainers

#855 Add wallet purpose `PURPOSE_LIGHT_PRICE_ORACLE`
  packages/jellyfish-wallet/src/wallet.ts
Labels: kind/feature
