Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2021-08, with the labels that each got.

#531 `jellyfish-wallet-encrypted` to use `scrypt-js`, a pure js scrypt implementation
  .idea/dictionaries/fuxing.xml
  package-lock.json
  packages/jellyfish-wallet-encrypted/__tests__/SimpleScryptsy.ts
  packages/jellyfish-wallet-encrypted/__tests__/bip32.test.ts
  packages/jellyfish-wallet-encrypted/__tests__/encryption.test.ts
  packages/jellyfish-wallet-encrypted/__tests__/scrypt.test.ts
  packages/jellyfish-wallet-encrypted/package.json
  packages/jellyfish-wallet-encrypted/src/encryption.ts
  packages/jellyfish-wallet-encrypted/src/hd_node.ts
  packages/jellyfish-wallet-encrypted/src/index.ts
  packages/jellyfish-wallet-encrypted/src/provider/scrypt_provider.ts
  packages/jellyfish-wallet-encrypted/src/scrypt.ts
Labels: area/jellyfish-wallet-encrypted, kind/feature

#470 `@defichain/testcontainers` MasternodeGroup
  packages/testcontainers/__tests__/chains/container.test.ts
  packages/testcontainers/__tests__/chains/container_restart.test.ts
  packages/testcontainers/__tests__/chains/reg_test_container/masternode_group.test.ts
  packages/testcontainers/package.json
  packages/testcontainers/src/chains/defid_container.ts
  packages/testcontainers/src/chains/docker_container.ts
  packages/testcontainers/src/chains/reg_test_container/masternode.ts
  packages/testcontainers/src/chains/reg_test_container/masternode_group.ts
  packages/testcontainers/src/index.ts
  packages/testcontainers/src/wait_for_condition.ts
Labels: area/testcontainers, kind/feature

#535 extending spv CODEOWNERS to icx CODEOWNERS
  .github/CODEOWNERS
Labels: area/workflow, kind/chore

#511 Added SPV createHtlc RPC
  packages/jellyfish-api-core/__tests__/category/spv/createHtlc.test.ts
  packages/jellyfish-api-core/src/category/spv.ts
  website/docs/jellyfish/api/spv.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#540 added `getBurnInfo` RPC
  .idea/dictionaries/fuxing.xml
  packages/jellyfish-api-core/__tests__/category/account/getBurnInfo.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  website/docs/jellyfish/api/account.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#542 fix `waitForRpc` for better stability
  packages/testcontainers/package.json
  packages/testcontainers/src/chains/defid_container.ts
  packages/testcontainers/src/chains/reg_test_container/masternode.ts
  packages/testcontainers/src/chains/reg_test_container/masternode_group.ts
Labels: area/testcontainers, kind/fix

#536 removed template interface in `jellyfish-api-core`
  packages/jellyfish-api-core/src/category/account.ts
  packages/jellyfish-api-core/src/category/token.ts
  website/docs/jellyfish/api/account.md
  website/docs/jellyfish/api/token.md
Labels: area/jellyfish-api-core, area/website, kind/fix

#541 removed individual jest.config.js as it's not required
  README.md
  jest.config.js
  package-lock.json
  packages/jellyfish-address/jest.config.js
  packages/jellyfish-api-core/jest.config.js
  packages/jellyfish-api-jsonrpc/jest.config.js
  packages/jellyfish-crypto/jest.config.js
  packages/jellyfish-json/jest.config.js
  packages/jellyfish-network/jest.config.js
  packages/jellyfish-transaction-builder/jest.config.js
  packages/jellyfish-transaction-signature/jest.config.js
  packages/jellyfish-transaction/jest.config.js
  packages/jellyfish-wallet-classic/jest.config.js
  packages/jellyfish-wallet-encrypted/jest.config.js
  packages/jellyfish-wallet-mnemonic/jest.config.js
  packages/jellyfish-wallet/jest.config.js
  packages/jellyfish/jest.config.js
  packages/testcontainers/jest.config.js
  packages/testing/jest.config.js
Labels: area/jellyfish, area/jellyfish-address, area/jellyfish-api-core, area/jellyfish-api-jsonrpc, area/jellyfish-crypto, area/jellyfish-json, area/jellyfish-network, area/jellyfish-transaction, area/jellyfish-transaction-builder, area/jellyfish-transaction-signature, area/jellyfish-wallet-classic, area/jellyfish-wallet-encrypted, area/jellyfish-wallet-mnemonic, area/testcontainers, area/testing, kind/refactor

#549 Bump jest and ts-jest from 26.x to 27.0.x
  package-lock.json
  package.json
  packages/testcontainers/package.json
Labels: area/testcontainers, kind/dependencies

#550 fixed dftx to parse anomalous OP_PUSHDATA
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_op_push_anomaly.test.ts
  packages/jellyfish-transaction/src/script/dftx/index.ts
Labels: area/jellyfish-transaction, kind/fix

#556 inconsistent `maxPrice` should parse from buffer into consistent variant regardless
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_pool/PoolSwap.test.ts
  packages/jellyfish-transaction/src/buffer/buffer_composer.ts
Labels: area/jellyfish-transaction, kind/fix

#513 Added SPV decodeHtlcScript RPC
  packages/jellyfish-api-core/__tests__/category/spv/decodeHtlcScript.test.ts
  packages/jellyfish-api-core/src/category/spv.ts
  website/docs/jellyfish/api/spv.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#555 `@defichain/jellyfish-wallet` derivation refactoring
  package-lock.json
  packages/jellyfish-wallet-encrypted/__tests__/bip32.test.ts
  packages/jellyfish-wallet-mnemonic/__tests__/bip32.test.ts
  packages/jellyfish-wallet-mnemonic/package.json
  packages/jellyfish-wallet-mnemonic/src/hd_node.ts
  packages/jellyfish-wallet/__tests__/wallet.test.ts
  packages/jellyfish-wallet/src/wallet.ts
Labels: area/jellyfish-wallet-encrypted, area/jellyfish-wallet-mnemonic, kind/feature

#521 Added SPV claimHtlc RPC
  packages/jellyfish-api-core/__tests__/category/spv/claimHtlc.test.ts
  packages/jellyfish-api-core/src/category/spv.ts
  website/docs/jellyfish/api/spv.md
Labels: area/jellyfish-api-core, area/website, kind/feature

#564 added more testing to getAccount and listTokens to match whale usage pattern
  packages/jellyfish-api-core/__tests__/category/account/getAccount.test.ts
  packages/jellyfish-api-core/__tests__/category/token/listTokens.test.ts
Labels: kind/refactor, area/jellyfish-api-core

#565 updated CODEOWNERS with recent contributing activities
  .github/CODEOWNERS
  .idea/dictionaries/fuxing.xml
Labels: kind/chore, area/workflow

#577 Refactor MasternodeGroup to ContainerGroup, cherry-picked from #575
  packages/testcontainers/__tests__/chains/reg_test_container/container_group.test.ts
  packages/testcontainers/src/chains/reg_test_container/container_group.ts
  packages/testcontainers/src/index.ts
Labels: kind/refactor, area/testcontainers

#576 `@defichain/jellyfish-testing` new centralized testing framework for jellyfish ecosystem
  .github/CODEOWNERS
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  README.md
  jest.config.js
  package-lock.json
  packages/jellyfish-api-core/__tests__/category/poolpair/poolswap.test.ts
  packages/jellyfish-api-jsonrpc/src/index.ts
  packages/jellyfish-testing/README.md
  packages/jellyfish-testing/__tests__/fixture.test.ts
  packages/jellyfish-testing/__tests__/poolpair.test.ts
  packages/jellyfish-testing/__tests__/rawtx.test.ts
  packages/jellyfish-testing/__tests__/token.test.ts
  packages/jellyfish-testing/package.json
  packages/jellyfish-testing/src/fixture.ts
  packages/jellyfish-testing/src/index.ts
  packages/jellyfish-testing/src/poolpair.ts
  packages/jellyfish-testing/src/rawtx.ts
  packages/jellyfish-testing/src/token.ts
  packages/jellyfish-testing/tsconfig.build.json
  packages/testing/src/account.ts
  packages/testing/src/poolpair.ts
  packages/testing/src/rawtx.ts
  packages/testing/src/token.ts
  packages/testing/src/wallet.ts
  tsconfig.build.json
  tsconfig.json
  website/docs/introduction.md
Labels: kind/feature, area/jellyfish-api-jsonrpc, area/website, area/jellyfish-api-core, area/workflow, area/testing

#586 Export icxorderbook from jellyfish-api-core.
  packages/jellyfish-api-core/src/index.ts
Labels: kind/fix, area/jellyfish-api-core

#527 Added SPV getHtlcSeed RPC
  packages/jellyfish-api-core/__tests__/category/spv/getHtlcSeed.test.ts
  packages/jellyfish-api-core/src/category/spv.ts
  website/docs/jellyfish/api/spv.md
Labels: kind/feature, area/website, area/jellyfish-api-core

#596 increase `-rpcworkqueue` to 512 for testcontainers
  .github/CODEOWNERS
  packages/testcontainers/src/chains/defid_container.ts
Labels: kind/chore, area/testcontainers, area/workflow

#529 Added SPV refundHtlc RPC
  packages/jellyfish-api-core/__tests__/category/spv/refundHtlc.test.ts
  packages/jellyfish-api-core/src/category/spv.ts
  website/docs/jellyfish/api/spv.md
Labels: kind/feature, area/website, area/jellyfish-api-core

#597 Use BigNumber for Governance ProposalInfo amount property
  packages/jellyfish-api-core/__tests__/category/governance/getProposal.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/listProposals.test.ts
  packages/jellyfish-api-core/src/category/governance.ts
  website/docs/jellyfish/api/governance.md
Labels: kind/fix, area/website, area/jellyfish-api-core

#598 added `Elliptic.generate()` for EllipticPair generation
  packages/jellyfish-crypto/__tests__/elliptic.test.ts
  packages/jellyfish-crypto/src/aes256.ts
  packages/jellyfish-crypto/src/elliptic.ts
  packages/jellyfish-wallet-encrypted/src/encryption.ts
  packages/jellyfish-wallet-mnemonic/src/mnemonic.ts
Labels: kind/feature, area/jellyfish-wallet-mnemonic, area/jellyfish-crypto, area/jellyfish-wallet-encrypted

#600 add mnemonicAsEntropy and entropyAsMnemonic for storing mnemonic as 32 byte buffer
  packages/jellyfish-wallet-mnemonic/__tests__/bip39.test.ts
  packages/jellyfish-wallet-mnemonic/src/mnemonic.ts
Labels: kind/feature, area/jellyfish-wallet-mnemonic

#590 Adds ICX to jellyfish-testing
  packages/jellyfish-testing/__tests__/icxorderbook.test.ts
  packages/jellyfish-testing/src/icxorderbook.ts
  packages/jellyfish-testing/src/index.ts
Labels: kind/feature, area/jellyfish-testing

#581 Added listHtlcOutputs RPC
  packages/jellyfish-api-core/__tests__/category/spv/listHtlcsOutputs.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/refundHtlc.test.ts
  packages/jellyfish-api-core/src/category/spv.ts
  website/docs/jellyfish/api/spv.md
Labels: kind/feature, area/website, area/jellyfish-api-core

#602 Added listVotes RPC
  packages/jellyfish-api-core/__tests__/category/governance/governance_container.ts
  packages/jellyfish-api-core/__tests__/category/governance/listVotes.test.ts
  packages/jellyfish-api-core/src/category/governance.ts
  website/docs/jellyfish/api/governance.md
Labels: kind/feature, area/website, area/jellyfish-api-core

#605 Add setMockTime rpc
  packages/jellyfish-api-core/__tests__/category/misc/setMockTime.test.ts
  packages/jellyfish-api-core/src/category/misc.ts
  packages/jellyfish-api-core/src/index.ts
  website/docs/jellyfish/api/misc.md
Labels: kind/feature, area/website, area/jellyfish-api-core

#562 Added dftx ICXCreateOrder
  packages/jellyfish-testing/src/icxorderbook.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_icx_create_order.test.ts
  packages/jellyfish-transaction-builder/src/index.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_icxorderbook.ts
  packages/jellyfish-transaction/__tests__/buffer/buffer_composer.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_icxorderbook/CreateOrder.test.ts
  packages/jellyfish-transaction/src/buffer/buffer_composer.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_icxorderbook.ts
  packages/jellyfish-transaction/src/script/dftx/index.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-transaction-builder, area/jellyfish-testing

#534 `txn-builder`: masternode-create and masternode-resign
  packages/jellyfish-api-core/__tests__/category/masternode/createMasternode.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/listMasternodes.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/resignMasternode.test.ts
  packages/jellyfish-api-core/src/category/masternode.ts
  packages/jellyfish-transaction-builder/__tests__/test.utils.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_masternode_create.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_masternode_resign.test.ts
  packages/jellyfish-transaction-builder/src/index.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_masternode.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_masternode/CreateMasterNode.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_masternode/CreateMasternode.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_masternode/ResignMasternode.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_masternode.ts
  packages/jellyfish-transaction/src/script/mapping.ts
  website/docs/jellyfish/api/masternode.md
Labels: kind/feature, area/website, area/jellyfish-transaction, area/jellyfish-api-core, area/jellyfish-transaction-builder

#607 Revert "Added dftx ICXCreateOrder (#562)"
  packages/jellyfish-testing/src/icxorderbook.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_icx_create_order.test.ts
  packages/jellyfish-transaction-builder/src/index.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_icxorderbook.ts
  packages/jellyfish-transaction/__tests__/buffer/buffer_composer.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_icxorderbook/CreateOrder.test.ts
  packages/jellyfish-transaction/src/buffer/buffer_composer.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_icxorderbook.ts
  packages/jellyfish-transaction/src/script/dftx/index.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/chore, area/jellyfish-transaction, area/jellyfish-transaction-builder, area/jellyfish-testing

#610 fix documentation errors
  README.md
  packages/jellyfish-address/README.md
  packages/jellyfish-address/package.json
  packages/jellyfish-api-core/package.json
  packages/jellyfish-api-core/src/category/account.ts
  packages/jellyfish-api-core/src/category/rawtx.ts
  packages/jellyfish-api-core/src/category/spv.ts
  packages/jellyfish-api-jsonrpc/package.json
  packages/jellyfish-crypto/package.json
  packages/jellyfish-json/package.json
  packages/jellyfish-network/README.md
  packages/jellyfish-network/package.json
  packages/jellyfish-testing/README.md
  packages/jellyfish-testing/package.json
  packages/jellyfish-transaction-builder/package.json
  packages/jellyfish-transaction-signature/package.json
  packages/jellyfish-transaction/package.json
  packages/jellyfish-wallet-classic/package.json
  packages/jellyfish-wallet-encrypted/package.json
  packages/jellyfish-wallet-mnemonic/package.json
  packages/jellyfish-wallet/README.md
  packages/jellyfish-wallet/package.json
  packages/jellyfish/README.md
  packages/jellyfish/package.json
  packages/testcontainers/package.json
  packages/testing/README.md
  packages/testing/package.json
  website/docs/introduction.md
  website/docs/jellyfish/api/account.md
  website/docs/jellyfish/api/mining.md
  website/docs/jellyfish/api/rawtx.md
  website/docs/jellyfish/api/spv.md
  website/docs/jellyfish/design.md
  website/docusaurus.config.js
Labels: kind/docs, area/jellyfish-api-jsonrpc, area/testcontainers, area/jellyfish, area/jellyfish-json, area/website, area/jellyfish-network, area/jellyfish-transaction, area/jellyfish-wallet-mnemonic, area/jellyfish-api-core, area/jellyfish-crypto, area/testing, area/jellyfish-address, area/jellyfish-transaction-builder, area/jellyfish-transaction-signature, area/jellyfish-wallet-classic, area/jellyfish-wallet-encrypted, area/jellyfish-testing

#561 Add dftx ICXSubmitDFCHTLC and TxnBuilderICXOrderBook.
  packages/jellyfish-testing/src/icxorderbook.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_submit_dfc_htlc.test.ts
  packages/jellyfish-transaction-builder/src/index.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_icxorderbook.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_icxorderbook/ICXSubmitDFCHTLC.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_icxorderbook.ts
  packages/jellyfish-transaction/src/script/dftx/index.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-transaction-builder, area/jellyfish-testing

#520 Add createLoanScheme rpc
  packages/jellyfish-api-core/__tests__/category/loan/createLoanScheme.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/loan_container.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/jellyfish-api-core/src/index.ts
  website/docs/jellyfish/api/loan.md
  website/sidebars.js
Labels: kind/feature, area/website, area/jellyfish-api-core

#609 lint to run eslint directly instead of through standard
  .eslintrc
  .github/workflows/ci.yml
  .idea/dictionaries/fuxing.xml
  package-lock.json
  package.json
  packages/jellyfish-api-core/__tests__/category/poolpair/poolSwapMaxPrice.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/decodeHtlcScript.test.ts
  packages/jellyfish-api-core/__tests__/category/wallet/sendMany.test.ts
  packages/jellyfish-api-core/__tests__/category/wallet/wallet.test.ts
  packages/jellyfish-crypto/__tests__/aes256.test.ts
  packages/jellyfish-json/src/index.ts
  packages/jellyfish-transaction/__tests__/buffer/buffer_composer.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_account.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_balance.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_governance.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_masternode.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_misc.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_oracles.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_pool.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_price.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_token.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_unmapped.ts
  packages/jellyfish-transaction/src/tx_composer.ts
  packages/jellyfish-transaction/src/tx_segwit.ts
  packages/jellyfish/src/index.ts
  packages/testcontainers/src/chains/defid_container.ts
  packages/testcontainers/src/wait_for_condition.ts
Labels: kind/refactor, area/testcontainers, area/jellyfish, area/jellyfish-json, area/jellyfish-transaction, area/jellyfish-api-core, area/jellyfish-crypto, area/workflow

#524 Add listLoanSchemes rpc
  packages/jellyfish-api-core/__tests__/category/loan/listLoanSchemes.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  website/docs/jellyfish/api/loan.md
Labels: kind/feature, area/website, area/jellyfish-api-core

#560 Add createLoanScheme dftx
  packages/jellyfish-transaction-builder/__tests__/txn/loan_container.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_create_loan_scheme.test.ts
  packages/jellyfish-transaction-builder/src/index.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_loans.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/CreateLoanScheme.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_icxorderbook.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/dftx/index.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-transaction-builder

#595 Adds CreateCfp and CreateVoc DfTx
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_createcfp.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_createvoc.test.ts
  packages/jellyfish-transaction-builder/src/index.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_error.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_governance.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_governance/CreateCfp.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_governance/CreateVoc.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_governance.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-transaction-builder

#615 add mn targetmultiplier test
  packages/jellyfish-api-core/__tests__/category/masternode/createMasternode.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_masternode_create.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_masternode.ts
Labels: kind/feature, area/jellyfish-api-core, area/jellyfish-transaction-builder

#608 Added dftx ICXCreateOrder
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_icx_create_order.test.ts
  packages/jellyfish-transaction-builder/src/index.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_error.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_icxorderbook.ts
  packages/jellyfish-transaction/__tests__/buffer/buffer_composer.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_icxorderbook/CreateOrder.test.ts
  packages/jellyfish-transaction/src/buffer/buffer_composer.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_icxorderbook.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-transaction-builder

#617 consolidating jellyfish core code owners
  .github/CODEOWNERS
Labels: kind/chore, area/workflow

#554 Add setDefaultLoanScheme rpc
  packages/jellyfish-api-core/__tests__/category/loan/setDefaultLoanScheme.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  website/docs/jellyfish/api/loan.md
Labels: kind/feature, area/website, area/jellyfish-api-core

#589 Add dftx ICXSubmitEXTHTLC
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_submit_ext_htlc.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_icxorderbook.ts
  packages/jellyfish-transaction/__tests__/buffer/buffer_composer.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_icxorderbook/ICXSubmitEXTHTLC.test.ts
  packages/jellyfish-transaction/src/buffer/buffer_composer.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_icxorderbook.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-transaction-builder

#526 Add destroyLoanScheme rpc
  packages/jellyfish-api-core/__tests__/category/loan/destroyLoanScheme.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  website/docs/jellyfish/api/loan.md
Labels: kind/feature, area/website, area/jellyfish-api-core

#622 refactor toBe/toEqual -> toStrictEqual
  packages/jellyfish-api-core/__tests__/category/account/accountHistoryCount.test.ts
  packages/jellyfish-api-core/__tests__/category/account/listAccountHistory.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/claimDFCHTLC.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/closeOffer.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/closeOrder.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/complexTests.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/icx_setup.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/listHTLCs.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/listOrders.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/makeOffer.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/submitDFCHTLC.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/submitExtHTLC.test.ts
  packages/jellyfish-api-core/__tests__/category/server/getRpcInfo.test.ts
  packages/jellyfish-api-core/__tests__/category/server/uptime.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_account_to_account.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_account_to_utxos.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_vote.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_icx_create_order.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_icx_make_offer.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_liq_pool_add_liquidity.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_liq_pool_remove_liquidity.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_submit_dfc_htlc.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_submit_ext_htlc.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_governance/SetGovernance.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_icxorderbook/ICXSubmitDFCHTLC.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_icxorderbook/ICXSubmitEXTHTLC.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_op_push_anomaly.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_oracles/AppointOracle.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_oracles/RemoveOracle.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_oracles/SetOracleData.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_oracles/UpdateOracle.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_pool/PoolCreatePair.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_pool/PoolUpdatePair.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_token/TokenCreate.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_token/TokenUpdate.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_token/TokenUpdateAny.test.ts
Labels: kind/chore, area/jellyfish-transaction, area/jellyfish-api-core, area/jellyfish-transaction-builder

#626 Jellyfish-buffer refactor for separation of BufferComposer from jellyfish-transaction
  .eslintrc
  .github/CODEOWNERS
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  README.md
  jest.config.js
  packages/jellyfish-buffer/README.md
  packages/jellyfish-buffer/__tests__/composer.test.ts
  packages/jellyfish-buffer/__tests__/varuint.test.ts
  packages/jellyfish-buffer/package.json
  packages/jellyfish-buffer/src/bignumber.ts
  packages/jellyfish-buffer/src/bitmask.ts
  packages/jellyfish-buffer/src/composer.ts
  packages/jellyfish-buffer/src/index.ts
  packages/jellyfish-buffer/src/varuint.ts
  packages/jellyfish-buffer/tsconfig.build.json
  packages/jellyfish-transaction/__tests__/tx_composer/index.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_account.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_balance.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_governance.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_icxorderbook.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_masternode.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_misc.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_oracles.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_pool.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_price.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_token.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_unmapped.ts
  packages/jellyfish-transaction/src/script/mapping.ts
  packages/jellyfish-transaction/src/tx_composer.ts
  packages/jellyfish-transaction/src/tx_segwit.ts
  tsconfig.build.json
  tsconfig.json
  website/docs/introduction.md
Labels: kind/refactor, area/website, area/jellyfish-transaction, area/workflow

#623 updated the narrative of jellyfish-wallet with the latest context
  packages/jellyfish-wallet-encrypted/README.md
  packages/jellyfish-wallet-encrypted/src/hd_node.ts
  packages/jellyfish-wallet-mnemonic/README.md
  packages/jellyfish-wallet-mnemonic/src/hd_node.ts
Labels: kind/docs, area/jellyfish-wallet-mnemonic, area/jellyfish-wallet-encrypted

#633 added workflow concurrency to cancel in progress
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
Labels: kind/chore, area/workflow

#625 Added additional `network: Network` param to all P2WPKHTxnBuilder
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_account_to_account.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_account_to_utxos.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_utxos_to_account.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_appoint_oracle.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_claim_dfc_htlc.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_create_loan_scheme.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_dex_poolswap.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_error.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_createcfp.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_createvoc.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_vote.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_icx_create_order.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_icx_make_offer.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_liq_pool_add_liquidity.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_liq_pool_remove_liquidity.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_masternode_create.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_masternode_resign.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_p2wpkh.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_remove_oracle.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_set_default_loan_scheme.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_set_oracle_data.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_submit_dfc_htlc.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_submit_ext_htlc.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_update_oracle.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_utxo.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_utxo_many.test.ts
  packages/jellyfish-transaction-builder/src/index.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_governance.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_masternode.ts
Labels: kind/feature, area/jellyfish-transaction-builder

#634 added more eslint rules and fixed mono repo dependencies
  .editorconfig
  .eslintrc
  .idea/codeStyles/Project.xml
  package-lock.json
  package.json
  packages/jellyfish-buffer/package.json
  packages/jellyfish-crypto/src/der.ts
  packages/jellyfish-transaction-signature/package.json
  packages/jellyfish-transaction-signature/src/tx_signature.ts
  packages/jellyfish-transaction/__tests__/script/mapping.test.ts
  packages/jellyfish-transaction/package.json
  packages/jellyfish-wallet-mnemonic/src/hd_node.ts
  tsconfig.json
Labels: kind/chore, area/jellyfish-transaction, area/jellyfish-wallet-mnemonic, area/jellyfish-crypto, area/jellyfish-transaction-signature, area/jellyfish-buffer
