Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2021-09, with the labels that each got.

#578 Added dftx ICXCloseOrder
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_icx_close_order.test.ts
  packages/jellyfish-transaction-builder/src/index.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_icxorderbook.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_icxorderbook/CloseOrder.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_icxorderbook.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-transaction-builder

#579 Added dftx ICXCloseOffer
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_icx_close_offer.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_icxorderbook.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_icxorderbook/CloseOffer.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_icxorderbook/CloseOrder.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_icxorderbook.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-transaction-builder

#594 Add destroyLoanScheme dftx
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_create_loan_scheme.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_destroy_loan_scheme.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_default_loan_scheme.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_loans.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/DestroyLoanScheme.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-transaction-builder

#537 Add setCollateralToken rpc
  packages/jellyfish-api-core/__tests__/category/loan/setCollateralToken.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  website/docs/jellyfish/api/loan.md
Labels: kind/feature, area/website, area/jellyfish-api-core

#591 Add updateLoanScheme dftx
  packages/jellyfish-api-core/__tests__/category/loan/destroyLoanScheme.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_destroy_loan_scheme.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_update_loan_scheme.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_loans.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/CreateLoanScheme.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/SetDefaultLoanScheme.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/UpdateLoanScheme.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-api-core, area/jellyfish-transaction-builder

#644 updated testcontainers to use cross-fetch for consistency across packages
  .idea/dictionaries/fuxing.xml
  package-lock.json
  packages/testcontainers/package.json
  packages/testcontainers/src/chains/defid_container.ts
  packages/testcontainers/src/chains/reg_test_container/container_group.ts
  website/package-lock.json
  website/package.json
Labels: kind/dependencies, area/testcontainers, area/website

#619 Add setCollateralToken dftx
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_collateral_token.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_loans.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/SetCollateralToken.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_masternode/CreateMasterNode.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-transaction-builder

#551 Add listCollateralTokens rpc
  packages/jellyfish-api-core/__tests__/category/loan/listCollateralTokens.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  website/docs/jellyfish/api/loan.md
Labels: kind/feature, area/website, area/jellyfish-api-core

#645 Update governance opcodes
  packages/jellyfish-api-core/__tests__/category/governance/createCfp.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/createVoc.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/governance_container.ts
  packages/jellyfish-api-core/__tests__/category/governance/vote.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_governance/CreateCfp.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_governance/Vote.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_governance.ts
Labels: kind/chore, area/jellyfish-transaction, area/jellyfish-api-core

#647 CollateralToken's priceFeed should contain USD price
  packages/jellyfish-api-core/__tests__/category/loan/listCollateralTokens.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/loan_container.ts
  packages/jellyfish-api-core/__tests__/category/loan/setCollateralToken.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/loan_container.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_collateral_token.test.ts
Labels: kind/feature, area/jellyfish-api-core, area/jellyfish-transaction-builder

#638 Add getLoanScheme rpc
  packages/jellyfish-api-core/__tests__/category/loan/getLoanScheme.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  website/docs/jellyfish/api/loan.md
Labels: kind/feature, area/website, area/jellyfish-api-core

#621 jellyfish-testing supports multinodes
  packages/jellyfish-api-core/__tests__/category/spv/listAnchors.test.ts
  packages/jellyfish-testing/src/index.ts
  packages/jellyfish-testing/src/misc.ts
  packages/jellyfish-testing/src/testing.ts
  website/docs/jellyfish/api/spv.md
Labels: kind/feature, area/website, area/jellyfish-api-core, area/jellyfish-testing

#624 jellyfish-wallet to use `coinType/purpose/0/account` pathing
  packages/jellyfish-wallet/__tests__/wallet.test.ts
  packages/jellyfish-wallet/src/wallet.ts
Labels: kind/feature

#618 Add SPV `listAnchors`, `listAnchorsPending`, `listAnchorAuths` and `setLastHeight` rpc
  packages/jellyfish-api-core/__tests__/category/spv/createAnchor.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/listAnchorAuths.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/listAnchors.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/listAnchorsPending.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/setLastHeight.test.ts
  packages/jellyfish-api-core/src/category/spv.ts
  packages/jellyfish-testing/src/anchor.ts
  packages/jellyfish-testing/src/index.ts
  packages/jellyfish-testing/src/misc.ts
  packages/jellyfish-testing/src/testing.ts
  packages/testcontainers/src/chains/reg_test_container/masternode.ts
  website/docs/jellyfish/api/spv.md
Labels: kind/feature, area/testcontainers, area/website, area/jellyfish-api-core, area/jellyfish-testing

#568 Add setLoanToken rpc
  packages/jellyfish-api-core/__tests__/category/loan/loan_container.ts
  packages/jellyfish-api-core/__tests__/category/loan/setCollateralToken.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/setLoanToken.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/jellyfish-transaction-builder/__tests__/txn/loan_container.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_collateral_token.test.ts
  website/docs/jellyfish/api/loan.md
Labels: kind/feature, area/website, area/jellyfish-api-core, area/jellyfish-transaction-builder

#650 initial jellyfish ecosystem consolidation PR setup
  .codeclimate.yml
  .eslintrc
  .github/CODEOWNERS
  .github/workflows/release-drafter.yml
  .gitignore
  .idea/dictionaries/fuxing.xml
  CONTRIBUTING.md
  README.md
Labels: kind/chore, area/workflow

#648 Added `getActiveMasternodeCount` RPC
  packages/jellyfish-api-core/__tests__/category/masternode/getActiveMasternode.test.ts
  packages/jellyfish-api-core/src/category/masternode.ts
  website/docs/jellyfish/api/masternode.md
Labels: kind/feature, area/website, area/jellyfish-api-core

#587 Add setLoanToken dftx
  packages/jellyfish-api-core/__tests__/category/loan/setLoanToken.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/loan_container.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_loan_token.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_loans.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/SetLoanToken.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-api-core, area/jellyfish-transaction-builder

#553 Add createVault rpc
  packages/jellyfish-api-core/__tests__/category/loan/createVault.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  website/docs/jellyfish/api/loan.md
Labels: kind/feature, area/website, area/jellyfish-api-core

#658 remove `/*` tsconfig references
  .idea/dictionaries/fuxing.xml
  jest.config.js
  package.json
  packages/jellyfish-api-core/__tests__/category/misc/setMockTime.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/poolswap.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/testpoolswap.test.ts
  packages/jellyfish-api-core/__tests__/category/rawtx/getRawTransaction.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/listAnchors.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_claim_dfc_htlc.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_submit_dfc_htlc.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_submit_ext_htlc.test.ts
  packages/jellyfish-wallet-encrypted/tsconfig.build.json
  tsconfig.json
  website/docs/introduction.md
Labels: kind/chore, area/website, area/jellyfish-api-core, area/jellyfish-transaction-builder, area/jellyfish-wallet-encrypted

#546 Add getCollateralToken rpc
  packages/jellyfish-api-core/__tests__/category/loan/getCollateralToken.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  website/docs/jellyfish/api/loan.md
Labels: kind/feature, area/website, area/jellyfish-api-core

#636 jellyfish-block implementation
  .eslintrc
  .github/CODEOWNERS
  .github/labeler.yml
  .github/labels.yml
  README.md
  jest.config.js
  packages/jellyfish-api-core/__tests__/category/blockchain/getBlock.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/getBlockHeader.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/getBlockStats.test.ts
  packages/jellyfish-block/README.md
  packages/jellyfish-block/__tests__/composer/block.test.ts
  packages/jellyfish-block/__tests__/composer/blockHeader.test.ts
  packages/jellyfish-block/__tests__/composer/block_1155173_mainnet.test.ts
  packages/jellyfish-block/__tests__/composer/block_1155561_mainnet.test.ts
  packages/jellyfish-block/__tests__/composer/block_1167209_mainnet.test.ts
  packages/jellyfish-block/__tests__/rpc/block.test.ts
  packages/jellyfish-block/__tests__/rpc/blockHeader.test.ts
  packages/jellyfish-block/package.json
  packages/jellyfish-block/src/block.ts
  packages/jellyfish-block/src/blockHeader.ts
  packages/jellyfish-block/src/index.ts
  packages/jellyfish-block/tsconfig.build.json
  packages/jellyfish-testing/src/misc.ts
  packages/jellyfish-transaction/src/tx.ts
  tsconfig.build.json
  tsconfig.json
  website/docs/introduction.md
Labels: kind/feature, area/website, area/jellyfish-transaction, area/jellyfish-api-core, area/workflow, area/jellyfish-testing

#663 added 2 sample project in `/examples`
  .github/CODEOWNERS
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  .gitignore
  .idea/dictionaries/fuxing.xml
  examples/ocean-dex-api/.gitignore
  examples/ocean-dex-api/README.md
  examples/ocean-dex-api/package.json
  examples/ocean-dex-api/pages/index.jsx
  examples/ocean-masternodes-api/.gitignore
  examples/ocean-masternodes-api/README.md
  examples/ocean-masternodes-api/package.json
  examples/ocean-masternodes-api/pages/index.jsx
Labels: kind/chore, area/workflow

#571 Add listLoanTokens rpc
  packages/jellyfish-api-core/__tests__/category/loan/listLoanTokens.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/jellyfish-api-core/src/category/token.ts
  website/docs/jellyfish/api/loan.md
  website/docs/jellyfish/api/token.md
Labels: kind/feature, area/website, area/jellyfish-api-core

#582 Add createVault dftx
  packages/jellyfish-api-core/__tests__/category/loan/createVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/loan_container.ts
  packages/jellyfish-transaction-builder/__tests__/txn/loan_container.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_create_vault.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_loans.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/CreateVault.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-api-core, area/jellyfish-transaction-builder

#620 Add SPV `listAnchorRewardConfirms`, `listAnchorsUnrewarded` and `listAnchorRewards` rpc
  packages/jellyfish-api-core/__tests__/category/spv/listAnchorRewardConfirms.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/listAnchorRewards.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/listAnchorsUnRewarded.test.ts
  packages/jellyfish-api-core/src/category/spv.ts
  packages/testcontainers/src/chains/reg_test_container/masternode.ts
  website/docs/jellyfish/api/spv.md
Labels: kind/feature, area/testcontainers, area/website, area/jellyfish-api-core

#670 `jellyfish-address`: from script to address
  .idea/dictionaries/fuxing.xml
  package-lock.json
  packages/jellyfish-address/README.md
  packages/jellyfish-address/__tests__/script/P2PKH.test.ts
  packages/jellyfish-address/__tests__/script/P2SH.test.ts
  packages/jellyfish-address/__tests__/script/P2WPKH.test.ts
  packages/jellyfish-address/__tests__/script/P2WSH.test.ts
  packages/jellyfish-address/package.json
  packages/jellyfish-address/src/index.ts
  packages/jellyfish-address/src/script/Base58Check.ts
  packages/jellyfish-address/src/script/Bech32.ts
  packages/jellyfish-address/src/script/DecodedAddress.ts
  packages/jellyfish-address/src/script/P2PKH.ts
  packages/jellyfish-address/src/script/P2SH.ts
  packages/jellyfish-address/src/script/P2WPKH.ts
  packages/jellyfish-address/src/script/P2WSH.ts
  packages/jellyfish-address/src/script/index.ts
  packages/jellyfish-transaction/src/index.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-address

#672 Changes priceFeedId value from oracle txid to token/currency pair
  packages/jellyfish-api-core/__tests__/category/loan/getCollateralToken.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/listCollateralTokens.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/listLoanTokens.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/loan_container.ts
  packages/jellyfish-api-core/__tests__/category/loan/setCollateralToken.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/setLoanToken.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/loan_container.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_collateral_token.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_loan_token.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/SetCollateralToken.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/SetLoanToken.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
Labels: kind/fix, area/jellyfish-transaction, area/jellyfish-api-core, area/jellyfish-transaction-builder

#673 deprecating `@defichain/jellyfish` package
  CONTRIBUTING.md
  README.md
  packages/jellyfish/README.md
  packages/jellyfish/src/index.ts
  packages/jellyfish/src/provider.ts
Labels: kind/chore, area/jellyfish

#569 Add getVault rpc
  packages/jellyfish-api-core/__tests__/category/loan/getVault.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  website/docs/jellyfish/api/loan.md
Labels: kind/feature, area/website, area/jellyfish-api-core

#570 Add updateLoanToken rpc
  packages/jellyfish-api-core/__tests__/category/loan/updateLoanToken.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_collateral_token.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_loan_token.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/SetCollateralToken.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/SetLoanToken.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  website/docs/jellyfish/api/loan.md
Labels: kind/feature, area/website, area/jellyfish-transaction, area/jellyfish-api-core, area/jellyfish-transaction-builder

#661 Add `depositToVault`, `takeLoan` rpc
  packages/jellyfish-api-core/__tests__/category/loan/depositToVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/loan_container.ts
  packages/jellyfish-api-core/__tests__/category/loan/takeLoan.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  website/docs/jellyfish/api/loan.md
Labels: kind/feature, area/website, area/jellyfish-api-core

#679 moved `./website/docs` to -> `./docs` making it top level directory
  docs/01-introduction.md
  docs/02-design.md
  docs/03-usage.md
  docs/10-Node APIs/01-blockchain.md
  docs/10-Node APIs/02-mining.md
  docs/10-Node APIs/03-net.md
  docs/10-Node APIs/04-rawtx.md
  docs/10-Node APIs/05-wallet.md
  docs/10-Node APIs/06-poolpair.md
  docs/10-Node APIs/07-token.md
  docs/10-Node APIs/08-account.md
  docs/10-Node APIs/09-oracle.md
  docs/10-Node APIs/10-server.md
  docs/10-Node APIs/11-masternode.md
  docs/10-Node APIs/12-governance.md
  docs/10-Node APIs/13-misc.md
  docs/10-Node APIs/14-spv.md
  docs/10-Node APIs/15-icxorderbook.md
  docs/10-Node APIs/16-loan.md
  docs/11-Testing/01-overview.md
  docs/11-Testing/02-usage.md
  docs/11-Testing/03-jellyfish.md
  website/docusaurus.config.js
  website/sidebars.js
Labels: kind/chore, area/website

#680 docs cleanup & refactor
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/src/css/theme.css
  website/src/pages/index.js
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
  website/static/img/defi-blockchain.png
  website/static/img/defichain.svg
  website/static/img/logo.svg
  website/tsconfig.json
Labels: kind/docs, area/website

#674 refactored `jellyfish-address` to use a much lighter design
  packages/jellyfish-address/__tests__/script/P2PKH.test.ts
  packages/jellyfish-address/__tests__/script/P2SH.test.ts
  packages/jellyfish-address/__tests__/script/P2WPKH.test.ts
  packages/jellyfish-address/__tests__/script/P2WSH.test.ts
  packages/jellyfish-address/__tests__/script/index.test.ts
  packages/jellyfish-address/src/address.ts
  packages/jellyfish-address/src/base58_address.ts
  packages/jellyfish-address/src/bech32_address.ts
  packages/jellyfish-address/src/index.ts
  packages/jellyfish-address/src/script/Base58Check.ts
  packages/jellyfish-address/src/script/Bech32.ts
  packages/jellyfish-address/src/script/DecodedAddress.ts
  packages/jellyfish-address/src/script/P2PKH.ts
  packages/jellyfish-address/src/script/P2SH.ts
  packages/jellyfish-address/src/script/P2WPKH.ts
  packages/jellyfish-address/src/script/P2WSH.ts
  packages/jellyfish-address/src/script/index.ts
Labels: kind/refactor, area/jellyfish-address

#681 removed size-limit for jellyfish bundles due to deprecation of module
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/testcontainers/package.json
Labels: kind/chore, area/testcontainers, area/workflow

#588 Add updateLoanToken dftx
  packages/jellyfish-api-core/__tests__/category/loan/setLoanToken.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_loan_token.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_update_loan_token.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_loans.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/SetCollateralToken.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/SetLoanToken.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/UpdateLoanToken.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-api-core, area/jellyfish-transaction-builder

#682 separated website docs content into 3 category
  docs/03-usage.md
  docs/11-Testing/01-overview.md
  docs/11-Testing/03-jellyfish.md
  docs/ecosystem/01-introduction.md
  docs/node/01-overview.md
  docs/node/02-design.md
  docs/node/03-usage.md
  docs/node/RPC Category/01-blockchain.md
  docs/node/RPC Category/02-mining.md
  docs/node/RPC Category/03-net.md
  docs/node/RPC Category/04-rawtx.md
  docs/node/RPC Category/05-wallet.md
  docs/node/RPC Category/06-poolpair.md
  docs/node/RPC Category/07-token.md
  docs/node/RPC Category/08-account.md
  docs/node/RPC Category/09-oracle.md
  docs/node/RPC Category/10-server.md
  docs/node/RPC Category/11-masternode.md
  docs/node/RPC Category/12-governance.md
  docs/node/RPC Category/13-misc.md
  docs/node/RPC Category/14-spv.md
  docs/node/RPC Category/15-icxorderbook.md
  docs/node/RPC Category/16-loan.md
  docs/testing/02-testcontainers.md
  docs/testing/03-jellyfish-testing.md
  website/docusaurus.config.js
  website/src/pages/index.tsx
Labels: kind/docs, area/website

#684 removed deprecated `@defichain/jellyfish` package
  .github/CODEOWNERS
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  README.md
  docs/ecosystem/01-introduction.md
  package-lock.json
  packages/jellyfish/README.md
  packages/jellyfish/__tests__/cjs.test.ts
  packages/jellyfish/__tests__/export_const.test.ts
  packages/jellyfish/__tests__/export_default.test.ts
  packages/jellyfish/__tests__/jellyfish.test.ts
  packages/jellyfish/package.json
  packages/jellyfish/src/index.ts
  packages/jellyfish/src/provider.ts
  packages/jellyfish/tsconfig.json
  packages/testcontainers/README.md
Labels: kind/chore, area/testcontainers, area/jellyfish, area/workflow

#678 Add `getInterest` rpc
  docs/node/RPC Category/16-loan.md
  packages/jellyfish-api-core/__tests__/category/loan/getInterest.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/testcontainers/__tests__/chains/reg_test_container/masternode.test.ts
Labels: kind/feature, area/testcontainers, area/jellyfish-api-core

#693 fixed oss-governance-project-pr.yml
  .github/workflows/oss-governance-project-pr.yml
Labels: kind/fix, area/workflow

#694 simplified tsconfig.json for ocean api consolidation development
  packages/jellyfish-api-core/__tests__/category/icxorderbook/icx_setup.ts
  tsconfig.json
Labels: kind/chore, area/jellyfish-api-core

#696 simplify `jest.config.js` to use regex capture
  jest.config.js
Labels: kind/chore

#700 update typescript to 4.2.4 and eslint setup
  package-lock.json
  package.json
  packages/jellyfish-api-core/src/category/blockchain.ts
  packages/jellyfish-api-jsonrpc/src/index.ts
  packages/jellyfish-json/__tests__/precision.test.ts
Labels: kind/dependencies, area/jellyfish-api-jsonrpc, area/jellyfish-json, area/jellyfish-api-core
