Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2021-10, with the labels that each got.

#702 set dependabot update schedule to daily from weekly to further shift left deps update timeline
  .github/dependabot.yml
  .gitignore
Labels: kind/chore, area/workflow

#707 Fix small bug in listLoanTokens and listCollateralTokens RPCs
  docs/node/RPC Category/16-loan.md
  packages/jellyfish-api-core/src/category/loan.ts
Labels: kind/fix, area/jellyfish-api-core

#689 Improve setCollateralToken, getCollateralToken and listCollateralTokens rpcs
  docs/node/RPC Category/16-loan.md
  packages/jellyfish-api-core/__tests__/category/loan/getCollateralToken.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/listCollateralTokens.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/loan_container.ts
  packages/jellyfish-api-core/__tests__/category/loan/setCollateralToken.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
Labels: kind/fix, area/jellyfish-api-core

#705 Added depositToVault dftx to transaction builder.
  packages/jellyfish-api-core/__tests__/category/loan/depositToVault.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/loan_container.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_deposit_to_vault.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_collateral_token.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_loans.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_balance/TokenBalance.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/DepositToVault.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_balance.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/jellyfish-transaction, area/jellyfish-api-core, area/jellyfish-transaction-builder

#711 Fix typo in comment
  packages/jellyfish-api-core/src/category/account.ts
Labels: kind/docs, area/jellyfish-api-core

#784 Fix changes on master-da0bbfa
  docs/node/RPC Category/16-loan.md
  packages/jellyfish-api-core/__tests__/category/loan/closeVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/createVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/depositToVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/getLoanScheme.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/getVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/listVaults.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/paybackLoan.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/takeLoan.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/createMasternode.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_create_vault.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_deposit_to_vault.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_take_loan.test.ts
  packages/testcontainers/src/containers/RegTestContainer/LoanContainer.ts
Labels: kind/chore, area/testcontainers, area/jellyfish-api-core, area/jellyfish-transaction-builder
