Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2021-12, with the labels that each got.

#863 remove oss-governance-project workflow we don't use them anymore
  .github/workflows/oss-governance-project-issue.yml
  .github/workflows/oss-governance-project-pr.yml
Labels: kind/chore, area/workflow

#866 fix table in markdowns
  README.md
  docs/ecosystem/01-introduction.md
Labels: kind/docs

#854 Set up require pools on bid test
  packages/jellyfish-api-core/__tests__/category/loan/placeAuctionBid.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_place_auction_bid.test.ts
Labels: kind/chore, area/jellyfish-api-core, area/jellyfish-transaction-builder

#885 add oracles and prices docs for Ocean API
  docs/ocean/01-overview.mdx
  docs/ocean/REFERENCES/address.mdx
  docs/ocean/REFERENCES/oracles.mdx
  docs/ocean/REFERENCES/prices.mdx
Labels: kind/docs

#889 increase ci test parallelization to 10 for faster PR cycle
  .github/workflows/ci.yml
Labels: kind/chore, area/workflow

#888 add new apps/ directory for deployable apps
  .github/CODEOWNERS
  .idea/dictionaries/fuxing.xml
  .idea/jellyfish.iml
  README.md
  apps/website/.gitignore
  apps/website/README.md
  apps/website/babel.config.js
  apps/website/docusaurus.config.js
  apps/website/package.json
  apps/website/src/css/theme.css
  apps/website/src/pages/index.tsx
  apps/website/src/pages/styles.module.css
  apps/website/static/img/favicon.ico
  apps/website/static/img/logo.svg
  apps/website/tsconfig.json
  jest.config.js
  lerna.json
  netlify.toml
  package-lock.json
  package.json
  packages/jellyfish-api-jsonrpc/package.json
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
Labels: kind/chore, area/jellyfish-api-jsonrpc, area/workflow

#892 chore(packages/testcontainers): increase timeout of testcontainers to 40s so that it doesn't timeout
  packages/testcontainers/src/containers/DeFiDContainer.ts
Labels: kind/chore, area/testcontainers

#891 chore(workflow): project governance improvements
  .github/PULL_REQUEST_TEMPLATE.md
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/release-publish.yml
Labels: kind/chore, area/workflow

#894 chore(workflow): fix and optimize publish workflow
  .github/workflows/ci.yml
  .github/workflows/release-publish.yml
  netlify.toml
  package-lock.json
  package.json
Labels: kind/chore, area/workflow

#895 chore(workflow): add kind/dependencies title matcher
  .github/labeler.yml
Labels: kind/chore, area/workflow

#897 refactor(packages/jellyfish-api-core): not to use ?? self assignment for createMasternode
  .idea/dictionaries/fuxing.xml
  packages/jellyfish-api-core/src/category/masternode.ts
Labels: kind/refactor, area/packages

#898 chore(workflow): add dependabot semantic pr with scope
  .github/dependabot.yml
  .github/labeler.yml
Labels: kind/chore, area/workflow

#901 chore(workflow): add labels for dependabot.yml to reduce labels pollution
  .github/dependabot.yml
Labels: kind/chore, area/workflow

#902 chore(core): rollback tsconfig.base.json changes
  tsconfig.base.json
Labels: kind/chore

#908 chore(workflow): updated governance automation to use bump prefix instead of deps
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/release-publish.yml
  .idea/codeStyles/Project.xml
Labels: kind/chore, area/workflow

#910 chore(apps): update website package name to @defichain-apps/website
  apps/website/package.json
  package-lock.json
Labels: kind/chore, area/apps

#909 feat(ocean-api-client): add `ocean-api` client core
  package-lock.json
  packages/ocean-api-client/__tests__/ApiResponse.test.ts
  packages/ocean-api-client/__tests__/OceanApiClient.test.ts
  packages/ocean-api-client/__tests__/errors/ApiException.test.ts
  packages/ocean-api-client/__tests__/errors/ClientException.test.ts
  packages/ocean-api-client/__tests__/errors/TimeoutException.test.ts
  packages/ocean-api-client/package.json
  packages/ocean-api-client/src/ApiResponse.ts
  packages/ocean-api-client/src/OceanApiClient.ts
  packages/ocean-api-client/src/errors/ApiException.ts
  packages/ocean-api-client/src/errors/ApiValidationException.ts
  packages/ocean-api-client/src/errors/ClientException.ts
  packages/ocean-api-client/src/errors/TimeoutException.ts
  packages/ocean-api-client/src/index.ts
  packages/ocean-api-client/tsconfig.build.json
Labels: kind/feature, area/packages

#913 feat(testcontainers): add mockTime for waitForWalletCoinbaseMaturity to generate block faster
  .idea/codeStyles/Project.xml
  .idea/dictionaries/fuxing.xml
  packages/testcontainers/__tests__/containers/RegTestContainer/Coinbase.test.ts
  packages/testcontainers/src/containers/RegTestContainer/Masternode.ts
Labels: kind/feature, area/packages

#912 feat(packages/playground): playground testing blockchain for simulated env
  package-lock.json
  packages/playground/README.md
  packages/playground/__tests__/bots/BlockGenerateBot.test.ts
  packages/playground/__tests__/bots/FoundationBot.test.ts
  packages/playground/package.json
  packages/playground/src/AbstractBot.ts
  packages/playground/src/BotLogger.ts
  packages/playground/src/Playground.ts
  packages/playground/src/bots/BlockGenerateBot.ts
  packages/playground/src/bots/FoundationBot.ts
  packages/playground/src/index.ts
  packages/playground/testing/PlaygroundTesting.ts
  packages/playground/tsconfig.build.json
Labels: kind/feature, area/packages

#870 fix(core): interest update regression post `ain:2.3.x` update
  packages/jellyfish-api-core/__tests__/category/governance/governance_container.ts
  packages/jellyfish-api-core/__tests__/category/loan/getInterest.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/getLoanInfo.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/getVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/listAuctons.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/paybackLoan.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/placeAuctionBid.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/takeLoan.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_payback_loan.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_place_auction_bid.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
Labels: kind/fix, area/packages

#922 chore(workflow): add missing commit-message settings for dependabot
  .github/dependabot.yml
  package-lock.json
Labels: kind/chore, area/workflow

#924 fix(packages/testcontainers): add node after restart
  packages/jellyfish-testing/src/testing.ts
  packages/testcontainers/__tests__/containers/ContainerRestart.test.ts
  packages/testcontainers/src/containers/RegTestContainer/ContainerGroup.ts
Labels: kind/fix, area/packages

#925 fix(packages): flaky vault state on paybackloan test
  packages/jellyfish-api-core/__tests__/category/loan/paybackLoan.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_payback_loan.test.ts
Labels: kind/fix, area/packages

#923 feat(jellyfish-api-core): add getAnchorTeams to rpc_masternode
  docs/node/CATEGORIES/11-masternode.md
  packages/jellyfish-api-core/__tests__/category/masternode/getAnchorTeams.test.ts
  packages/jellyfish-api-core/src/category/masternode.ts
  packages/jellyfish-testing/src/testing.ts
Labels: kind/feature, area/packages

#921 feat(jellyfish-api-core): rpc masternode listanchor
  docs/node/CATEGORIES/11-masternode.md
  packages/jellyfish-api-core/__tests__/category/masternode/listAnchors.test.ts
  packages/jellyfish-api-core/src/category/masternode.ts
Labels: kind/feature, area/packages

#926 feat(ocean-api): initial commit for `apps/ocean-api`
  .idea/dictionaries/fuxing.xml
  apps/ocean-api/README.md
  apps/ocean-api/__tests__/controllers/ActuatorController.test.ts
  apps/ocean-api/package.json
  apps/ocean-api/src/controllers/ActuatorController.ts
  apps/ocean-api/src/controllers/filters/ErrorFilter.ts
  apps/ocean-api/src/controllers/filters/GlobalValidationPipe.ts
  apps/ocean-api/src/controllers/filters/ResponseInterceptor.ts
  apps/ocean-api/src/index.ts
  apps/ocean-api/src/modules/ActuatorModule.ts
  apps/ocean-api/src/modules/BlockchainCppModule.ts
  apps/ocean-api/src/modules/ControllerModule.ts
  apps/ocean-api/src/modules/RootModule.ts
  apps/ocean-api/testing/OceanApiTesting.ts
  apps/ocean-api/testing/StubClient.ts
  apps/ocean-api/testing/StubServer.ts
  apps/ocean-api/tsconfig.build.json
  package-lock.json
  packages/jellyfish-api-jsonrpc/src/index.ts
  packages/ocean-api-client/src/OceanApiClient.ts
  tsconfig.json
Labels: kind/feature, area/packages, area/apps

#927 chore(governance): reshuffle CODEOWNERS with new packages and contributors
  .github/CODEOWNERS
Labels: kind/chore, area/workflow
