Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2022-02, with the labels that each got.

#976 feat(jellyfish-api-core): add test case for dusd loan payback with dfi
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/loan/paybackLoan.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_payback_loan.test.ts
Labels: kind/feature, area/packages

#1019 chore(jellyfish-api-jsonrpc): properly parse 422 error for JsonRpcClient
  packages/jellyfish-api-jsonrpc/src/index.ts
Labels: kind/chore, area/packages

#1016 chore(jellyfish-api-core): add test for getblockHash not found
  packages/jellyfish-api-core/__tests__/category/blockchain/getBlockHash.test.ts
Labels: kind/chore, area/packages

#1028 chore(ocean-api): Updated ocean-related testing framework
  apps/ocean-api/package.json
  apps/ocean-api/testing/OceanApiTesting.ts
  apps/ocean-api/testing/OceanStubClient.ts
  apps/ocean-api/testing/OceanStubServer.ts
  jest.config.js
Labels: kind/chore, area/apps

#1027 chore(packages): export 'browserify-aes' and 'bip66' for /apps use
  packages/jellyfish-crypto/src/bip66.ts
  packages/jellyfish-crypto/src/browserify-aes.ts
  packages/jellyfish-crypto/src/index.ts
Labels: kind/chore, area/packages

#1034 bump(testcontainers): DeFiDContainer defi/defichain to v2.6.1
  packages/testcontainers/src/containers/DeFiDContainer.ts
Labels: kind/dependencies, area/packages

#1037 feat(jellyfish-network): BlockSubsidy calculations
  .idea/dictionaries/fuxing.xml
  packages/jellyfish-network/__tests__/BockSubsidy.test.ts
  packages/jellyfish-network/src/BlockRewardDistribution.ts
  packages/jellyfish-network/src/BlockSubsidy.ts
Labels: kind/feature, area/packages

#1043 chore(jellyfish-network): export BlockSubsidy and BlockRewardDistribution
  packages/jellyfish-network/src/index.ts
Labels: kind/chore, area/packages

#1050 chore(jellyfish-api-core): Added `auctionburn` to burninfo
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/src/category/account.ts
Labels: kind/chore, area/packages

#1011 feat(apps/legacy-api): Legacy API - Remaps old stats API
  apps/legacy-api/__tests__/controllers/MiscController.test.ts
  apps/legacy-api/__tests__/controllers/PoolPairController.test.ts
  apps/legacy-api/__tests__/controllers/TokenController.test.ts
  apps/legacy-api/package.json
  apps/legacy-api/src/controllers/MiscController.ts
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/legacy-api/src/controllers/TokenController.ts
  apps/legacy-api/src/index.ts
  apps/legacy-api/src/modules/ControllerModule.ts
  apps/legacy-api/src/modules/RootModule.ts
  apps/legacy-api/testing/LegacyApiTesting.ts
  apps/legacy-api/testing/LegacyStubServer.ts
  apps/legacy-api/tsconfig.build.json
  apps/website/package.json
  package-lock.json
Labels: kind/feature, area/apps

#1059 chore(jellyfish-api-core): WhaleApiClient caching
  apps/legacy-api/__tests__/providers/WhaleApiClientProvider.test.ts
  apps/legacy-api/src/controllers/MiscController.ts
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/legacy-api/src/controllers/TokenController.ts
  apps/legacy-api/src/modules/ControllerModule.ts
  apps/legacy-api/src/providers/WhaleApiClientProvider.ts
Labels: kind/chore, area/apps

#1070 feat(workflow): docker-buildx workflow
  .dockerignore
  .github/workflows/ci.yml
  Dockerfile
Labels: kind/feature, area/workflow

#1080 feat(`rich-list-api`): initialization
  apps/rich-list-api/README.md
  apps/rich-list-api/docker-compose.yml
  apps/rich-list-api/package.json
  apps/rich-list-api/src/controllers/ActuatorController.ts
  apps/rich-list-api/src/controllers/filters/ErrorFilter.ts
  apps/rich-list-api/src/controllers/filters/GlobalValidationPipe.ts
  apps/rich-list-api/src/controllers/filters/ResponseInterceptor.ts
  apps/rich-list-api/src/index.ts
  apps/rich-list-api/src/modules/ActuatorModule.ts
  apps/rich-list-api/src/modules/BlockchainCppModule.ts
  apps/rich-list-api/src/modules/ControllerModule.ts
  apps/rich-list-api/src/modules/RootModule.ts
  apps/rich-list-api/tsconfig.build.json
Labels: kind/feature, area/apps

#1081 feat(`rich-list-api`): prerequisite module / queue
  apps/rich-list-api/__test__/modules/QueueModule.test.ts
  apps/rich-list-api/package.json
  apps/rich-list-api/src/modules/QueueModule.ts
  apps/rich-list-api/src/modules/RootModule.ts
Labels: kind/feature, area/apps

#953 feat(jellyfish-api-core): add wallet listWallets RPC
  docs/node/CATEGORIES/05-wallet.md
  packages/jellyfish-api-core/__tests__/category/wallet/listWallets.test.ts
  packages/jellyfish-api-core/src/category/wallet.ts
Labels: kind/feature, area/packages

#1045 feat(jellyfish-api-core): add account getAccountHistory RPC
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/getAccountHistory.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
Labels: kind/feature, area/packages

#1085 feat(docker): add docker release workflow
  .github/workflows/release-publish.yml
Labels: kind/feature, area/workflow

#1086 refactor(website): move website out of apps
  .github/CODEOWNERS
  .idea/jellyfish.iml
  Dockerfile
  jest.config.js
  netlify.toml
  package-lock.json
  package.json
  website/.gitignore
  website/README.md
  website/babel.config.js
  website/docusaurus.config.js
  website/package.json
  website/src/css/theme.css
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
  website/static/img/favicon.ico
  website/static/img/logo.svg
  website/tsconfig.json
Labels: kind/refactor, area/workflow

#1083 fix(jellyfish-api-core): add `hex` field in AccountOwner interface
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/listAccounts.test.ts
  packages/jellyfish-api-core/src/category/account.ts
Labels: kind/fix, area/packages

#1051 feat(jellyfish-api-core): add blockchain getChainTxStats RPC
  docs/node/CATEGORIES/01-blockchain.md
  packages/jellyfish-api-core/__tests__/category/blockchain/getChainTxStats.test.ts
  packages/jellyfish-api-core/src/category/blockchain.ts
Labels: kind/feature, area/packages

#962 feat(jellyfish-api-core): add network setNetworkActive RPC
  docs/node/CATEGORIES/03-net.md
  packages/jellyfish-api-core/__tests__/category/net/setNetworkActive.test.ts
  packages/jellyfish-api-core/src/category/net.ts
Labels: kind/feature, area/packages

#957 feat(jellyfish-api-core): add masternode isAppliedCustomTransaction RPC
  docs/node/CATEGORIES/11-masternode.md
  packages/jellyfish-api-core/__tests__/category/masternode/isAppliedCustomTransaction.test.ts
  packages/jellyfish-api-core/src/category/masternode.ts
Labels: kind/feature, area/packages

#1097 docs(jellyfish-transaction): fix `dftx_account` class comments typo
  packages/jellyfish-transaction/src/script/dftx/dftx_account.ts
Labels: kind/docs, area/packages

#1089 fix(apps/legacy-api): reject with 404 for queries with invalid network url param
  apps/legacy-api/__tests__/controllers/NetworkParamValidation.test.ts
  apps/legacy-api/__tests__/providers/WhaleApiClientProvider.test.ts
  apps/legacy-api/src/controllers/MiscController.ts
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/legacy-api/src/controllers/TokenController.ts
  apps/legacy-api/src/pipes/NetworkValidationPipe.ts
  apps/legacy-api/src/providers/WhaleApiClientProvider.ts
  apps/legacy-api/testing/LegacyApiTesting.ts
  apps/legacy-api/testing/LegacyStubServer.ts
Labels: kind/fix, area/apps

#1103 chore(doc): add list and get poolpair API doc
  docs/ocean/REFERENCES/poolpairs.mdx
Labels: kind/chore, area/docs

#1078 refactor(apps): Adopt Nest monorepo structure to allow module sharing
  apps/legacy-api/package.json
  apps/legacy-api/tsconfig.build.json
  apps/libs/actuator/__tests__/ActuatorController.test.ts
  apps/libs/actuator/src/ActuatorController.ts
  apps/libs/actuator/src/ActuatorModule.ts
  apps/libs/actuator/src/BlockchainCppModule.ts
  apps/libs/actuator/src/index.ts
  apps/libs/actuator/tsconfig.lib.json
  apps/nest-cli.json
  apps/ocean-api/package.json
  apps/ocean-api/src/modules/ControllerModule.ts
  apps/ocean-api/src/modules/RootModule.ts
  apps/ocean-api/tsconfig.build.json
  apps/package.json
  apps/rich-list-api/package.json
  apps/rich-list-api/src/controllers/ActuatorController.ts
  apps/rich-list-api/src/modules/ActuatorModule.ts
  apps/rich-list-api/src/modules/BlockchainCppModule.ts
  apps/rich-list-api/src/modules/ControllerModule.ts
  apps/rich-list-api/src/modules/RootModule.ts
  apps/rich-list-api/tsconfig.build.json
  apps/tsconfig.build.json
  apps/tsconfig.json
  jest.config.js
  lerna.json
  package-lock.json
  package.json
  tsconfig.json
Labels: kind/refactor, area/apps

#1113 fix(apps): disable nest-apps from being published into npm
  apps/package.json
Labels: kind/fix, area/apps

#1112 chore(workflow): add default jest run config for IDEA IDEs
  .gitignore
  .idea/.run/run-all-jest-tests-from-proj-root.run.xml
Labels: kind/chore

#1102 feat(apps/legacy-api): Legacy API - listswaps
  apps/legacy-api/__tests__/controllers/PoolPairController.test.ts
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/package.json
Labels: kind/feature, area/apps

#1100 feat(apps/legacy-api): Legacy API - stats
  apps/legacy-api/__tests__/controllers/NetworkParamValidation.test.ts
  apps/legacy-api/__tests__/controllers/StatsController.test.ts
  apps/legacy-api/src/controllers/stats/LegacyStatsProvider.ts
  apps/legacy-api/src/controllers/stats/StatsController.ts
  apps/legacy-api/src/modules/ControllerModule.ts
Labels: kind/feature, area/apps
