Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2022-09, with the labels that each got.

#1733 chore(workflows): remove dependencies.yml to solely use renovate.json
  .github/workflows/dependencies.yml
Labels: kind/chore, area/workflow

#1740 feat(whale-api): add name on poolpairs api response
  apps/whale-api/src/module.api/poolpair.controller.e2e.ts
  apps/whale-api/src/module.api/poolpair.controller.ts
  apps/whale-api/src/module.api/poolpair.fees.service.e2e.ts
  apps/whale-api/src/module.api/poolpair.prices.service.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/src/api/poolpairs.ts
Labels: kind/feature, area/packages, area/apps, apps/whale-api

#1729 feat(whale-api): whitelist `getrawtransaction` RPC & add `RawTxController.get()`
  apps/whale-api/src/module.api/rawtx.controller.e2e.ts
  apps/whale-api/src/module.api/rawtx.controller.ts
  apps/whale-api/src/module.api/rpc.controller.spec.ts
  apps/whale-api/src/module.api/rpc.controller.ts
  packages/jellyfish-api-core/src/category/rawtx.ts
  packages/whale-api-client/__tests__/api/rawtx.test.ts
  packages/whale-api-client/__tests__/api/rpc.test.ts
  packages/whale-api-client/src/api/rawtx.ts
Labels: kind/feature, area/packages, area/apps, apps/whale-api

#1755 chore(jellyfish): add negative interest rate tests
  apps/rich-list-api/docker-compose.yml
  apps/whale-api/docker-compose.yml
  packages/jellyfish-api-core/__tests__/category/loan/negativeInterest.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/setLoanToken.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/updateLoanToken.test.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
Labels: kind/chore, area/packages, area/apps, apps/rich-list-api, apps/whale-api

#1751 feat(v2.11): DeFiChain Node v2.11 Release
  apps/rich-list-api/docker-compose.yml
  apps/whale-api/__sanity__/WhaleSanityContainer.sanity.ts
  apps/whale-api/docker-compose.yml
  packages/jellyfish-api-core/__tests__/category/loan/negativeInterest.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/setCollateralToken.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/takeLoan.test.ts
  packages/jellyfish-api-core/__tests__/category/mining/getMiningInfo.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_collateral_token.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_take_loan.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
Labels: kind/feature, area/packages, area/apps, apps/rich-list-api, apps/whale-api

#1767 feat(gov): setup gov on playground for DUSD unloop
  apps/playground-api/__tests__/modules/PlaygroundModule.test.ts
  apps/playground-api/src/setups/setup.gov.ts
Labels: kind/feature, area/apps, apps/playground-api

#1399 fix(packages/jellyfish-transaction): Add another fixture and fix wrong letter for withdrawFromVault DFTX
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/WithdrawFromVault.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_vault/WithdrawFromVault.test.ts
Labels: kind/fix, area/packages

#1768 fix(packages/jellyfish-api-core): negative interest test
  packages/jellyfish-api-core/__tests__/category/loan/negativeInterest.test.ts
Labels: kind/fix, area/packages

#1774 feat(loans): update DUSD collateral ratio to 1.2
  apps/playground-api/__tests__/modules/PlaygroundModule.test.ts
  apps/playground-api/src/setups/setup.loan.collateral.ts
Labels: kind/feature, area/apps, apps/playground-api

#1758 feat(status-api): Implement oracle status for number of active oracles
  apps/status-api/__tests__/controllers/OracleStatusController.test.ts
  apps/status-api/src/controllers/OracleStatusController.ts
  apps/status-api/src/modules/ControllerModule.ts
Labels: kind/feature, area/apps

#1785 feat(whale-api): return decoded address in bid history
  apps/whale-api/src/module.api/loan.auction.history.e2e.ts
  apps/whale-api/src/module.api/loan.controller.ts
  apps/whale-api/src/module.model/vault.auction.batch.history.ts
  packages/whale-api-client/__tests__/api/loan.auction.history.test.ts
  packages/whale-api-client/src/api/loan.ts
Labels: kind/feature, area/packages, area/apps, apps/whale-api

#1775 feat(jellyfish-api-core): add blockchain getTxOutSetInfo RPC
  docs/node/CATEGORIES/01-blockchain.md
  packages/jellyfish-api-core/__tests__/category/blockchain/getTxOutSetInfo.test.ts
  packages/jellyfish-api-core/src/category/blockchain.ts
Labels: kind/feature, area/packages, apps/website

#1786 fix(status-api): Fix path param to allow special characters in token pair
  apps/status-api/__tests__/controllers/OracleStatusController.test.ts
  apps/status-api/src/controllers/OracleStatusController.ts
Labels: kind/fix, area/apps
