Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2022-07, with the labels that each got.

#1603 feat(jellyfish-api-core): Add tests for dusd burn attribute keys.
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.test.ts
Labels: kind/feature, area/packages

#1607 feat(workflow): Ignore publish docker image on forked branches/repositories
  .github/workflows/release-apps.yml
Labels: kind/feature, area/workflow

#1577 feat(jellyfish-api-core): Asymmetric pool swap fee
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/getPoolPair.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/poolswap.test.ts
Labels: kind/feature, area/packages

#1608 feat(whale-api): whitelist sendrawtransaction for RPC
  .idea/dictionaries/fuxing.xml
  apps/whale-api/src/module.api/rpc.controller.ts
Labels: kind/feature, area/apps, apps/whale-api

#1587 feat(jellyfish-api-core): add rpc `listPendingDusdSwaps` and `getPendingDusdSwaps` with `dfip2206f` test
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/getPendingDusdSwaps.test.ts
  packages/jellyfish-api-core/__tests__/category/account/listPendingDusdSwaps.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_future_swap.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_account/FutureSwap.test.ts
Labels: kind/feature, area/packages, apps/website

#1611 chore(whale-api): remove `-disablewallet=1` on `apps/whale-api/docker-compose.yml`
  apps/whale-api/docker-compose.yml
Labels: kind/chore, area/apps, apps/whale-api

#1619 docs(README.md): update readme to reflect post whale-api consolidation changes
  README.md
Labels: kind/docs

#1612 chore(jellyfish-api-core): add more tests for poolSwap maxPrice and dex fees
  apps/legacy-api/__tests__/controllers/StatsController.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/poolswap.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_dex_compositeswap_maxprice.test.ts
Labels: kind/chore, area/packages, area/apps, apps/legacy-api

#1625 feat(apps/whale-api, apps/legacy-api): add "paybackburntokens" for `paybackburn` string[]
  apps/legacy-api/__tests__/controllers/StatsController.test.ts
  apps/legacy-api/src/controllers/stats/LegacyStatsProvider.ts
  apps/whale-api/src/module.api/stats.controller.ts
  packages/whale-api-client/__tests__/api/stats.test.ts
  packages/whale-api-client/src/api/stats.ts
Labels: kind/feature, area/packages, area/apps, apps/legacy-api, apps/whale-api

#1626 chore(packages): test DCT with >128 DAT tokenId
  packages/jellyfish-transaction-builder/__tests__/txn/varint_gt_128.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_liq_pool.ts
Labels: kind/chore, area/packages

#1642 chore(whale-api): allow model.probe:readiness to be 20 blocks behind
  apps/whale-api/src/module.model/_model.probes.ts
Labels: kind/chore, area/apps, apps/whale-api

#1647 chore(apps/whale-api, packages): expose `rewardLoanPct`
  apps/legacy-api/__tests__/controllers/PoolPairController.test.ts
  apps/legacy-api/__tests__/controllers/StatsController.test.ts
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/whale-api/src/module.api/poolpair.controller.e2e.ts
  apps/whale-api/src/module.api/poolpair.controller.ts
  docs/node/CATEGORIES/06-poolpair.md
  docs/ocean/REFERENCES/poolpairs.mdx
  packages/jellyfish-api-core/__tests__/category/poolpair/createPoolPair.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/getPoolPair.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/listPoolPairs.test.ts
  packages/jellyfish-api-core/src/category/poolpair.ts
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/src/api/poolpairs.ts
Labels: kind/chore, area/packages, area/apps, apps/legacy-api, apps/whale-api, apps/website

#1601 feat(apps/whale-api): add estimated dex fees on get bestpath
  apps/whale-api/src/module.api/_module.ts
  apps/whale-api/src/module.api/poolpair.controller.e2e.ts
  apps/whale-api/src/module.api/poolpair.fees.service.e2e.ts
  apps/whale-api/src/module.api/poolpair.fees.service.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/src/api/poolpairs.ts
Labels: kind/feature, area/packages, area/apps, apps/whale-api

#1659 fix(apps/whale-api): fully ignore `!status` pairs on computing graph
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
Labels: kind/fix, area/apps, apps/whale-api
