Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2022-05, with the labels that each got.

#1413 fix(legacy_api): Updated v1 and v2 /listswaps regex to match tickers with a period
  apps/legacy-api/__tests__/controllers/PoolPairController.test.ts
Labels: kind/fix, area/apps

#1354 feat(jellyfish-api-core): implement estimateVault rpc
  docs/node/CATEGORIES/17-vault.md
  packages/jellyfish-api-core/__tests__/category/vault/estimateVault.test.ts
  packages/jellyfish-api-core/src/category/vault.ts
Labels: kind/feature, area/packages

#1253 refactor(jellyfish-transaction-builder): move vault tx builder out from loan
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_vault_close_vault.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_vault_create_vault.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_vault_deposit_to_vault.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_vault_place_auction_bid.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_vault_update_vault.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_vault_withdraw_from_vault.test.ts
  packages/jellyfish-transaction-builder/src/index.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_loans.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_vault.ts
Labels: kind/refactor, area/packages

#1431 chore(workflows): add PAT for workflow to trigger workflows
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
Labels: kind/chore, area/workflow

#1392 feat(workflows): Implemented workflow to push images to ECR from GitHub Actions
  .github/scripts/release-ecr-tags.js
  .github/scripts/release-tags.js
  .github/workflows/release-ecr.yml
Labels: kind/feature, area/workflow

#1422 fix(jellyfish-api-core): Disallow any type by default
  .eslintrc
  docs/node/CATEGORIES/05-wallet.md
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/getAccount.test.ts
  packages/jellyfish-api-core/__tests__/category/account/getAccountHistory.test.ts
  packages/jellyfish-api-core/__tests__/category/account/listAccountHistory.test.ts
  packages/jellyfish-api-core/__tests__/category/account/listAccounts.test.ts
  packages/jellyfish-api-core/__tests__/category/blockchain/getBlockHash.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/icx_setup.ts
  packages/jellyfish-api-core/__tests__/category/loan/getVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/listAuctionHistory.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/createMasternode.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/listGovs.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/setGovHeight.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/addPoolLiquidity.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/getPoolPair.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/listPoolPairs.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/listPoolShares.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/poolswap.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/removePoolLiquidity.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/listAnchorRewardConfirms.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/listAnchorRewards.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/listAnchorsUnRewarded.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/refundHtlc.test.ts
  packages/jellyfish-api-core/__tests__/category/spv/refundHtlcAll.test.ts
  packages/jellyfish-api-core/__tests__/category/token/listTokens.test.ts
  packages/jellyfish-api-core/__tests__/category/token/updateToken.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/getVault.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/listAuctionHistory.test.ts
  packages/jellyfish-api-core/__tests__/category/wallet/listAddressGroupings.test.ts
  packages/jellyfish-api-core/__tests__/category/wallet/wallet.test.ts
  packages/jellyfish-api-core/__tests__/container_adapter_client.ts
  packages/jellyfish-api-core/__tests__/index.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/jellyfish-api-core/src/category/masternode.ts
  packages/jellyfish-api-core/src/category/vault.ts
  packages/jellyfish-api-core/src/category/wallet.ts
  packages/jellyfish-api-core/src/index.ts
Labels: kind/fix, area/packages

#1284 chore(whale-api-client): revert to original whale wrappers
  package-lock.json
  packages/whale-api-client/__tests__/WhaleApiClient.test.ts
  packages/whale-api-client/package.json
  packages/whale-api-client/src/Version.ts
  packages/whale-api-client/src/WhaleApiClient.ts
  packages/whale-api-client/src/WhaleApiResponse.ts
  packages/whale-api-client/src/api/Address.ts
  packages/whale-api-client/src/api/Blocks.ts
  packages/whale-api-client/src/api/Loan.ts
  packages/whale-api-client/src/api/MasterNodes.ts
  packages/whale-api-client/src/api/Oracles.ts
  packages/whale-api-client/src/api/PoolPairs.ts
  packages/whale-api-client/src/api/Prices.ts
  packages/whale-api-client/src/api/RawTx.ts
  packages/whale-api-client/src/api/Rpc.ts
  packages/whale-api-client/src/api/Tokens.ts
  packages/whale-api-client/src/api/Transactions.ts
  packages/whale-api-client/src/errors/WhaleApiException.ts
  packages/whale-api-client/src/errors/WhaleApiValidationException.ts
  packages/whale-api-client/src/errors/WhaleClientTimeoutException.ts
  packages/whale-api-client/src/errors/index.ts
  packages/whale-api-client/src/index.ts
Labels: kind/chore, area/packages

#1448 fix(whale-migration): fix issues caused by reverting initial whale-api-client refactoring
  apps/status-api/src/modules/WhaleApiModule.ts
  packages/rich-list-core/test/StubbedWhaleClient.ts
Labels: kind/fix, area/packages, area/apps

#1447 chore(whale): sync with whale packages
  packages/whale-api-client/src/api/Address.ts
  packages/whale-api-client/src/api/PoolPairs.ts
Labels: kind/chore, area/packages

#1454 chore(apps/playground-api, ci): Extend pg future swap block_period
  .github/workflows/ci.yml
  apps/playground-api/__tests__/modules/PlaygroundModule.test.ts
  apps/playground-api/src/setups/setup.gov.ts
Labels: kind/chore, area/workflow, area/apps

#1449 chore(whale-migration): whale sync
  apps/whale/src/module.api/_module.ts
  apps/whale/src/module.api/address.controller.e2e.ts
  apps/whale/src/module.api/address.controller.ts
  apps/whale/src/module.api/cache/defid.cache.ts
  apps/whale/src/module.api/cache/global.cache.ts
  apps/whale/src/module.api/loan.collateral.controller.e2e.ts
  apps/whale/src/module.api/loan.scheme.controller.e2e.ts
  apps/whale/src/module.api/loan.token.controller.e2e.ts
  apps/whale/src/module.api/loan.vault.controller.e2e.ts
  apps/whale/src/module.api/masternode.controller.e2e.ts
  apps/whale/src/module.api/masternode.service.ts
  apps/whale/src/module.api/poolpair.controller.e2e.ts
  apps/whale/src/module.api/poolpair.controller.ts
  apps/whale/src/module.api/poolpair.prices.service.ts
  apps/whale/src/module.api/poolpair.service.ts
  apps/whale/src/module.api/poolswap.pathfinding.service.ts
  apps/whale/src/module.api/rawtx.controller.e2e.ts
  apps/whale/src/module.api/rpc.controller.ts
  apps/whale/src/module.api/stats.controller.ts
  apps/whale/src/module.api/transaction.controller.e2e.ts
  apps/whale/src/module.database/provider.level/level.database.spec.ts
  apps/whale/src/module.database/provider.memory/memory.database.spec.ts
  apps/whale/src/module.indexer/model/script.activity.ts
  apps/whale/src/module.indexer/model/script.unspent.ts
  apps/whale/src/module.indexer/model/transaction.ts
  apps/whale/src/module.indexer/model/transaction.vin.ts
  apps/whale/src/module.indexer/model/transaction.vout.ts
Labels: kind/chore, area/apps

#1314 chore(apps): add sanity testing containers
  apps/whale/__sanity__/WhaleSanityContainer.sanity.ts
  jest.config.js
  jest.sanity.js
  jest.sanity.setup.js
  package-lock.json
  package.json
  packages/testcontainers/package.json
  packages/testcontainers/src/containers/AppContainer/WhaleSanityContainer.ts
  packages/testcontainers/src/containers/AppContainer/index.ts
  packages/testcontainers/src/containers/DockerContainer.ts
  packages/testcontainers/src/index.ts
Labels: kind/chore, area/packages, area/apps

#1433 chore(whale/sanity-testing): port over tests from whale ci newman
  .github/workflows/ci.yml
  apps/whale/__sanity__/WhaleSanityContainer.sanity.ts
  packages/testcontainers/src/containers/AppContainer/WhaleSanityContainer.ts
  packages/testcontainers/src/containers/AppContainer/index.ts
Labels: kind/chore, area/workflow, area/packages, area/apps

#1250 chore(whale-api-client): migrate unit tests
  packages/whale-api-client/__tests__/api/account.history.test.ts
  packages/whale-api-client/__tests__/api/address.test.ts
  packages/whale-api-client/__tests__/api/address.vault.test.ts
  packages/whale-api-client/__tests__/api/blocks.test.ts
  packages/whale-api-client/__tests__/api/fee.test.ts
  packages/whale-api-client/__tests__/api/loan.auction.history.test.ts
  packages/whale-api-client/__tests__/api/loan.auction.test.ts
  packages/whale-api-client/__tests__/api/loan.collateral.test.ts
  packages/whale-api-client/__tests__/api/loan.scheme.test.ts
  packages/whale-api-client/__tests__/api/loan.token.test.ts
  packages/whale-api-client/__tests__/api/loan.vault.test.ts
  packages/whale-api-client/__tests__/api/masternodes.test.ts
  packages/whale-api-client/__tests__/api/oracles.test.ts
  packages/whale-api-client/__tests__/api/poolpairs.swaps.test.ts
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/__tests__/api/prices.test.ts
  packages/whale-api-client/__tests__/api/rawtx.test.ts
  packages/whale-api-client/__tests__/api/rpc.test.ts
  packages/whale-api-client/__tests__/api/stats.test.ts
  packages/whale-api-client/__tests__/api/tokens.test.ts
  packages/whale-api-client/__tests__/api/transaction.test.ts
  packages/whale-api-client/__tests__/errors/api.error.test.ts
  packages/whale-api-client/__tests__/errors/api.validation.exception.test.ts
  packages/whale-api-client/__tests__/errors/client.timeout.exception.test.ts
  packages/whale-api-client/__tests__/errors/index.test.ts
  packages/whale-api-client/__tests__/stub.client.ts
  packages/whale-api-client/__tests__/stub.service.ts
  packages/whale-api-client/__tests__/whale.api.response.test.ts
  packages/whale-api-client/__tests__/whale.rpc.client.test.ts
  packages/whale-api-client/src/Version.ts
Labels: kind/chore, area/packages

#1464 chore(apps/whale-api): add ci steps for releasing `whale-api`
  .github/workflows/ci.yml
  .github/workflows/release-apps.yml
  .github/workflows/release-ecr.yml
Labels: kind/chore, area/workflow

#1468 fix(status-api): Default network to mainnet for status-api controller module
  apps/status-api/src/modules/ControllerModule.ts
Labels: kind/fix, area/apps

#1470 chore(apps/legacy-api): skip flaky tests
  apps/legacy-api/__tests__/controllers/PoolPairController.test.ts
Labels: kind/chore, area/apps

#1466 chore(whale-api-client): Default whale api client to v0 and let url be optional
  packages/whale-api-client/__tests__/WhaleApiClient.test.ts
  packages/whale-api-client/__tests__/stub.client.ts
  packages/whale-api-client/src/Version.ts
  packages/whale-api-client/src/WhaleApiClient.ts
Labels: kind/chore, area/packages

#1460 chore(memory): increase node heap size to 4gb
  Dockerfile
Labels: kind/chore

#1471 chore(workflows): Refactor docker build to build-push-action
  .github/workflows/release-ecr.yml
Labels: kind/chore, area/workflow

#1469 chore(apps/libs/caches): extract semaphore cache from `whale`
  apps/libs/caches/__tests__/SemaphoreCache.test.ts
  apps/libs/caches/src/GlobalCache.ts
  apps/libs/caches/src/SemaphoreCache.ts
  apps/libs/caches/src/index.ts
  apps/libs/caches/tsconfig.lib.json
  apps/nest-cli.json
  apps/status-api/src/controllers/OracleStatusController.ts
  apps/status-api/src/modules/ControllerModule.ts
  apps/tsconfig.json
  apps/whale-api/src/module.api/_module.ts
  apps/whale-api/src/module.api/cache/defid.cache.spec.ts
  apps/whale-api/src/module.api/cache/defid.cache.ts
  apps/whale-api/src/module.api/masternode.service.ts
  apps/whale-api/src/module.api/poolpair.prices.service.ts
  apps/whale-api/src/module.api/poolpair.service.ts
  apps/whale-api/src/module.api/stats.controller.ts
Labels: kind/chore, area/apps

#1461 fix(jellyfish-api-core, jellyfish-transaction-builder): Fix failed tests for fortcanningcrunch
  apps/playground-api/__tests__/modules/PlaygroundModule.test.ts
  apps/playground-api/src/setups/setup.gov.ts
  apps/whale-api/src/module.api/loan.collateral.controller.e2e.ts
  apps/whale-api/src/module.api/loan.controller.ts
  docs/node/CATEGORIES/06-poolpair.md
  docs/node/CATEGORIES/08-account.md
  docs/node/CATEGORIES/11-masternode.md
  docs/node/CATEGORIES/16-loan.md
  docs/ocean/REFERENCES/poolpairs.mdx
  packages/jellyfish-api-core/__tests__/category/account/getAccountHistory.test.ts
  packages/jellyfish-api-core/__tests__/category/account/withdrawFutureSwap.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/createCfp.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/createVoc.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/getProposal.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/governance_container.ts
  packages/jellyfish-api-core/__tests__/category/governance/listProposals.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/listVotes.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/vote.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/createVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/getCollateralToken.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/getLoanInfo.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/getLoanToken.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/listCollateralTokens.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/listLoanTokens.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/paybackLoan.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/setCollateralToken.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/setLoanToken.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/updateLoanToken.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/createMasternode.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/getMasternode.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/listMasternodes.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/createVault.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/jellyfish-api-core/src/category/masternode.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_createcfp.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_createvoc.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_setgov.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_setgovheight.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_vote.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_create_vault.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_place_auction_bid.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_collateral_token.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_loan_token.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_take_loan.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_update_loan_token.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_withdraw_from_vault.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_vault_create_vault.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_vault_withdraw_from_vault.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/SetCollateralToken.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
  packages/whale-api-client/__tests__/api/loan.collateral.test.ts
  packages/whale-api-client/__tests__/api/prices.test.ts
  packages/whale-api-client/src/api/Address.ts
  packages/whale-api-client/src/api/Loan.ts
Labels: kind/fix, area/packages, area/apps

#1491 chore(governance): add label governance for apps
  .github/CODEOWNERS
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  .idea/dictionaries/fuxing.xml
Labels: kind/chore, area/workflow

#1481 fix(whale-api): activateAfterBlock: 0 for CollateralToken to prevent downstream regression
  apps/whale-api/src/module.api/loan.collateral.controller.e2e.ts
  apps/whale-api/src/module.api/loan.controller.ts
  packages/whale-api-client/__tests__/api/loan.collateral.test.ts
  packages/whale-api-client/src/api/Loan.ts
Labels: kind/fix, area/packages, area/apps, apps/whale-api

#1497 chore(whale-api): add recent commits
  apps/libs/caches/__tests__/SemaphoreCache.test.ts
  apps/libs/caches/src/SemaphoreCache.ts
  apps/whale-api/__sanity__/WhaleSanityContainer.sanity.ts
  apps/whale-api/src/module.api/actuator.e2e.ts
  apps/whale-api/src/module.model/_model.probes.ts
Labels: kind/chore, area/apps, apps/whale-api
