Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2022-04, with the labels that each got.

#1305 feat(status-api): Status API server setup
  .github/workflows/ci.yml
  .github/workflows/release-apps.yml
  apps/nest-cli.json
  apps/package.json
  apps/status-api/README.md
  apps/status-api/src/index.ts
  apps/status-api/src/modules/ControllerModule.ts
  apps/status-api/src/modules/RootModule.ts
  apps/status-api/src/modules/WhaleApiModule.ts
  apps/status-api/testing/StatusApiTesting.ts
  apps/status-api/testing/StatusStubServer.ts
Labels: kind/feature, area/workflow, area/apps

#1308 feat(status-api): Status API for Blockchain
  apps/status-api/__test__/controllers/BlockchainController.test.ts
  apps/status-api/src/controllers/BlockchainController.ts
  apps/status-api/src/modules/ControllerModule.ts
Labels: kind/feature, area/apps

#1294 feat(rich-list-core): remove use of droppedFrom db for invalidation
  packages/rich-list-core/__tests__/RichListCore.test.ts
  packages/rich-list-core/src/RichListCore.ts
  packages/rich-list-core/test/RichListCoreTest.ts
  packages/rich-list-core/test/StubbedWhaleClient.ts
Labels: kind/feature, area/packages

#1205 feat(jellyfish-api-core): DUSD contributes to the 50% minimum required collateral #1128
  packages/jellyfish-api-core/__tests__/category/loan/takeLoan.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/withdrawFromVault.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_take_loan.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_withdraw_from_vault.test.ts
Labels: kind/feature, area/packages

#1313 feat(apps/playground-api): support loan token topup in light wallet
  apps/playground-api/src/setups/setup.loan.token.ts
Labels: kind/feature, area/apps

#1312 fix(jellyfish-api-core): Fixes for jellyfish #1295 and #1296 issues
  packages/jellyfish-api-core/__tests__/category/loan/paybackLoan.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_payback_loan.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_loans/PaybackLoanV2.test.ts
Labels: kind/fix, area/packages

#1318 refactor(status-api): Update Blockchain Status API path
  apps/status-api/__test__/controllers/BlockchainController.test.ts
  apps/status-api/src/controllers/BlockchainController.ts
Labels: kind/refactor, area/apps

#1309 feat(apps/legacy-api): perf improvement with caching
  apps/legacy-api/__tests__/controllers/PoolPairController.test.ts
  apps/legacy-api/src/cache/SimpleCache.ts
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/legacy-api/src/modules/ControllerModule.ts
  apps/legacy-api/src/modules/RootModule.ts
  apps/legacy-api/testing/LegacyStubServer.ts
Labels: kind/feature, priority/urgent-now, area/apps

#1084 feat(`rich-list-api`): rich-list-core
  package-lock.json
  packages/rich-list-core/README.md
  packages/rich-list-core/__tests__/RichListCore.test.ts
  packages/rich-list-core/__tests__/saga/AddressParser/dftx/accountToUtxos.test.ts
  packages/rich-list-core/__tests__/saga/AddressParser/utxo.test.ts
  packages/rich-list-core/package.json
  packages/rich-list-core/src/RichListCore.ts
  packages/rich-list-core/src/index.ts
  packages/rich-list-core/src/persistent/Queue.ts
  packages/rich-list-core/src/persistent/SingleIndexDb.ts
  packages/rich-list-core/src/persistent/index.ts
  packages/rich-list-core/src/saga/AddressParser/UtxoAddressParser.ts
  packages/rich-list-core/src/saga/AddressParser/dftx/AccountToUtxos.ts
  packages/rich-list-core/src/saga/AddressParser/dftx/_abstract.ts
  packages/rich-list-core/src/saga/AddressParser/index.ts
  packages/rich-list-core/src/types.ts
  packages/rich-list-core/test/RichListCoreTest.ts
  packages/rich-list-core/test/StubbedWhaleClient.ts
  packages/rich-list-core/tsconfig.build.json
  packages/testcontainers/src/index.ts
Labels: kind/feature, area/packages

#1273 feat(jellyfish-api-core): Add `futureswap` RPC
  apps/playground-api/__tests__/modules/PlaygroundModule.test.ts
  apps/playground-api/src/setups/setup.dex.ts
  docs/node/CATEGORIES/08-account.md
  docs/node/CATEGORIES/09-oracle.md
  packages/jellyfish-api-core/__tests__/category/account/futureSwap.test.ts
  packages/jellyfish-api-core/__tests__/category/account/getBurnInfo.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/paybackLoan.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/jellyfish-api-core/src/category/oracle.ts
  packages/jellyfish-testing/src/token.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_payback_loan.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/Masternode.ts
Labels: kind/feature, area/packages, area/apps

#1322 feat(jellyfish-api-core): Add oracle getFutureSwapBlock RPC for dfip2203 futures
  docs/node/CATEGORIES/09-oracle.md
  packages/jellyfish-api-core/__tests__/category/oracle/getFutureSwapBlock.test.ts
Labels: kind/feature, area/packages

#1321 feat(jellyfish-api-core): Add account getPendingFutureSwaps RPC for dfip2203 futures
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/getPendingFutureSwaps.test.ts
  packages/jellyfish-api-core/src/category/account.ts
Labels: kind/feature, area/packages

#1328 refactor(status-api): Update Blockchain Status API response type
  apps/status-api/__test__/controllers/BlockchainStatusController.test.ts
  apps/status-api/src/controllers/BlockchainStatusController.ts
  apps/status-api/src/modules/ControllerModule.ts
Labels: kind/refactor, area/apps

#1319 feat(jellyfish-api-core): Add listPendingFutureSwaps RPC for dfip2203 futures
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/listPendingFutureSwaps.test.ts
  packages/jellyfish-api-core/src/category/account.ts
Labels: kind/feature, area/packages

#1323 feat(jellyfish-api-core): Add account withdrawFutureSwap RPC
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/withdrawFutureSwap.test.ts
  packages/jellyfish-api-core/src/category/account.ts
Labels: kind/feature, area/packages

#1329 feat(jellyfish-transaction, jellyfish-transaction-builder): Add futureswap dftxs
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_future_swap.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_account.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_account/FutureSwap.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_account.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/packages

#1332 chore(testcontainers): patch testcontainer name gen
  package-lock.json
  package.json
  packages/testcontainers/package.json
  packages/testcontainers/src/containers/RegTestContainer/ContainerGroup.ts
Labels: kind/chore, area/packages

#1345 feat(apps/playground): add new poolpair for BTC-USDT
  apps/playground-api/__tests__/modules/PlaygroundModule.test.ts
  apps/playground-api/src/setups/setup.dex.ts
Labels: kind/feature, area/apps

#1251 refactor(jellyfish-api-core): move vault from loan into its own file
  docs/node/CATEGORIES/16-loan.md
  docs/node/CATEGORIES/17-vault.md
  packages/jellyfish-api-core/__tests__/category/loan/listAuctions.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/closeVault.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/createVault.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/depositToVault.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/getVault.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/listAuctionHistory.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/listAuctions.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/listVaults.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/placeAuctionBid.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/updateVault.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/withdrawFromVault.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/jellyfish-api-core/src/category/vault.ts
  packages/jellyfish-api-core/src/index.ts
Labels: kind/refactor, area/packages

#1352 chore(workflows): update oss-governance-bot.yml to use new package
  .github/workflows/oss-governance-bot.yml
Labels: kind/chore, area/workflow

#1099 feat(rich-list-core): implement dftx address parsers
  packages/jellyfish-api-core/src/category/account.ts
  packages/jellyfish-api-core/src/category/poolpair.ts
  packages/rich-list-core/__tests__/RichListCore.test.ts
  packages/rich-list-core/__tests__/saga/AddressParser/dftx/AccountToAccount.test.ts
  packages/rich-list-core/__tests__/saga/AddressParser/dftx/AccountToUtxos.test.ts
  packages/rich-list-core/__tests__/saga/AddressParser/dftx/AnyAccountToAccount.test.ts
  packages/rich-list-core/__tests__/saga/AddressParser/dftx/CompositeSwap.test.ts
  packages/rich-list-core/__tests__/saga/AddressParser/dftx/DepositToVault.test.ts
  packages/rich-list-core/__tests__/saga/AddressParser/dftx/PaybackLoan.test.ts
  packages/rich-list-core/__tests__/saga/AddressParser/dftx/PoolAddLiquidity.test.ts
  packages/rich-list-core/__tests__/saga/AddressParser/dftx/PoolRemoveLiquidity.test.ts
  packages/rich-list-core/__tests__/saga/AddressParser/dftx/PoolSwap.test.ts
  packages/rich-list-core/__tests__/saga/AddressParser/dftx/TakeLoan.test.ts
  packages/rich-list-core/__tests__/saga/AddressParser/dftx/UtxosToAccount.test.ts
  packages/rich-list-core/__tests__/saga/AddressParser/dftx/WithdrawFromVault.test.ts
  packages/rich-list-core/__tests__/saga/AddressParser/utxo.test.ts
  packages/rich-list-core/src/saga/AddressParser/dftx/AccountToAccount.ts
  packages/rich-list-core/src/saga/AddressParser/dftx/AnyAccountToAccount.ts
  packages/rich-list-core/src/saga/AddressParser/dftx/CompositeSwap.ts
  packages/rich-list-core/src/saga/AddressParser/dftx/DepositToVault.ts
  packages/rich-list-core/src/saga/AddressParser/dftx/PaybackLoan.ts
  packages/rich-list-core/src/saga/AddressParser/dftx/PoolAddLiquidity.ts
  packages/rich-list-core/src/saga/AddressParser/dftx/PoolRemoveLiquidity.ts
  packages/rich-list-core/src/saga/AddressParser/dftx/PoolSwap.ts
  packages/rich-list-core/src/saga/AddressParser/dftx/TakeLoan.ts
  packages/rich-list-core/src/saga/AddressParser/dftx/UtxosToAccount.ts
  packages/rich-list-core/src/saga/AddressParser/dftx/WithdrawFromVault.ts
  packages/rich-list-core/src/saga/AddressParser/index.ts
  packages/rich-list-core/test/AddressParserTest.ts
  packages/rich-list-core/test/StubbedUtxoAddressParser.ts
Labels: kind/feature, area/packages

#1357 fix(apps/legacy-api): undefined address causing account history lookup failure
  apps/legacy-api/src/controllers/PoolPairController.ts
Labels: kind/fix, area/apps

#1342 feat(apps/playground): dfip2203 future swap
  apps/playground-api/__tests__/modules/PlaygroundModule.test.ts
  apps/playground-api/src/setups/setup.gov.ts
Labels: kind/feature, area/apps

#1338 feat(status-api): Overall Status endpoint
  apps/status-api/README.md
  apps/status-api/__test__/controllers/BlockchainStatusController.test.ts
  apps/status-api/__test__/controllers/OverallStatusController.test.ts
  apps/status-api/src/controllers/BlockchainStatusController.ts
  apps/status-api/src/controllers/OverallStatusController.ts
  apps/status-api/src/modules/ControllerModule.ts
  apps/status-api/src/modules/WhaleApiModule.ts
Labels: kind/feature, area/apps

#1315 feat(status-api): Status API for Oracles
  apps/status-api/README.md
  apps/status-api/__tests__/controllers/BlockchainStatusController.test.ts
  apps/status-api/__tests__/controllers/OracleStatusController.test.ts
  apps/status-api/__tests__/controllers/OverallStatusController.test.ts
  apps/status-api/src/controllers/OracleStatusController.ts
  apps/status-api/src/modules/ControllerModule.ts
  apps/whale/src/module.api/oracle.controller.ts
Labels: kind/feature, area/apps

#1363 docs(full-node): fix deprecated client import
  docs/node/02-design.md
  docs/node/CATEGORIES/01-blockchain.md
  docs/node/CATEGORIES/02-mining.md
  docs/node/CATEGORIES/03-net.md
  docs/node/CATEGORIES/04-rawtx.md
  docs/node/CATEGORIES/05-wallet.md
  docs/node/CATEGORIES/06-poolpair.md
  docs/node/CATEGORIES/07-token.md
  docs/node/CATEGORIES/08-account.md
  docs/node/CATEGORIES/09-oracle.md
  docs/node/CATEGORIES/10-server.md
  docs/node/CATEGORIES/11-masternode.md
  docs/node/CATEGORIES/12-governance.md
  docs/node/CATEGORIES/13-misc.md
  docs/node/CATEGORIES/14-spv.md
  docs/node/CATEGORIES/15-icxorderbook.md
  docs/node/CATEGORIES/16-loan.md
  docs/node/CATEGORIES/17-vault.md
Labels: kind/docs

#1324 feat(jellyfish-api-core): implement refundHtlcAll
  docs/node/CATEGORIES/14-spv.md
  packages/jellyfish-api-core/__tests__/category/spv/refundHtlcAll.test.ts
  packages/jellyfish-api-core/src/category/spv.ts
Labels: kind/feature, area/packages

#1367 feat(packages/network): add getNetworkBitcoinJsLib to support bitcoinjs-lib
  packages/jellyfish-network/__tests__/BitcoinJsLib.test.ts
  packages/jellyfish-network/src/BitcoinJsLib.ts
  packages/jellyfish-network/src/index.ts
Labels: kind/feature, area/packages

#1368 fix(packages/jellyfish-network): bignumber.js was referenced but never added in deps
  package-lock.json
  packages/jellyfish-network/package.json
Labels: kind/fix, area/packages

#1369 chore(workflows): cleanup workflow permissions and names
  .github/CODEOWNERS
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-labels.yml
  .github/workflows/release-drafter.yml
Labels: kind/chore, area/workflow

#1372 fix(status-api): Update cache duration correctly to 5 seconds
  apps/status-api/src/controllers/OracleStatusController.ts
Labels: kind/fix, area/apps

#1371 chore(cleanup): high-level rename, cleanup & simplified of code governance for #1370
  .github/labeler.yml
  CONTRIBUTING.md
  README.md
  apps/ocean-api/README.md
  apps/package.json
  apps/playground-api/README.md
  apps/rich-list-api/README.md
  apps/status-api/README.md
  apps/whale/README.md
  docs/node/02-design.md
  docs/ocean/01-overview.mdx
  docs/testing/03-jellyfish-testing.md
  examples/ocean-dex-api/README.md
  examples/ocean-masternodes-api/README.md
  package.json
  packages/jellyfish-address/package.json
  packages/jellyfish-api-core/package.json
  packages/jellyfish-api-core/src/category/spv.ts
  packages/jellyfish-api-jsonrpc/package.json
  packages/jellyfish-block/package.json
  packages/jellyfish-buffer/package.json
  packages/jellyfish-crypto/package.json
  packages/jellyfish-json/package.json
  packages/jellyfish-network/package.json
  packages/jellyfish-testing/package.json
  packages/jellyfish-transaction-builder/package.json
  packages/jellyfish-transaction-signature/package.json
  packages/jellyfish-transaction/package.json
  packages/jellyfish-wallet-classic/package.json
  packages/jellyfish-wallet-encrypted/package.json
  packages/jellyfish-wallet-mnemonic/README.md
  packages/jellyfish-wallet-mnemonic/package.json
  packages/jellyfish-wallet/package.json
  packages/ocean-api-client/package.json
  packages/playground-api-client/package.json
  packages/playground/package.json
  packages/rich-list-core/package.json
  packages/testcontainers/package.json
  packages/testing/package.json
  packages/whale-api-client/package.json
  packages/whale-api-wallet/package.json
  website/docusaurus.config.js
Labels: kind/chore, area/workflow, area/examples, area/packages, area/apps

#1379 chore(migrate): migrate codecov and ghcr.io to jellyfishsdk
  .github/scripts/release-report.js
  .github/workflows/ci.yml
  README.md
Labels: kind/chore, area/workflow

#1381 chore(dockerfile): optimize workspace build performance
  Dockerfile
Labels: kind/chore

#1384 chore(website): update website with new assets and fix mentions
  docs/ocean/01-overview.mdx
  website/docusaurus.config.js
  website/static/img/favicon.ico
  website/static/img/logo.svg
Labels: kind/chore

#1382 chore(dockerfile): add buildcache optimization
  .github/workflows/release-apps.yml
  .idea/dictionaries/fuxing.xml
Labels: kind/chore, area/workflow

#1383 fix(status-api): Update to check status of first active tickers of the oracle
  apps/status-api/README.md
  apps/status-api/__tests__/controllers/OracleStatusController.test.ts
  apps/status-api/src/controllers/OracleStatusController.ts
Labels: kind/fix, area/apps

#1252 refactor(jellyfish-transaction): move vault dftx into its own file
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_vault/CloseVault.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_vault/CreateVault.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_vault/DepositToVault.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_vault/PlaceAuctionBid.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_vault/UpdateVault.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_vault/WithdrawFromVault.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_vault.ts
  packages/jellyfish-transaction/src/script/dftx/index.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/refactor, area/packages

#1350 feat(jellyfish-api-core): implement estimateCollateral rpc
  docs/node/CATEGORIES/17-vault.md
  packages/jellyfish-api-core/__tests__/category/vault/estimateCollateral.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/estimateLoan.test.ts
  packages/jellyfish-api-core/src/category/vault.ts
Labels: kind/feature, area/packages
