Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2022-08, with the labels that each got.

#1678 chore(docker): lock lerna to v5.1.8 due to python requirements
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: kind/chore, area/workflow

#1676 docs(examples/bitcoinjs-lib): add example on how to use bitcoinjs for DeFiChain
  examples/bitcoinjs-lib/.gitignore
  examples/bitcoinjs-lib/README.md
  examples/bitcoinjs-lib/example.mjs
  examples/bitcoinjs-lib/package.json
Labels: kind/docs, area/examples

#1684 chore(renovate): remove package scope
  .github/renovate.json
Labels: kind/chore, area/workflow

#1685 docs(examples/bitcoinjs-lib): use hex decimal for example
  .idea/dictionaries/fuxing.xml
  examples/bitcoinjs-lib/README.md
Labels: kind/docs, area/examples

#1496 chore(jellyfish-transaction): add static testing and e2e for v2 signing
  package-lock.json
  packages/jellyfish-transaction-signature/__tests__/tx_signature/sign_transaction.test.ts
  packages/jellyfish-transaction-signature/src/tx_signature.ts
  packages/jellyfish-transaction/__tests__/tx/v2/p2wpkh_1_to_1.test.ts
  packages/jellyfish-transaction/__tests__/tx/v2/p2wpkh_1_to_2.test.ts
  packages/jellyfish-transaction/__tests__/tx/v4/p2wpkh_1_to_1.test.ts
  packages/jellyfish-transaction/__tests__/tx/v4/p2wpkh_1_to_2.test.ts
  packages/jellyfish-transaction/package.json
Labels: kind/chore, area/packages

#1706 chore(renovate): update range strategy to bump
  .github/renovate.json
Labels: kind/chore, area/workflow

#1710 fix(apps/whale-api): Fix `listAccountHistory` json out of range
  apps/whale-api/src/module.api/address.controller.ts
  packages/whale-api-client/__tests__/api/account.history.test.ts
Labels: kind/fix, area/packages, area/apps, apps/whale-api

#1716 feat(whale-api): add max hops in path finding
  apps/whale-api/src/module.api/poolpair.controller.e2e.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
Labels: kind/feature, area/apps, apps/whale-api

#1717 fix(workflows): fix release-apps if conditions
  .github/labeler.yml
  .github/workflows/release-apps.yml
  .github/workflows/release-ecr.yml
  .idea/dictionaries/fuxing.xml
Labels: kind/fix, area/workflow

#1726 fix(workflow): remove Forked Report due to lack of perm to create Comment
  .github/workflows/release-apps.yml
Labels: kind/fix, area/workflow

#1722 feat(v2.10): DeFiChain Node v2.10 Release
  package-lock.json
  packages/jellyfish-api-core/__tests__/category/loan/getVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/setLoanToken.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/updateLoanToken.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/getVault.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/jellyfish-api-core/src/category/vault.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/whale-api-client/__tests__/api/account.history.test.ts
Labels: kind/feature, area/packages
