Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2022-11, with the labels that each got.

#1802 feat(jellyfish-api-core): add loan paybackWithCollateral RPC
  docs/node/CATEGORIES/16-loan.md
  packages/jellyfish-api-core/__tests__/category/loan/paybackWithCollateral.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
Labels: kind/feature, area/packages, apps/website

#1849 feat(whale-api): exclude `csETH` on wrapped tokens
  apps/whale-api/src/module.api/token.controller.spec.ts
  apps/whale-api/src/module.api/token.controller.ts
Labels: kind/feature, area/apps, apps/whale-api

#1857 chore(renovate): add @types/node to ignore list
  .github/renovate.json
Labels: kind/chore, area/workflow

#1853 feat(whale-api): use best path on total liquidity in usd
  apps/whale-api/src/module.api/poolpair.service.ts
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
Labels: kind/feature, area/packages, area/apps, apps/whale-api

#1861 chore(deps): revert update dependency @mdx-js/react to v2
  package-lock.json
  website/package.json
Labels: kind/chore, apps/website

#1841 feat(v3): bump to grandcentral and use `master-1d169a751`
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/rich-list-api/docker-compose.yml
  apps/whale-api/docker-compose.yml
  packages/jellyfish-api-core/__tests__/category/account/getBurnInfo.test.ts
  packages/jellyfish-api-core/__tests__/category/mining/getMiningInfo.test.ts
  packages/jellyfish-api-core/__tests__/category/oracle/listPrices.test.ts
  packages/jellyfish-api-core/src/category/oracle.ts
  packages/jellyfish-api-core/src/category/token.ts
  packages/rich-list-core/__tests__/RichListCore.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
Labels: kind/feature, area/packages, area/apps, apps/legacy-api, apps/rich-list-api, apps/whale-api

#1865 chore(jellyfish-api-core): Change assert order in `getMiningInfo.test.ts` to match other tests
  packages/jellyfish-api-core/__tests__/category/mining/getMiningInfo.test.ts
Labels: kind/chore, area/packages

#1859 feat(jellyfish-api-core): unsetgov RPC
  docs/node/CATEGORIES/11-masternode.md
  packages/jellyfish-api-core/__tests__/category/masternode/unsetGov.test.ts
  packages/jellyfish-api-core/src/category/masternode.ts
Labels: kind/feature, area/packages, apps/website

#1860 feat(packages/jellyfish-api-core): Consortium RPCs
  apps/rich-list-api/docker-compose.yml
  apps/whale-api/docker-compose.yml
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.test.ts
  packages/jellyfish-api-core/__tests__/category/token/burnTokens.test.ts
  packages/jellyfish-api-core/__tests__/category/token/mintTokens.test.ts
  packages/jellyfish-api-core/src/category/oracle.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
Labels: kind/feature, area/packages, area/apps, apps/rich-list-api, apps/whale-api

#1847 feat(jellyfish-api-core): Add updatemasternode RPC typings
  docs/node/CATEGORIES/11-masternode.md
  packages/jellyfish-api-core/__tests__/category/masternode/updatemasternode.test.ts
  packages/jellyfish-api-core/src/category/masternode.ts
Labels: kind/feature, area/packages, apps/website

#1845 feat(packages/jellyfish-api-core): On-chain Governance RPC
  docs/node/CATEGORIES/12-governance.md
  packages/jellyfish-api-core/__tests__/category/governance/createCfp.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/createGovCfp.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/createGovVoc.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/createVoc.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/getGovProposal.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/getProposal.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/governance_container.ts
  packages/jellyfish-api-core/__tests__/category/governance/listGovProposalVotes.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/listGovProposals.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/listProposals.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/listVotes.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/voteGov.test.ts
  packages/jellyfish-api-core/src/category/governance.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_createcfp.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_createvoc.test.ts
Labels: kind/feature, area/packages, apps/website

#1888 fix(jellyfish-api-core): flaky test in mintTokens.test.ts
  packages/jellyfish-api-core/__tests__/category/token/mintTokens.test.ts
Labels: kind/fix, area/packages
