Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2022-06, with the labels that each got.

#1509 feat(whale): release to npm from consolidated jellyfish
  packages/whale-api-client/package.json
  packages/whale-api-wallet/package.json
Labels: kind/feature, area/packages

#1512 chore(packages/whale-api-*): revert whale packages file name casing
  apps/legacy-api/__tests__/controllers/PoolPairController.test.ts
  apps/legacy-api/__tests__/controllers/TokenController.test.ts
  apps/legacy-api/src/controllers/MiscController.ts
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/legacy-api/src/controllers/TokenController.ts
  apps/legacy-api/src/controllers/stats/LegacyStatsProvider.ts
  apps/status-api/__tests__/controllers/BlockchainStatusController.test.ts
  apps/status-api/__tests__/controllers/OracleStatusController.test.ts
  apps/status-api/__tests__/controllers/OverallStatusController.test.ts
  apps/status-api/src/controllers/BlockchainStatusController.ts
  apps/status-api/src/controllers/OracleStatusController.ts
  apps/whale-api/src/module.api/address.controller.ts
  apps/whale-api/src/module.api/loan.controller.ts
  apps/whale-api/src/module.api/loan.vault.controller.e2e.ts
  apps/whale-api/src/module.api/loan.vault.service.ts
  apps/whale-api/src/module.api/masternode.controller.e2e.ts
  apps/whale-api/src/module.api/masternode.controller.ts
  apps/whale-api/src/module.api/poolpair.controller.ts
  apps/whale-api/src/module.api/poolpair.prices.service.ts
  apps/whale-api/src/module.api/poolpair.service.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
  apps/whale-api/src/module.api/price.controller.ts
  apps/whale-api/src/module.api/stats.controller.ts
  apps/whale-api/src/module.api/token.controller.ts
  packages/whale-api-client/__tests__/WhaleApiClient.test.ts
  packages/whale-api-client/__tests__/api/address.vault.test.ts
  packages/whale-api-client/__tests__/api/loan.vault.test.ts
  packages/whale-api-client/__tests__/api/poolpairs.swaps.test.ts
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
  packages/whale-api-client/__tests__/api/prices.test.ts
  packages/whale-api-client/src/api/address.ts
  packages/whale-api-client/src/api/blocks.ts
  packages/whale-api-client/src/api/fee.ts
  packages/whale-api-client/src/api/loan.ts
  packages/whale-api-client/src/api/masternodes.ts
  packages/whale-api-client/src/api/oracles.ts
  packages/whale-api-client/src/api/poolpairs.ts
  packages/whale-api-client/src/api/prices.ts
  packages/whale-api-client/src/api/rawtx.ts
  packages/whale-api-client/src/api/rpc.ts
  packages/whale-api-client/src/api/stats.ts
  packages/whale-api-client/src/api/tokens.ts
  packages/whale-api-client/src/api/transactions.ts
  packages/whale-api-client/src/errors/api.error.ts
  packages/whale-api-client/src/errors/api.validation.exception.ts
  packages/whale-api-client/src/errors/client.timeout.exception.ts
  packages/whale-api-client/src/errors/index.ts
  packages/whale-api-client/src/index.ts
  packages/whale-api-client/src/whale.api.client.ts
  packages/whale-api-client/src/whale.api.response.ts
  packages/whale-api-client/src/whale.rpc.client.ts
  packages/whale-api-wallet/src/feerate.ts
  packages/whale-api-wallet/src/index.ts
  packages/whale-api-wallet/src/prevout.ts
  packages/whale-api-wallet/src/wallet.ts
Labels: kind/chore, area/packages, area/apps, apps/legacy-api, apps/whale-api

#1525 chore(legacy-api): disable prefetch caching due to performance issues
  apps/legacy-api/__tests__/controllers/PoolPairController.test.ts
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/legacy-api/src/modules/ControllerModule.ts
Labels: kind/chore, area/apps, apps/legacy-api

#1534 fix(legacy-api): fix failing tests due to token split
  apps/legacy-api/__tests__/controllers/PoolPairController.test.ts
  apps/legacy-api/src/controllers/PoolPairController.ts
Labels: kind/fix, area/apps, apps/legacy-api

#1475 feat(jellyfish-api-core): add token split testing
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.locks.token.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.splits.token.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/whale-api-client/__tests__/api/prices.test.ts
Labels: kind/feature, area/packages

#1533 fix(whale-api): change to rely on defidcache instead of tokenMapper
  apps/libs/caches/src/GlobalCache.ts
  apps/whale-api/src/module.api/cache/defid.cache.ts
  apps/whale-api/src/module.api/poolpair.controller.e2e.ts
  apps/whale-api/src/module.api/poolpair.prices.service.ts
Labels: kind/fix, area/apps, apps/whale-api

#1546 chore(whale-api/cache): tune cache parameters for `stats.controller.ts`
  apps/whale-api/src/module.api/_module.ts
  apps/whale-api/src/module.api/stats.controller.ts
Labels: kind/chore, area/apps, apps/whale-api

#1548 feat(docker): add commit hash version to docker container report
  .github/scripts/release-report.js
Labels: kind/feature, area/workflow

#1281 feat(jellyfish-api-core): add blockchain getMempoolEntry RPC
  docs/node/CATEGORIES/01-blockchain.md
  packages/jellyfish-api-core/__tests__/category/blockchain/getMempoolEntry.test.ts
  packages/jellyfish-api-core/src/category/blockchain.ts
Labels: kind/feature, area/packages, apps/website

#1559 chore(workflows): add consolidated dependencies bumping workflow
  .github/workflows/dependencies.yml
Labels: kind/chore, area/workflow

#1560 fix(whale-api): network value being overwritten by joi
  apps/whale-api/src/app.configuration.ts
  apps/whale-api/src/app.module.ts
Labels: kind/fix, area/apps, apps/whale-api

#1514 feat(migrate-getsubgraphswaps): Migrated getsubgraphswaps logic
  apps/legacy-api/__tests__/controllers/PoolPairController.test.ts
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/legacy-api/src/modules/ControllerModule.ts
  apps/legacy-api/src/modules/RootModule.ts
  apps/legacy-api/src/pipes/NetworkValidationPipe.ts
  apps/legacy-api/testing/LegacyStubServer.ts
  apps/libs/caches/src/LegacyCache.ts
  apps/libs/caches/src/index.ts
  apps/package.json
  apps/whale-api/src/module.api/_module.ts
  apps/whale-api/src/module.api/legacy.controller.e2e.ts
  apps/whale-api/src/module.api/legacy.controller.ts
  apps/whale-api/src/module.api/legacy.subgraph.service.ts
  apps/whale-api/src/module.api/stats.controller.ts
Labels: kind/feature, area/apps, apps/legacy-api, apps/whale-api

#1567 Fix PoolPair not found or wrong PoolPair (post split) issue on indexer by using id only
  apps/whale-api/src/module.api/cache/defid.cache.ts
  apps/whale-api/src/module.indexer/model/dftx/_module.ts
  apps/whale-api/src/module.indexer/model/dftx/composite.swap.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.pair.path.mapping.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.ts
Labels: area/apps, apps/whale-api

#1547 fix(apps/whale-api): remove Token & PoolPair indexers and resolve from defid directly
  apps/whale-api/src/module.api/_module.ts
  apps/whale-api/src/module.api/cache/defid.cache.ts
  apps/whale-api/src/module.api/poolpair.controller.e2e.ts
  apps/whale-api/src/module.indexer/model/dftx.indexer.ts
  apps/whale-api/src/module.indexer/model/dftx/_module.ts
  apps/whale-api/src/module.indexer/model/dftx/composite.swap.spec.ts
  apps/whale-api/src/module.indexer/model/dftx/composite.swap.ts
  apps/whale-api/src/module.indexer/model/dftx/create.pool.pair.spec.ts
  apps/whale-api/src/module.indexer/model/dftx/create.pool.pair.ts
  apps/whale-api/src/module.indexer/model/dftx/create.token.spec.ts
  apps/whale-api/src/module.indexer/model/dftx/create.token.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.pair.e2e.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.pair.path.mapping.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.ts
  apps/whale-api/src/module.indexer/model/dftx/set.loan.token.spec.ts
  apps/whale-api/src/module.indexer/model/dftx/set.loan.token.ts
  apps/whale-api/src/module.indexer/model/dftx/update.pool.pair.spec.ts
  apps/whale-api/src/module.indexer/model/dftx/update.pool.pair.ts
  apps/whale-api/src/module.indexer/rpc.block.provider.ts
  apps/whale-api/src/module.model/_module.ts
  apps/whale-api/src/module.model/pool.pair.history.ts
  apps/whale-api/src/module.model/pool.pair.token.ts
  apps/whale-api/src/module.model/token.ts
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
Labels: kind/fix, area/packages, area/apps, apps/whale-api

#1570 fix(whale-indexer): PoolSwapAggregatedIndexer not to index pool pair before its creation height
  apps/whale-api/src/module.indexer/model/dftx/pool.pair.e2e.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.aggregated.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.ts
  packages/whale-api-client/__tests__/api/poolpairs.test.ts
Labels: kind/fix, area/packages, area/apps, apps/whale-api

#1585 refactor(compact-size): rename all existing VarUInt to CompactSize.ts
  packages/jellyfish-block/__tests__/composer/block.test.ts
  packages/jellyfish-block/__tests__/composer/blockHeader.test.ts
  packages/jellyfish-block/__tests__/composer/block_1155173_mainnet.test.ts
  packages/jellyfish-block/__tests__/composer/block_1155561_mainnet.test.ts
  packages/jellyfish-block/__tests__/composer/block_1167209_mainnet.test.ts
  packages/jellyfish-block/__tests__/rpc/blockHeader.test.ts
  packages/jellyfish-block/src/Block.ts
  packages/jellyfish-block/src/BlockHeader.ts
  packages/jellyfish-block/src/index.ts
  packages/jellyfish-buffer/__tests__/composer.test.ts
  packages/jellyfish-buffer/__tests__/varuint.test.ts
  packages/jellyfish-buffer/src/BigNumber.ts
  packages/jellyfish-buffer/src/BitMask.ts
  packages/jellyfish-buffer/src/CompactSize.ts
  packages/jellyfish-buffer/src/Composer.ts
  packages/jellyfish-buffer/src/index.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_account.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_balance.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_governance.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_icxorderbook.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_oracles.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_pool.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_price.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_token.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_vault.ts
  packages/jellyfish-transaction/src/script/mapping.ts
  packages/jellyfish-transaction/src/tx_composer.ts
Labels: kind/refactor, area/packages

#1586 feat(VarInt): add VarInt support using bn.js for bitwise operations
  package-lock.json
  packages/jellyfish-buffer/__tests__/CompactSize.test.ts
  packages/jellyfish-buffer/__tests__/Composer.test.ts
  packages/jellyfish-buffer/__tests__/VarInt.test.ts
  packages/jellyfish-buffer/package.json
  packages/jellyfish-buffer/src/Composer.ts
  packages/jellyfish-buffer/src/VarInt.ts
Labels: kind/feature, area/packages

#1590 chore(whale-api): /stats/burn BurnInfo remapped to BurnData due to upstream standards drift
  .idea/dictionaries/fuxing.xml
  apps/legacy-api/src/controllers/stats/LegacyStatsProvider.ts
  apps/whale-api/src/module.api/stats.controller.ts
  packages/whale-api-client/src/api/stats.ts
Labels: kind/chore, area/packages, area/apps, apps/legacy-api, apps/whale-api

#1580 fix(package): Direct DUSD Burn at `2.9.0`
  apps/legacy-api/__tests__/controllers/StatsController.test.ts
  apps/legacy-api/src/controllers/stats/LegacyStatsProvider.ts
  apps/rich-list-api/docker-compose.yml
  apps/whale-api/docker-compose.yml
  apps/whale-api/src/module.api/stats.controller.ts
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/futureSwap.test.ts
  packages/jellyfish-api-core/__tests__/category/account/getBurnInfo.test.ts
  packages/jellyfish-api-core/__tests__/category/account/withdrawFutureSwap.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/paybackLoan.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_future_swap.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_payback_loan.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
  packages/whale-api-client/__tests__/api/stats.test.ts
  packages/whale-api-client/src/api/stats.ts
Labels: kind/fix, area/packages, area/apps, apps/legacy-api, apps/rich-list-api, apps/whale-api, apps/website

#1569 feat(jellyfish-api-core): add amount format option for listAccountHistory RPC
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/listAccountHistory.test.ts
  packages/jellyfish-api-core/src/category/account.ts
Labels: kind/feature, area/packages, apps/website

#1575 feat(jellyfish-api-core): expose verbose info from getVault RPC
  docs/node/CATEGORIES/17-vault.md
  packages/jellyfish-api-core/__tests__/category/loan/getVault.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/getVault.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/jellyfish-api-core/src/category/vault.ts
Labels: kind/feature, area/packages, apps/website
