Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2022-12, with the labels that each got.

#1863 feat(jellyfish-transaction): Add updatemasternode dftx
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_masternode/UpdateMasterNode.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_masternode.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/packages

#1862 feat(apps/whale-api): Add consortium asset breakdown endpoint
  apps/whale-api/src/module.api/_module.ts
  apps/whale-api/src/module.api/consortium.controller.spec.ts
  apps/whale-api/src/module.api/consortium.controller.ts
  apps/whale-api/src/module.api/consortium.service.ts
  packages/jellyfish-api-core/__tests__/category/token/burnTokens.test.ts
  packages/jellyfish-api-core/__tests__/category/token/mintTokens.test.ts
  packages/jellyfish-api-core/src/category/masternode.ts
  packages/whale-api-client/__tests__/api/consortium.test.ts
  packages/whale-api-client/src/api/consortium.ts
  packages/whale-api-client/src/index.ts
  packages/whale-api-client/src/whale.api.client.ts
Labels: kind/feature, area/packages, area/apps, apps/whale-api

#1851 feat(jellyfish-transaction): add on-chain governance dftx
  packages/jellyfish-api-core/__tests__/category/governance/governance_container.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_createcfp.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_createvoc.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_vote.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_error.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_governance.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_governance/CreateCfp.test.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_governance/CreateVoc.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_governance.ts
Labels: kind/feature, area/packages

#1895 chore(apps/whale-api): add create update resign masternode indexer scenario
  apps/whale-api/src/module.indexer/model/dftx/resign.masternode.spec.ts
  package-lock.json
Labels: kind/chore, area/apps, apps/whale-api

#1896 chore(apps/rich-list-api): remove rich-list app but kept the rich-list-core
  .github/CODEOWNERS
  apps/libs/rootserver/src/index.ts
  apps/nest-cli.json
  apps/package.json
  apps/rich-list-api/README.md
  apps/rich-list-api/__test__/modules/QueueModule.test.ts
  apps/rich-list-api/docker-compose.yml
  apps/rich-list-api/src/index.ts
  apps/rich-list-api/src/modules/ControllerModule.ts
  apps/rich-list-api/src/modules/QueueModule.ts
  apps/rich-list-api/src/modules/RootModule.ts
  package-lock.json
Labels: kind/chore, area/workflow, area/apps, apps/rich-list-api

#1897 chore(packages/jellyfish-wallet-classic): add `Elliptic.random()` test to WalletClassic test suite
  packages/jellyfish-wallet-classic/__tests__/wallet_classic.test.ts
Labels: kind/chore, area/packages

#1878 feat(jellyfish-api-core): add getCustomTx and decodeCustomTx RPCs
  docs/node/CATEGORIES/07-token.md
  packages/jellyfish-api-core/__tests__/category/token/decodeCustomTx.test.ts
  packages/jellyfish-api-core/__tests__/category/token/getCustomTx.test.ts
  packages/jellyfish-api-core/src/category/token.ts
Labels: kind/feature, area/packages, apps/website

#1903 chore(apps/whale-api): add 15 seconds timeout to ModelProbeIndicator.liveness
  apps/whale-api/src/module.model/_model.probes.ts
Labels: kind/chore, area/apps, apps/whale-api

#1907 chore(packages/jellyfish-network): Add network port configuration
  packages/jellyfish-network/src/Network.ts
Labels: kind/chore, area/packages

#1913 feat(playground-api): set gov for OCG
  apps/playground-api/__tests__/modules/PlaygroundModule.test.ts
  apps/playground-api/src/setups/setup.gov.ts
Labels: kind/feature, area/apps, apps/playground-api

#1916 chore(workflow): use renovate.json for github actions bumping
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-labels.yml
  .github/workflows/release-apps.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-ecr.yml
  .github/workflows/release-publish.yml
Labels: kind/chore, area/workflow

#1921 chore(docs): update 11-masternode.md updatemasternode
  docs/node/CATEGORIES/11-masternode.md
Labels: kind/chore, apps/website

#1920 chore(whale-api): optimize UpdateMasternode to run without modifying CreateMasternode
  apps/whale-api/src/module.indexer/model/dftx/create.masternode.spec.ts
  apps/whale-api/src/module.indexer/model/dftx/create.masternode.ts
  apps/whale-api/src/module.indexer/model/dftx/update.masternode.spec.ts
  apps/whale-api/src/module.indexer/model/dftx/update.masternode.ts
  apps/whale-api/src/module.model/masternode.ts
Labels: kind/chore, area/apps, apps/whale-api

#1925 feat(playground-api): set consortium gov attrs in playground
  apps/playground-api/__tests__/modules/PlaygroundModule.test.ts
  apps/playground-api/src/setups/setup.gov.ts
Labels: kind/feature, area/apps, apps/playground-api

#1922 feat(whale-api): whitelist getGovProposal, listGovProposals and listGovProposalVotes
  apps/whale-api/src/module.api/rpc.controller.ts
Labels: kind/feature, area/apps, apps/whale-api

#1790 feat(packages/testcontainers): new `NativeChainContainer` based on `node-testcontainers`
  package-lock.json
  packages/testcontainers/__tests__/containers/NativeChainContainer/Coinbase.test.ts
  packages/testcontainers/__tests__/containers/NativeChainContainer/Masternode.test.ts
  packages/testcontainers/__tests__/containers/NativeChainContainer/NativeChainContainer.test.ts
  packages/testcontainers/__tests__/containers/NativeChainContainer/SPV.test.ts
  packages/testcontainers/package.json
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/NativeChainContainer.ts
  packages/testcontainers/src/containers/NativeChainRpc.ts
  packages/testcontainers/src/containers/NativeChainWaitFor.ts
  packages/testcontainers/src/containers/RegTestContainer/Masternode.ts
  packages/testcontainers/src/containers/RegTestContainer/SPV.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
  packages/testcontainers/src/index.ts
Labels: kind/feature, area/packages

#1944 fix(jellyfish-api-core): Update getGovProposal.test.ts to match 3.2.0 behaviour
  apps/whale-api/docker-compose.yml
  packages/jellyfish-api-core/__tests__/category/governance/getGovProposal.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/NativeChainContainer.ts
Labels: kind/fix, area/packages, area/apps, apps/whale-api
