Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2022-01, with the labels that each got.

#929 feat(ocean-api): add fee estimate to rawtx endpoint
  apps/ocean-api/__tests__/controllers/RawTxController.test.ts
  apps/ocean-api/src/controllers/RawTxController.ts
  apps/ocean-api/src/modules/ControllerModule.ts
  packages/ocean-api-client/src/OceanApiClient.ts
  packages/ocean-api-client/src/apis/RawTx.ts
Labels: kind/feature, area/packages, area/apps

#928 feat(ocean-api): integrate playground with ocean-api
  apps/ocean-api/__tests__/modules/PlaygroundModule.test.ts
  apps/ocean-api/src/modules/PlaygroundModule.ts
  apps/ocean-api/src/modules/RootModule.ts
Labels: kind/feature, area/apps

#893 refactor(packages): not to mint Loan Token for testing
  packages/jellyfish-api-core/__tests__/category/loan/closeVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/depositToVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/listAuctionHistory.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/listVaults.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/placeAuctionBid.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_close_vault.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_place_auction_bid.test.ts
Labels: kind/refactor, area/packages

#981 docs(examples/ocean-dbtc-burning-bot): DFIP 2201-A, an automated wallet bot to burn dBTC
  .eslintrc
  examples/ocean-dbtc-burning-bot/.gitignore
  examples/ocean-dbtc-burning-bot/README.md
  examples/ocean-dbtc-burning-bot/build.js
  examples/ocean-dbtc-burning-bot/package.json
  examples/ocean-dbtc-burning-bot/src/main.ts
  examples/ocean-dbtc-burning-bot/tsconfig.json
Labels: kind/docs, area/examples

#983 chore(apps/ocean-api): should be private as it should not be published into npm
  apps/ocean-api/package.json
Labels: kind/chore, area/apps

#982 docs(examples/ocean-dex-bot): DEX trading bot powered with Ocean API using whale-api-client and whale-api-wallet
  .idea/dictionaries/fuxing.xml
  examples/ocean-dex-bot/.gitignore
  examples/ocean-dex-bot/README.md
  examples/ocean-dex-bot/package.json
  examples/ocean-dex-bot/src/main.ts
  examples/ocean-dex-bot/tsconfig.json
Labels: kind/docs, area/examples

#985 fix(jellyfish-transaction-builder): vault creation fee correction
  packages/jellyfish-api-core/__tests__/category/loan/takeLoan.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_loans.ts
Labels: kind/fix, area/packages

#954 docs(whale-api-client): Token Balances & Vault for `/address/` endpoint
  docs/ocean/REFERENCES/address.mdx
Labels: kind/docs

#1003 feat(jellyfish-network): isSkippedTxId for MainNet & TestNet
  packages/jellyfish-network/__tests__/TransactionSkipper.test.ts
  packages/jellyfish-network/src/TransactionSkipped.ts
  packages/jellyfish-network/src/index.ts
Labels: kind/feature, area/packages

#1015 chore(packages/jellyfish-api-core): Add support for realizedInterestPerBlock
  docs/node/CATEGORIES/16-loan.md
  packages/jellyfish-api-core/__tests__/category/loan/getInterest.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/paybackLoan.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
Labels: kind/chore, area/packages

#947 feat(core): update test & interfaces to support defid:2.6.x
  docs/node/CATEGORIES/16-loan.md
  packages/jellyfish-api-core/__tests__/category/account/getBurnInfo.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/governance_container.ts
  packages/jellyfish-api-core/__tests__/category/loan/getInterest.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/getVault.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/listAuctons.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/paybackLoan.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/placeAuctionBid.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/takeLoan.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/withdrawFromVault.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/listAnchors.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/compositeSwap.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/poolswap.test.ts
  packages/jellyfish-api-core/__tests__/category/poolpair/testpoolswap.test.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/jellyfish-testing/__tests__/poolpair.test.ts
  packages/jellyfish-testing/src/testing.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_dex_compositeswap.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_dex_poolswap.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_payback_loan.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_place_auction_bid.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_take_loan.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_withdraw_from_vault.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/ContainerGroup.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
  packages/testing/__tests__/poolpair.test.ts
Labels: kind/feature, area/packages

#1004 docs(jellyfish-network): add missing method description for isSkippedTxId
  packages/jellyfish-network/src/TransactionSkipped.ts
Labels: kind/docs, area/packages

#1013 chore(jellyfish-address): add test for burn address
  packages/jellyfish-address/__tests__/script/P2PKH.test.ts
Labels: kind/chore, area/packages
