Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2022-03, with the labels that each got.

#1064 chore(apps/legacy-api): legacy-api health check
  apps/legacy-api/__tests__/controllers/ActuatorController.test.ts
  apps/legacy-api/__tests__/controllers/NetworkParamValidation.test.ts
  apps/legacy-api/src/modules/ControllerModule.ts
  apps/legacy-api/src/modules/RootModule.ts
  apps/legacy-api/src/modules/WhaleApiModule.ts
  package-lock.json
Labels: kind/chore, area/apps

#1126 refactor(apps/legacy-api): make blockSubsidy a class variable for perf
  apps/legacy-api/src/controllers/stats/LegacyStatsProvider.ts
Labels: kind/refactor, area/apps

#1090 feat(apps/legacy-api): Legacy API - validateaddress and getgov
  apps/legacy-api/__tests__/controllers/MiscController.test.ts
  apps/legacy-api/src/controllers/MiscController.ts
Labels: kind/feature, area/apps

#1127 fix(docker): don't need to specify ${APP} twice in RUN ln due to nest-apps mono repo design update
  Dockerfile
Labels: kind/fix

#1125 feat(apps/legacy-api): stats jsonpath query param
  apps/legacy-api/__tests__/controllers/StatsController.test.ts
  apps/legacy-api/src/controllers/stats/LegacyStatsProvider.ts
  apps/legacy-api/src/controllers/stats/StatsController.ts
  apps/package.json
  package-lock.json
Labels: kind/feature, area/apps

#1115 feat(apps/legacy-api): listyieldfarming
  apps/legacy-api/__tests__/controllers/PoolPairController.test.ts
  apps/legacy-api/src/controllers/PoolPairController.ts
Labels: kind/feature, area/apps

#1129 chore(apps/legacy-api): set content-type header depending on stats type
  apps/legacy-api/__tests__/controllers/StatsController.test.ts
  apps/legacy-api/src/controllers/stats/LegacyStatsProvider.ts
  apps/legacy-api/src/controllers/stats/StatsController.ts
Labels: kind/chore, area/apps

#1131 chore(docs/legacy-api): move dex api docs into jellyfish
  docs/legacy/01-endpoints.md
  website/docusaurus.config.js
Labels: kind/chore

#1132 refactor(jellyfish-api-core): move `removePoolLiquidity` test to `poolpair`
  packages/jellyfish-api-core/__tests__/category/poolpair/removePoolLiquidity.test.ts
Labels: kind/refactor, area/packages

#1141 chore(testcontainers): export `waitForCondition`
  packages/testcontainers/src/index.ts
Labels: kind/chore, area/packages

#1144 chore(workflow): update CODEOWNERS to reflect recent participation
  .github/CODEOWNERS
Labels: kind/chore, area/workflow

#1143 refactor(apps): Refactor `BlockchainCppModule` for loading config
  apps/libs/actuator/src/index.ts
  apps/libs/blockchaincpp/src/BlockchainCppModule.ts
  apps/libs/blockchaincpp/src/index.ts
  apps/libs/blockchaincpp/tsconfig.lib.json
  apps/ocean-api/src/modules/RootModule.ts
  apps/rich-list-api/src/modules/RootModule.ts
Labels: kind/refactor, area/apps

#1149 refactor(apps/libs/filters): sharable filters for apps
  apps/libs/filters/src/ErrorFilter.ts
  apps/libs/filters/src/GlobalValidationPipe.ts
  apps/libs/filters/src/ResponseInterceptor.ts
  apps/libs/filters/src/index.ts
  apps/libs/filters/tsconfig.lib.json
  apps/nest-cli.json
  apps/ocean-api/src/modules/ControllerModule.ts
  apps/rich-list-api/src/controllers/filters/ErrorFilter.ts
  apps/rich-list-api/src/controllers/filters/GlobalValidationPipe.ts
  apps/rich-list-api/src/controllers/filters/ResponseInterceptor.ts
  apps/rich-list-api/src/modules/ControllerModule.ts
Labels: kind/refactor, area/apps

#1092 feat(apps): add apps release workflow
  .github/scripts/release-report.js
  .github/scripts/release-tags.js
  .github/workflows/release-apps.yml
  .github/workflows/release-publish.yml
Labels: kind/feature, area/workflow

#1147 chore(apps/legacy-api): add /stats documentation
  docs/legacy/01-endpoints.md
Labels: kind/chore

#1154 fix(workflow): remove app release if check
  .github/workflows/release-apps.yml
Labels: kind/fix, area/workflow

#1153 feat(workflow): add playground-api
  .github/workflows/release-apps.yml
Labels: kind/feature, area/workflow

#1164 fix(workflow): container link should not include `https://`
  .github/scripts/release-report.js
Labels: kind/fix, area/workflow

#1165 feat(workflow): skip container builds for dependabot PRs
  .github/workflows/release-apps.yml
Labels: kind/feature, area/workflow

#1174 fix(apps): add missing `PlaygroundRpcClient`
  apps/playground-api/__tests__/controllers/RpcController.test.ts
  apps/playground-api/src/Fastify.ts
  apps/playground-api/src/index.ts
  apps/playground-api/testing/PlaygroundStubServer.ts
  packages/playground-api-client/__tests__/PlaygroundRpcClient.test.ts
  packages/playground-api-client/src/PlaygroundRpcClient.ts
Labels: kind/fix, area/packages, area/apps

#1148 feat(apps/legacy-api): getsubgraphswaps
  apps/legacy-api/__tests__/controllers/PoolPairController.test.ts
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/legacy-api/src/index.ts
Labels: kind/feature, area/apps

#1177 fix(apps): expose pg rpc client
  packages/playground-api-client/src/index.ts
Labels: kind/fix, area/packages

#1178 fix(apps/legacy/getsubgraphswaps): iterator next token
  apps/legacy-api/src/controllers/PoolPairController.ts
Labels: kind/fix, area/apps

#1181 fix(workflows/release-apps): all platforms must be present for release builds otherwise it will conflict
  .github/scripts/release-report.js
  .github/workflows/release-apps.yml
Labels: kind/fix, area/workflow

#1182 docs(apps/ocean): Add List Pool Swaps API docs
  docs/ocean/REFERENCES/poolpairs.mdx
Labels: kind/docs

#1193 chore(tsconfig): add `lib: ["dom"]` globally in tsconfig.base.json
  tsconfig.base.json
Labels: kind/chore

#1192 chore(apps/legacy-api): LegacyStatsProvider.getBurnInfo to use `this.api.stats.getBurn` instead
  apps/legacy-api/src/controllers/stats/LegacyStatsProvider.ts
  apps/package.json
  package-lock.json
Labels: kind/chore, area/apps

#1194 fix(legacy-api): burn info after RPC migration
  apps/legacy-api/src/controllers/stats/LegacyStatsProvider.ts
Labels: kind/fix, area/apps

#1166 feat(whale): migrate `packages/whale-api-client`
  jest.config.js
  package-lock.json
  packages/ocean-api-client/src/index.ts
  packages/whale-api-client/__tests__/WhaleApiClient.test.ts
  packages/whale-api-client/package.json
  packages/whale-api-client/src/Version.ts
  packages/whale-api-client/src/WhaleApiClient.ts
  packages/whale-api-client/src/WhaleRpcClient.ts
  packages/whale-api-client/src/api/Address.ts
  packages/whale-api-client/src/api/Blocks.ts
  packages/whale-api-client/src/api/Fee.ts
  packages/whale-api-client/src/api/Loan.ts
  packages/whale-api-client/src/api/MasterNodes.ts
  packages/whale-api-client/src/api/Oracles.ts
  packages/whale-api-client/src/api/PoolPairs.ts
  packages/whale-api-client/src/api/Prices.ts
  packages/whale-api-client/src/api/RawTx.ts
  packages/whale-api-client/src/api/Rpc.ts
  packages/whale-api-client/src/api/Stats.ts
  packages/whale-api-client/src/api/Tokens.ts
  packages/whale-api-client/src/api/Transactions.ts
  packages/whale-api-client/src/index.ts
  packages/whale-api-client/tsconfig.build.json
Labels: kind/feature, area/packages

#1198 chore(packages): txn builder composite swap max price testing
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_dex_compositeswap.test.ts
Labels: kind/chore, area/packages

#1167 feat(whale): migrate `packages/whale-api-wallet`
  packages/whale-api-wallet/README.md
  packages/whale-api-wallet/package.json
  packages/whale-api-wallet/src/FeeRate.ts
  packages/whale-api-wallet/src/Prevout.ts
  packages/whale-api-wallet/src/Wallet.ts
  packages/whale-api-wallet/src/index.ts
  packages/whale-api-wallet/tsconfig.build.json
Labels: kind/feature, area/packages

#1170 feat(legacy-api): update `whale-api-client` imports
  apps/legacy-api/__tests__/controllers/PoolPairController.test.ts
  apps/legacy-api/__tests__/controllers/TokenController.test.ts
  apps/legacy-api/src/controllers/MiscController.ts
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/legacy-api/src/controllers/TokenController.ts
  apps/legacy-api/src/controllers/stats/LegacyStatsProvider.ts
  apps/package.json
  package-lock.json
Labels: kind/feature, area/apps

#1211 chore(dependencies): remove eslint in `apps/package.json`
  apps/package.json
  package-lock.json
Labels: kind/chore, area/apps

#1222 feat(packages/jellyfish-wallet): expose deriveNode and derivePath to allow better abstraction of Wallet
  packages/jellyfish-wallet/__tests__/wallet.test.ts
  packages/jellyfish-wallet/src/wallet.ts
Labels: kind/feature, area/packages

#1226 chore(apps/playground-api): allow use of BLOCKCHAIN_CPP_URL with fallback to PLAYGROUND_DEFID_URL
  apps/playground-api/src/AppConfiguration.ts
Labels: kind/chore, area/apps

#1230 chore(website): fix docusaurus failed build due to deprecation
  website/docusaurus.config.js
Labels: kind/chore

#1238 fix(apps/legacy-api): listswaps endpoint returning quote and base swapped
  apps/legacy-api/__tests__/controllers/PoolPairController.test.ts
  apps/legacy-api/src/controllers/PoolPairController.ts
  apps/legacy-api/src/modules/ControllerModule.ts
Labels: kind/fix, area/apps

#1240 docs(apps/legacy-api): 02-dex.mdx add corrected `/v2/listswaps` note
  .idea/dictionaries/fuxing.xml
  docs/legacy/02-dex.mdx
Labels: kind/docs

#1225 feat(packages/jellyfish-wallet-mnemonic): validate 24 words optionally
  packages/jellyfish-wallet-mnemonic/__tests__/bip32.test.ts
  packages/jellyfish-wallet-mnemonic/src/hd_node.ts
Labels: kind/feature, area/packages

#1221 refactor(packages/jellyfish-wallet): replace deprecated DeFiAddress.from() in WalletAccount
  packages/jellyfish-wallet/src/wallet_account.ts
Labels: kind/refactor, area/packages

#1241 chore(whale-api-client): update from latest whale changes
  packages/whale-api-client/src/api/PoolPairs.ts
  packages/whale-api-client/src/api/Prices.ts
Labels: kind/chore, area/packages

#1176 refactor(apps): abstract root server
  apps/libs/rootserver/src/index.ts
  apps/ocean-api/src/index.ts
  apps/ocean-api/testing/OceanStubServer.ts
  apps/playground-api/src/index.ts
  apps/playground-api/testing/PlaygroundStubServer.ts
  apps/rich-list-api/src/index.ts
Labels: kind/refactor, area/apps

#1255 chore(apps/legacy-api): use rootserver for DRYness
  apps/legacy-api/src/index.ts
  apps/legacy-api/testing/LegacyStubServer.ts
Labels: kind/chore, area/apps

#1259 chore(apps/whale): exclude tests from build and change 'whale-api' references to just 'whale'
  .github/CODEOWNERS
  apps/nest-cli.json
  apps/package.json
  apps/tsconfig.json
Labels: kind/chore, area/workflow, area/apps

#1191 fix(jellyfish-api-core): Fix number of totalAuctions in getloaninfo RPC Ain#1124
  packages/jellyfish-api-core/__tests__/category/loan/getLoanInfo.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
Labels: kind/fix, area/packages

#1072 feat(jellyfish-api-core): add account pagination txn for listAccountHistory RPC
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/listAccountHistory.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
Labels: kind/feature, area/packages

#1282 chore(apps/legacy-api): simple LoggingInterceptor to log production errors
  apps/legacy-api/src/modules/LoggingModule.ts
  apps/legacy-api/src/modules/RootModule.ts
Labels: kind/chore, area/apps

#1283 bump(apps): bump all @nestjs and related dependencies
  .github/dependabot.yml
  .idea/dictionaries/fuxing.xml
  apps/package.json
  package-lock.json
Labels: kind/dependencies, area/workflow, area/apps

#1285 fix(apps/legacy-api): race condition fix in findPoolSwapDfTx when `vouts[0]` cannot be found
  apps/legacy-api/src/controllers/PoolPairController.ts
Labels: kind/fix, area/apps

#1190 feat(jellyfish-api-core): DFI Payback of all dTokens
  apps/rich-list-api/docker-compose.yml
  docs/node/CATEGORIES/08-account.md
  docs/node/CATEGORIES/16-loan.md
  packages/jellyfish-api-core/__tests__/category/account/getBurnInfo.test.ts
  packages/jellyfish-api-core/__tests__/category/governance/governance_container.ts
  packages/jellyfish-api-core/__tests__/category/loan/paybackLoan.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/takeLoan.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/jellyfish-api-core/src/category/loan.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_payback_loan.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_take_loan.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_withdraw_from_vault.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_loans.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_loans.ts
  packages/jellyfish-transaction/src/script/mapping.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
Labels: kind/feature, area/packages, area/apps

#1299 feat(apps/playground): setgov for enabling payback to all tokens
  apps/playground-api/__tests__/modules/PlaygroundModule.test.ts
  apps/playground-api/src/setups/setup.gov.ts
  apps/playground-api/src/setups/setup.loan.token.ts
Labels: kind/feature, area/apps

#1300 chore(whale): add build support
  apps/nest-cli.json
  apps/tsconfig.json
  apps/whale/docker-compose.yml
  apps/whale/src/index.ts
  apps/whale/src/module.api/address.controller.ts
  apps/whale/src/module.api/cache/defid.cache.spec.ts
  apps/whale/src/module.api/cache/defid.cache.ts
  apps/whale/src/module.api/fee.controller.ts
  apps/whale/src/module.api/loan.auction.history.e2e.ts
  apps/whale/src/module.api/loan.controller.ts
  apps/whale/src/module.api/loan.vault.controller.e2e.ts
  apps/whale/src/module.api/loan.vault.service.ts
  apps/whale/src/module.api/masternode.controller.e2e.ts
  apps/whale/src/module.api/masternode.controller.ts
  apps/whale/src/module.api/masternode.service.ts
  apps/whale/src/module.api/poolpair.controller.ts
  apps/whale/src/module.api/poolpair.service.ts
  apps/whale/src/module.api/price.controller.ts
  apps/whale/src/module.api/stats.controller.ts
  apps/whale/src/module.api/token.controller.ts
  apps/whale/src/module.indexer/model/dftx.indexer.ts
  apps/whale/src/module.indexer/model/dftx/create.masternode.spec.ts
  apps/whale/src/module.indexer/model/dftx/place.auction.bid.ts
  apps/whale/src/module.indexer/rpc.block.provider.ts
  jest.config.js
  tsconfig.json
Labels: kind/chore, area/apps
