Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2023-01, with the labels that each got.

#1933 chore(packages/jellyfish-transaction-builder): Add more tests to createcfp
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_governance_createcfp.test.ts
Labels: kind/chore, area/packages

#1949 feat(jellyfish-api-core): update getBurnInfo and burnTokens RPC
  docs/node/CATEGORIES/07-token.md
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/token/burnTokens.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/jellyfish-api-core/src/category/token.ts
Labels: kind/feature, area/packages, apps/website

#1796 feat(jellyfish-api-core): add blockchain `getMempoolDescendants` RPC
  docs/node/CATEGORIES/01-blockchain.md
  packages/jellyfish-api-core/__tests__/category/blockchain/getMempoolDescendants.test.ts
  packages/jellyfish-api-core/src/category/blockchain.ts
Labels: kind/feature, area/packages, apps/website

#1908 fix(jellyfish-api-core): Update listGovProposalVotes arguments
  docs/node/CATEGORIES/12-governance.md
  packages/jellyfish-api-core/__tests__/category/governance/listGovProposalVotes.test.ts
  packages/jellyfish-api-core/src/category/governance.ts
Labels: kind/fix, area/packages, apps/website

#1934 feat(jellyfish-api-core): add signMessage RPC
  docs/node/CATEGORIES/05-wallet.md
  packages/jellyfish-api-core/__tests__/category/wallet/signMessage.test.ts
  packages/jellyfish-api-core/src/category/wallet.ts
Labels: kind/feature, area/packages, apps/website

#1954 fix(jellyfish-api-core): update listGovProposals rpc to accept cycle and pagination
  docs/node/CATEGORIES/12-governance.md
  packages/jellyfish-api-core/__tests__/category/governance/listGovProposals.test.ts
  packages/jellyfish-api-core/src/category/governance.ts
Labels: kind/fix, area/packages, apps/website

#1905 feat(jellyfish-api-core): add verifyMessage and signMessageWithPrivKey RPCs
  docs/node/CATEGORIES/13-misc.md
  packages/jellyfish-api-core/__tests__/category/misc/signMessageWithPrivKey.test.ts
  packages/jellyfish-api-core/__tests__/category/misc/verifyMessage.test.ts
  packages/jellyfish-api-core/src/category/misc.ts
Labels: kind/feature, area/packages, apps/website

#1971 chore(workflows): cleanup CODEOWNERS
  .github/CODEOWNERS
  .idea/dictionaries/fuxing.xml
Labels: kind/chore, area/workflow

#1958 feat(poolpair): add updatepoolpair function
  docs/node/CATEGORIES/06-poolpair.md
  packages/jellyfish-api-core/__tests__/category/poolpair/updatePoolPair.test.ts
  packages/jellyfish-api-core/src/category/poolpair.ts
Labels: kind/feature, area/packages, apps/website

#1963 feat(rawtx): add decodeRawTransaction function
  docs/node/CATEGORIES/04-rawtx.md
  packages/jellyfish-api-core/__tests__/category/rawtx/decodeRawTransaction.test.ts
  packages/jellyfish-api-core/src/category/rawtx.ts
Labels: kind/feature, area/packages, apps/website

#1894 feat(jellyfish-transaction-builder): Add updatemasternode transaction builder
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_masternode_update.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_masternode.ts
Labels: kind/feature, area/packages

#1965 feat(jellyfish-api-core): Mint tokens to any address
  apps/playground-api/src/setups/setup.loan.token.ts
  apps/whale-api/src/module.api/consortium.controller.spec.ts
  packages/jellyfish-api-core/__tests__/category/token/burnTokens.test.ts
  packages/jellyfish-api-core/__tests__/category/token/mintTokens.test.ts
  packages/jellyfish-api-core/src/category/token.ts
  packages/jellyfish-testing/src/token.ts
  packages/testcontainers/src/containers/NativeChainContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
  packages/whale-api-client/__tests__/api/consortium.test.ts
Labels: kind/feature, area/packages, area/apps, apps/playground-api, apps/whale-api

#1929 feat(jellyfish-transaction): add burn token in dftx
  apps/playground-api/src/setups/setup.gov.ts
  packages/jellyfish-testing/src/token.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_token_burn_token.test.ts
  packages/jellyfish-transaction-builder/src/index.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_token.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_token/TokenBurn.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_token.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/packages, area/apps, apps/playground-api

#1979 feat(jellyfish-network): Add devnet network
  packages/jellyfish-network/__tests__/Network.test.ts
  packages/jellyfish-network/src/Network.ts
Labels: kind/feature, area/packages

#1978 feat(pathfinding): always return the highest yield
  apps/whale-api/src/module.api/poolpair.controller.e2e.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
Labels: kind/feature, area/apps, apps/whale-api

#1985 chore(apps/ocean-api): removing ocean-api to save CI time
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/ci.yml
  .github/workflows/release-apps.yml
  .github/workflows/release-ecr.yml
  apps/ocean-api/README.md
  apps/ocean-api/__tests__/controllers/ActuatorController.test.ts
  apps/ocean-api/__tests__/controllers/RawTxController.test.ts
  apps/ocean-api/__tests__/modules/PlaygroundModule.test.ts
  apps/ocean-api/src/controllers/RawTxController.ts
  apps/ocean-api/src/index.ts
  apps/ocean-api/src/modules/ControllerModule.ts
  apps/ocean-api/src/modules/PlaygroundModule.ts
  apps/ocean-api/src/modules/RootModule.ts
  apps/ocean-api/testing/OceanApiTesting.ts
  apps/ocean-api/testing/OceanStubClient.ts
  apps/ocean-api/testing/OceanStubServer.ts
  apps/package.json
  package-lock.json
  packages/ocean-api-client/src/OceanApiClient.ts
  packages/ocean-api-client/src/apis/RawTx.ts
Labels: kind/chore, area/workflow, area/packages, area/apps, apps/ocean-api

#1974 feat(jellyfish-api-core): add deriveAddresses function
  docs/node/CATEGORIES/13-misc.md
  packages/jellyfish-api-core/__tests__/category/misc/deriveAddresses.test.ts
  packages/jellyfish-api-core/src/category/misc.ts
Labels: kind/feature, area/packages, apps/website

#1923 feat(jellyfish-api-core): Add index based pagination support to `listaccounthistory` RPC
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/listAccountHistory.test.ts
  packages/jellyfish-api-core/src/category/account.ts
Labels: kind/feature, area/packages, apps/website

#1990 feat(apps/whale-api): revert "feat(apps/whale-api): always return the highest yield"
  apps/whale-api/src/module.api/poolpair.controller.e2e.ts
  apps/whale-api/src/module.api/poolswap.pathfinding.service.ts
Labels: kind/feature, area/apps, apps/whale-api

#1991 fix(jellyfish-network): add missing devnet case
  apps/legacy-api/src/pipes/NetworkValidationPipe.ts
  packages/jellyfish-network/__tests__/Network.test.ts
  packages/jellyfish-network/src/Network.ts
  packages/ocean-api-client/src/OceanApiClient.ts
Labels: kind/fix, area/packages, area/apps, apps/legacy-api

#1943 feat(jellyfish-api-core): Add multi-txtype, multi-address query support for `accounthistorycount` RPC
  docs/node/CATEGORIES/08-account.md
  packages/jellyfish-api-core/__tests__/category/account/accountHistoryCount.test.ts
  packages/jellyfish-api-core/src/category/account.ts
Labels: kind/feature, area/packages, apps/website

#1959 chore(playground-api): generate blocks using random masternode addresses
  apps/playground-api/__tests__/PlaygroundBlock.test.ts
  apps/playground-api/src/PlaygroundBlock.ts
  apps/playground-api/src/setups/setup.ts
  apps/whale-api/docker-compose.yml
Labels: kind/chore, area/apps, apps/playground-api, apps/whale-api

#1992 chore(ocean-api-client): remove deprecated RawTx.ts
  packages/ocean-api-client/src/apis/RawTx.ts
  packages/ocean-api-client/src/index.ts
Labels: kind/chore, area/packages

#1970 feat(whale-api): add GET api for on-chain governance
  apps/whale-api/src/module.api/_module.ts
  apps/whale-api/src/module.api/governance.controller.e2e.ts
  apps/whale-api/src/module.api/governance.controller.ts
  apps/whale-api/src/module.api/governance.service.ts
  apps/whale-api/src/module.api/pipes/api.validation.pipe.ts
  packages/jellyfish-api-core/src/category/governance.ts
  packages/whale-api-client/__tests__/api/governance.test.ts
  packages/whale-api-client/src/api/governance.ts
  packages/whale-api-client/src/index.ts
  packages/whale-api-client/src/whale.api.client.ts
Labels: kind/feature, area/packages, area/apps, apps/whale-api

#1972 feat(apps/whale-api): add new endpoint to expose mint limits and minted amount per member
  apps/whale-api/src/module.api/consortium.controller.spec.ts
  apps/whale-api/src/module.api/consortium.controller.ts
  apps/whale-api/src/module.api/consortium.service.ts
  packages/whale-api-client/__tests__/api/consortium.test.ts
  packages/whale-api-client/src/api/consortium.ts
Labels: kind/feature, area/packages, area/apps, apps/whale-api

#1981 feat(apps/playground-api): change owner address of consortium in pg
  apps/playground-api/__tests__/modules/PlaygroundModule.test.ts
  apps/playground-api/src/ConsortiumKey.ts
  apps/playground-api/src/setups/setup.gov.ts
Labels: kind/feature, area/apps, apps/playground-api

#2001 fix(whale-api-client): fixed listProposalVotes pagination api
  apps/whale-api/src/module.api/governance.service.ts
  packages/whale-api-client/__tests__/api/governance.test.ts
Labels: kind/fix, area/packages, area/apps, apps/whale-api

#1997 chore(packages/jellyfish-api-core): fix descendants test flakiness with a deterministic setup
  packages/jellyfish-api-core/__tests__/category/blockchain/getMempoolDescendants.test.ts
Labels: kind/chore, area/packages

#1772 chore(apps/whale-api): fix test flakiness by using "addressC" to generate "addressB" UTXO
  apps/whale-api/src/module.api/address.controller.e2e.ts
Labels: kind/chore, area/apps, apps/whale-api

#1999 chore(apps/playground-api): fix flakiness in WalletController.test.ts by using `waitForExpect`
  apps/playground-api/__tests__/controllers/WalletController.test.ts
Labels: kind/chore, area/apps, apps/playground-api

#2004 feat(jellyfish-transaction): add mint token in dftx and txn builder
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_token_burn_token.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_token_mint_token.test.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_token.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_token/TokenMint.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_token.ts
Labels: kind/feature, area/packages

#1998 chore(packages/jellyfish-wallet-encrypted): use simple `hardTime > easyTime` condition to reduce test flakiness
  packages/jellyfish-wallet-encrypted/__tests__/scrypt.test.ts
Labels: kind/chore, area/packages
