Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2023-09, with the labels that each got.

#2147 chore(whale-api): bump node to beta11
  apps/whale-api/docker-compose.yml
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/NativeChainContainer.ts
Labels: kind/chore, area/packages, area/apps, apps/whale-api

#2148 fix(whale-api): skip null txid used by evmtx
  apps/whale-api/src/module.indexer/helper.ts
  apps/whale-api/src/module.indexer/model/script.activity.ts
  apps/whale-api/src/module.indexer/model/script.aggregation.ts
  apps/whale-api/src/module.indexer/model/script.unspent.ts
  apps/whale-api/src/module.indexer/model/transaction.vin.ts
Labels: kind/fix, area/apps, apps/whale-api

#2149 chore(tests): regression fix for `master-b352814976`
  .github/workflows/ci.yml
  .github/workflows/release-publish.yml
  .gitignore
  Dockerfile
  apps/whale-api/docker-compose.yml
  apps/whale-api/src/module.api/address.controller.e2e.ts
  apps/whale-api/src/module.api/address.controller.spec.ts
  apps/whale-api/src/module.indexer/helper.ts
  contracts/TransferDomain.sol
  hardhat.config.js
  package-lock.json
  package.json
  packages/jellyfish-api-core/__tests__/category/account/transferDomain.test.ts
  packages/jellyfish-api-core/src/category/wallet.ts
  packages/jellyfish-transaction-builder/__tests__/provider.mock.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_transfer_domain.test.ts
  packages/jellyfish-transaction-builder/package.json
  packages/jellyfish-transaction-builder/src/provider.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_account.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_account/TransferDomain.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_account.ts
  packages/jellyfish-transaction/src/script/mapping.ts
  packages/testcontainers/__tests__/index.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/MainNetContainer.ts
  packages/testcontainers/src/containers/NativeChainContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
  packages/testcontainers/src/containers/TestNetContainer.ts
  packages/whale-api-client/src/whale.api.client.ts
Labels: kind/chore, area/workflow, area/packages, area/apps, apps/whale-api

#2151 fix(whale-api): skip evmtx vin
  apps/whale-api/src/module.indexer/model/transaction.vin.ts
Labels: kind/fix, area/apps, apps/whale-api

#2157 feat(jellyfish-address, jellyfish-wallet): add eth.fromScript
  packages/jellyfish-address/__tests__/eth.test.ts
  packages/jellyfish-address/src/eth.ts
  packages/jellyfish-transaction-builder/__tests__/provider.mock.ts
  packages/jellyfish-transaction-builder/src/provider.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_account.ts
  packages/jellyfish-wallet/src/wallet_account.ts
Labels: kind/feature, area/packages

#2158 chore(jellyfish-transaction-builder): add interface on the same package
  packages/jellyfish-transaction-builder/__tests__/provider.mock.ts
  packages/jellyfish-transaction-builder/src/provider.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder.ts
  packages/jellyfish-transaction-builder/src/txn/txn_builder_account.ts
Labels: kind/chore, area/packages
