Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2023-08, with the labels that each got.

#2133 feat(jellyfish-wallet-encrypted, jellyfish-wallet-mnemonic): add public key uncompressed
  packages/jellyfish-crypto/src/eth.ts
  packages/jellyfish-wallet-encrypted/__tests__/bip32.test.ts
  packages/jellyfish-wallet-encrypted/src/hd_node.ts
  packages/jellyfish-wallet-mnemonic/src/hd_node.ts
Labels: kind/feature, area/packages

#2134 feat(jellyfish-crypto): add fromAddress to convert eth address into script
  packages/jellyfish-address/__tests__/eth.test.ts
  packages/jellyfish-address/src/eth.ts
  packages/jellyfish-address/src/index.ts
Labels: kind/feature, area/packages

#2137 feat(whale-api-client): Add format for fields in BurnData
  packages/whale-api-client/src/api/stats.ts
Labels: kind/feature, area/packages

#2139 feat(jellyfish-transaction-builder): Fix fees in createVOC
  packages/jellyfish-transaction-builder/src/txn/txn_builder_governance.ts
Labels: kind/feature, area/packages

#2142 chore(): regression fix for `4.0.0-beta10-ocean`
  apps/playground-api/__tests__/modules/PlaygroundModule.test.ts
  apps/playground-api/src/setups/setup.gov.ts
  apps/whale-api/__sanity__/WhaleSanityContainer.sanity.ts
  apps/whale-api/docker-compose.yml
  packages/jellyfish-api-core/__tests__/category/account/getTokenBalances.test.ts
  packages/jellyfish-api-core/__tests__/category/account/transferDomain.test.ts
  packages/jellyfish-api-core/__tests__/category/evm/evmTx.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/setLoanToken.test.ts
  packages/jellyfish-api-core/__tests__/category/loan/updateLoanToken.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_transfer_domain.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_set_loan_token.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_loan_update_loan_token.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/varint_gt_128.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/NativeChainContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
Labels: kind/chore, area/packages, area/apps, apps/playground-api, apps/whale-api

#2143 feat(jellyfish-network): add changi
  apps/legacy-api/src/pipes/NetworkValidationPipe.ts
  apps/whale-api/src/app.configuration.ts
  apps/whale-api/src/module.api/masternode.service.ts
  packages/jellyfish-network/__tests__/BitcoinJsLib.test.ts
  packages/jellyfish-network/__tests__/Network.test.ts
  packages/jellyfish-network/src/Network.ts
  packages/ocean-api-client/src/OceanApiClient.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/NativeChainContainer.ts
Labels: kind/feature, area/packages, area/apps, apps/legacy-api, apps/whale-api

#2141 feat(playground-api): add MATIC token in playground
  apps/playground-api/__tests__/bots/OracleBot.test.ts
  apps/playground-api/__tests__/modules/PlaygroundModule.test.ts
  apps/playground-api/src/bots/OracleBot.ts
  apps/playground-api/src/setups/setup.dex.ts
  apps/playground-api/src/setups/setup.gov.ts
  apps/playground-api/src/setups/setup.loan.collateral.ts
  apps/playground-api/src/setups/setup.oracle.ts
  apps/playground-api/src/setups/setup.token.ts
Labels: kind/feature, area/apps, apps/playground-api

#2146 chore(ops): update semver checks to package
  .github/scripts/release-ecr-tags.js
  .github/scripts/release-tags.js
  .github/workflows/release-apps.yml
  .github/workflows/release-ecr.yml
  .github/workflows/release-publish.yml
  package-lock.json
  package.json
Labels: kind/chore, area/workflow

#2145 feat(test): transfer domain for LP tokens
  packages/jellyfish-api-core/__tests__/category/account/transferDomain.test.ts
Labels: kind/feature, area/packages

#2138 feat(jellyfish-api-core): enable transferdomain gov attributes
  apps/playground-api/__tests__/modules/PlaygroundModule.test.ts
  apps/playground-api/src/setups/setup.gov.ts
  apps/whale-api/docker-compose.yml
  packages/jellyfish-api-core/__tests__/category/account/getTokenBalances.test.ts
  packages/jellyfish-api-core/__tests__/category/account/transferDomain.test.ts
  packages/jellyfish-api-core/__tests__/category/evm/evmTx.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_account_transfer_domain.test.ts
Labels: kind/feature, area/packages, area/apps, apps/playground-api, apps/whale-api

#2144 feat(whale-api): whitelist vmmap
  apps/whale-api/src/module.api/rpc.controller.ts
Labels: kind/feature, area/apps, apps/whale-api
