Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2023-06, with the labels that each got.

#2092 feat(jellyfish-api-core, jellyfish-transaction): added TransferDomain
  .idea/dictionaries/fuxing.xml
  apps/playground-api/__tests__/modules/PlaygroundModule.test.ts
  apps/playground-api/src/controllers/WalletController.ts
  apps/playground-api/src/setups/setup.gov.ts
  apps/whale-api/docker-compose.yml
  docs/node/CATEGORIES/05-wallet.md
  docs/node/CATEGORIES/08-account.md
  package-lock.json
  packages/jellyfish-api-core/__tests__/category/account/getTokenBalances.test.ts
  packages/jellyfish-api-core/__tests__/category/account/transferDomain.test.ts
  packages/jellyfish-api-core/__tests__/category/wallet/getNewAddress.test.ts
  packages/jellyfish-api-core/src/category/account.ts
  packages/jellyfish-api-core/src/category/wallet.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_account/TransferDomain.test.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_account.ts
  packages/jellyfish-transaction/src/script/mapping.ts
  packages/testcontainers/__tests__/containers/RegTestContainer/index.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/NativeChainContainer.ts
  packages/testcontainers/src/containers/NativeChainRpc.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
Labels: kind/feature, area/packages, area/apps, apps/playground-api, apps/whale-api, apps/website

#2107 chore(ops): update testcontainers
  .idea/dictionaries/fuxing.xml
  apps/package.json
  apps/whale-api/docker-compose.yml
  package-lock.json
  packages/testcontainers/package.json
  packages/testcontainers/src/containers/AppContainer/PlaygroundApiContainer.ts
  packages/testcontainers/src/containers/AppContainer/WhaleApiContainer.ts
  packages/testcontainers/src/containers/NativeChainContainer.ts
Labels: kind/chore, area/packages, area/apps, apps/whale-api

#2109 feat(jellyfish-json): add support for bigint stringify
  packages/jellyfish-json/__tests__/index.test.ts
  packages/jellyfish-json/src/index.ts
Labels: kind/feature, area/packages

#2099 feat(jellyfish-api-core, jellyfish-transaction): add evmTx
  docs/node/CATEGORIES/18-evm.md
  packages/jellyfish-api-core/__tests__/category/evm/evmTx.test.ts
  packages/jellyfish-api-core/src/category/evm.ts
  packages/jellyfish-api-core/src/index.ts
  packages/jellyfish-transaction/__tests__/script/dftx/dftx_evm/EvmTx.test.ts
  packages/jellyfish-transaction/__tests__/script/mapping.test.ts
  packages/jellyfish-transaction/src/script/crypto.ts
  packages/jellyfish-transaction/src/script/dftx/dftx.ts
  packages/jellyfish-transaction/src/script/dftx/dftx_evmtx.ts
  packages/jellyfish-transaction/src/script/dftx/index.ts
  packages/jellyfish-transaction/src/script/mapping.ts
Labels: kind/feature, area/packages, apps/website

#2108 chore(ops): updated node to v4.0.0-beta4
  apps/playground-api/__tests__/modules/PlaygroundModule.test.ts
  apps/playground-api/src/setups/setup.gov.ts
  apps/whale-api/docker-compose.yml
  packages/jellyfish-api-core/__tests__/category/account/getTokenBalances.test.ts
  packages/jellyfish-api-core/__tests__/category/account/transferDomain.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/claimDFCHTLC.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/closeOffer.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/closeOrder.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/complexTests.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/createOrder.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/getOrder.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/icx_setup.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/listHTLCs.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/listOrders.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/makeOffer.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/submitDFCHTLC.test.ts
  packages/jellyfish-api-core/__tests__/category/icxorderbook/submitExtHTLC.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/updatemasternode.test.ts
  packages/jellyfish-testing/__tests__/icxorderbook.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_claim_dfc_htlc.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_icx_close_offer.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_icx_close_order.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_icx_create_order.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_icx_make_offer.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_submit_dfc_htlc.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/txn_builder_submit_ext_htlc.test.ts
  packages/jellyfish-transaction-builder/__tests__/txn/varint_gt_128.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/NativeChainContainer.ts
Labels: kind/chore, area/packages, area/apps, apps/playground-api, apps/whale-api
