Repository BirthdayResearch/jellyfishsdk, pull requests merged in 2023-11, with the labels that each got.

#2162 chore(): `4.0.0-rc2`
  apps/whale-api/docker-compose.yml
  packages/jellyfish-api-core/__tests__/category/loan/withdrawFromVault.test.ts
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.locks.token.test.ts
  packages/jellyfish-api-core/__tests__/category/vault/withdrawFromVault.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/NativeChainContainer.ts
  packages/testcontainers/src/containers/RegTestContainer/index.ts
Labels: kind/chore, area/packages, area/apps, apps/whale-api

#2165 feat(jellyfish-api-core): enable dusd vault loop gov attribute in playground
  apps/playground-api/__tests__/modules/PlaygroundModule.test.ts
  apps/playground-api/src/setups/setup.gov.ts
Labels: kind/feature, area/apps, apps/playground-api

#2168 chore(): 4.0.0 stable
  apps/whale-api/docker-compose.yml
  packages/jellyfish-api-core/__tests__/category/masternode/setGov.locks.token.test.ts
  packages/testcontainers/src/containers/DeFiDContainer.ts
  packages/testcontainers/src/containers/NativeChainContainer.ts
Labels: kind/chore, area/packages, area/apps, apps/whale-api

#2169 fix(whale-api): add reindex for failed to indexed block
  apps/whale-api/src/module.indexer/rpc.block.provider.ts
  apps/whale-api/src/module.indexer/status.ts
Labels: kind/fix, area/apps, apps/whale-api

#2170 fix(whale-api): Fix swap tx not found index
  apps/whale-api/src/module.indexer/model/dftx/composite.swap.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.pair.path.mapping.ts
  apps/whale-api/src/module.indexer/model/dftx/pool.swap.ts
Labels: kind/fix, area/apps, apps/whale-api
